@import url(//fonts.googleapis.com/css?family=RobotoDraft&lang=en);

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: 'RobotoDraft', Arial, sans-serif;
}

nav dl {
    margin: 20px;
}

dt {
    cursor: pointer !important;
}

dt:focus,
a:focus {
    background-color: #c0c0c0;
    outline: none !important;
}

audio,
video {
    width: 100%    !important;
    height: auto   !important;
}

a,
a:visited {
    text-decoration: none;
    color: #000000;
    display: block;
}

dt,
dl a,
dd a {
    padding-top: 5px;
    padding-bottom: 5px;
}


a.sidenavlinksactive {
    color: #0000FF;
    text-decoration: none;
}

/** fix for IE which does not adjust toolbar height **/
md-toolbar {
    min-height: 64px !important;
    max-height: 64px !important;
}

footer {
    background-color: #000000;
    height: 100px;
    color: #000000;
}

h2 {
    margin-bottom: 5px;
    margin-left: 0px;
}

.mainScrollEnabled {
    overflow: scroll !important;
}

.mainScrollDisabled {
    overflow: hidden !important;
}

.homeText {
    overflow: hidden;
    margin-bottom: 50px;
}

.homeVignetteBar {
    height: 300px !important;
}

.homeVignette {
    cursor: pointer;
    background-size: auto 100%;
    width: 100%;
    height: 300px !important;
    overflow: hidden;
    background-repeat:no-repeat;
    background-position: center;
}

.homeVignetteBackdrop {
    background: rgba(255,193,7, .1);
    width: 100%;
    height: 100%;
    color: transparent;
}

.homeVignetteBackdrop:hover {
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    color: #FFFFFF;
}

.homelanguage {
    max-width: 40px !important;
    min-width: 40px !important;
    max-height: 36px !important;
    min-height: 36px !important;
}

#scrollContainer {
    /*background-color: #000000;*/
}

.expandButton {
    width: 100%;
    border-radius: 0 !important;
    padding: 0 !important;
    margin: 6px 0px !important;
}

.partial {
    background-color: #FFFFFF;
}

.partialContent {
    margin-bottom: 100px;
}

.submenuitem {
    overflow: hidden;
}

.submenuitem.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.openclosesidebar,
.slideshowicons {
    fill: #333333;
}

.screenReadersOnly {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    position: absolute !important;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#searchWidget {
    width: 250px;
}

#searchWidget md-content form {
    width: 100%;
}

.backgroundPictureSection {
    width: 100%;
    height: 400px !important;
    overflow: hidden;
    background-repeat:no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.backgroundPictureSection a {
    color: #ffffff;
    text-decoration: underline;
}

.sectionBanner {
    color: #FFFFFF;
    background-color: #000000;
    /*background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,9,9,9), rgba(1,1,1,1)); /!* For Safari 5.1 to 6.0 *!/
    background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,9,9,9), rgba(1,1,1,1)); /!* For Opera 11.1 to 12.0 *!/
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,9,9,9), rgba(1,1,1,1)); /!* For Firefox 3.6 to 15 *!/
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,9,9,9), rgba(1,1,1,1)); /!* Standard syntax (must be last) *!/*/
    width: 100%;
    opacity: 0.7;
    /*padding-bottom: 10px;*/
}

.more {
    padding: 20px;
    background-color: #EEEEEE;
}

.sectionLink {
    min-width: 50px;
    width: 15%;
    outline: none !important;
}


.slider,
.slide {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slidercontrol {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: #000000;
    opacity: .9;
    color: #FFFFFF;
}

.sliderimage {
    width: 100%;
    z-index: 9;
}

.slide.ng-hide-add.ng-hide-add-active,
.slide.ng-hide-remove {
    opacity: 0;
}
.slide.ng-hide-add,
.slide.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

.level03-toc {
    border-left: 3px solid;
    border-left-color: #333333;
    margin: 40px;
}

.level03-toc li {
    list-style: none;
    padding-top: 10x;
    padding-bottom: 10px;
}

.level03 {
    margin-top: 40px;
}


/* ================================================================== */

/*  This area is currently under testing for styling Enable content August 2015 */

/* ------- Custom icons at front of lists ------------ */
ul.ticklist, ol.ticklist {
    list-style-image: url('views/icons/widgets/checklist/checkmark-thick.svg');
}
ul.dashlist, ol.dashlist {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
ul.dashlist li, ol.dashlist li {
    padding-left: 5px;
    /*text-indent: -1em;*/
}
ul.dashlist li:before, ol.dashlist li:before {
    /*content: "—"; *//* Long dash char */
    content: "-";       /* short dash char */
    padding-right: 10px;
}

/* -------------- Section detail is formatting for all content text ----------- */
.partialContent {
    /*margin-top:-10px;*/
    font-family:"HelveticaNeueW01-45Ligh", "Arial", sans-serif;
    color: black;
}
.partialContent html {
    margin: auto;
}
.partialContent strong, .hmsfooter strong {
    font-family:"HelveticaNeueW01-75Bold", "Arial", sans-serif;
    font-weight: normal !important;
}
.partialContent ul, .partialContent ol {
    margin: -0.5em 0 0.5em;
    padding-left: 20px;
}
.partialContent li {
    line-height: 1.55em;
    font-size: 1.1em;
}

.partialContent table {
    width:100%;
}
.partialContent table, .partialContent th, .partialContent td {
    border-collapse: collapse;
}
.partialContent th, .partialContent td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid black;
    border-left: none;
}
.partialContent td {
    border-right: 1px solid black;
}
.partialContent th	{
    /* font-family:"HelveticaNeueW01-75Bold", "Arial", sans-serif; */
}
.partialContent td:first-child {
    /*   font-family:"HelveticaNeueW01-75Bold", "Arial", sans-serif; */
}
.partialContent td:last-child {
    border-right: none;
}
.partialContent h2 {
    font-family:"HelveticaNeueW01-45Ligh", "Arial", sans-serif;
    font-size: 1.65em;
    font-weight: normal !important;
    margin: 0.33em 0 0.66em;
    line-height: 1.25em;
}
.partialContent h3 {
    font-family:"HelveticaNeueW01-45Ligh", "Arial", sans-serif;
    font-size: 1.65em;
    font-weight: normal !important;
    margin: 1.2em 0 0.66em;
    line-height: 1.25em;
}
.partialContent h4 {
    font-weight: normal !important;
    font-size: 1.4em;
    margin: 0.9em 0 0.3em;
}
.partialContent h5 {
    text-transform: none;
    margin: 1em 0 0;
    line-height: 1.35em;
    font-size: 1.1em;
    font-family:"HelveticaNeueW01-75Bold", "Arial", sans-serif;
    font-weight: normal !important;
}
.partialContent p {
    line-height: 1.55em;
    font-size: 1.1em;
    margin: 0 0 1em;
}
.partialContent a:link {
    color: black;
    text-decoration: none;
}
.partialContent .hmsquiz a:link {
    text-decoration: underline;
}
.partialContent a.md-button {
    border-radius: 0;
}
.partialContent a:visited {
    color: black;
    text-decoration: none;
}
.partialContent a:hover {
    color: rgb(63,81,181);
    text-decoration: none;
}
.slideable_content > img {
    max-width: 100%;
    margin: 0 0 1em;
}
.partialContent h2+ul, .partialContent h3+ul, .partialContent h4+ul, .partialContent h5+ul, .partialContent h6+ul {
    line-height: 1.55em;
    font-size: 1.1em;
    margin: 0 0 1em;
}
.partialContent_open {
    padding: 50px 30% 50px 7%;
}
.partialContent_closed {
    padding: 0;
}


/* Directives */

.enablegreybox {
    background-color: #f5f5f5;
    padding: 15px;
    font-family: "HelveticaNeueW01-55Roma", Arial, sans-serif;
}

/* ==================================================================== */

/*** for all mobile only css ***/
@media (max-width: 600px) {

    /** fix for IE which does not adjust toolbar height **/
    md-toolbar {
        min-height: 120px !important;
        max-height: 120px !important;
    }

    footer img {
        width: 60%;
    }

    #searchWidget {
        width: 100%;
    }

    .backgroundPictureSection {
        background-size: auto 100%;
    }

    .homeVignetteBar {
        height: 200px !important;
    }

    .homeVignette {
        background-size: 100% auto;
        height: 100% !important;
    }

    .homeText {
        /*margin-bottom: -50px;*/
    }
}