html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;

}

nav dl {
    margin: 20px;
}

dt {
    cursor: pointer !important;
}

dt:focus,
a:focus {
    background-color: #c0c0c0;
    outline: none !important;
}

audio,
video {
    width: 100%    !important;
    height: auto   !important;
}


dd a,
dd a:visited {
    text-decoration: none;
    color: #000000;
    display: block;
}

dd a.sidenavlinksactive,
dd a.sidenavlinksactive:visited {
    color: #8BC34A;
    text-decoration: none;
}

.submenuitem {
    overflow: hidden;
}

.submenuitem.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.openclosesidebar {
    fill: #FFFFFF;
}

.screenReadersOnly {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    position: absolute !important;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#searchWidget {
    width: 250px;
}

#searchWidget md-content form {
    width: 100%;
}

.backgroundPictureSection {
    width: 100%;
    height: 400px !important;
    overflow: hidden;
    background-repeat:no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.backgroundPictureSection a {
    color: #ffffff;
    text-decoration: underline;
}

.sectionBanner {
    color: #FFFFFF;
    background-color: #333333;
    width: 100%;
    opacity: 0.8;
    padding-bottom: 10px;
}

.more {
    padding: 20px;
    opacity: 1;
    max-height: 2000px;
    -webkit-transition: max-height ease-in 1.5s;
    -moz-transition: max-height ease-in 1.5s;
    transition: max-height ease-in 1.5s;
}

.more.ng-hide {
    max-height: 0;
    opacity: 0;
    -webkit-transition: max-height 0s;
    -moz-transition: max-height 0s;
    transition: max-height 0s;

}

.sectionLink {
    width: 15%;
    outline: none !important;
}

/*** for all mobile only css ***/
@media (max-width: 600px) {
    /** fix for IE which does not adjust toolbar height **/
    md-toolbar {
        min-height: 120px !important;
    }

    dd a {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #searchWidget {
        width: 100%;
    }

    .backgroundPictureSection {
        background-size: auto 100%;
    }
}