<div ng-controller="HomeCtrl">
    <h1>Ma page vidéo</h1>

    <nav aria-label="Main page sub-navigation">
        <ul>

            <li ng-show="!localmode"><a href="#home/#youtubevideo">Video from youtube</a></li>
            <li ng-show="localmode"><a href="#home/#localvideo">Video loaded locally</a></li>
            <li><a href="#home/#audiovideo">Audio loaded locally</a></li>

        </ul>
    </nav>

    <p>Cette page présente une vidéo qui peut être jouée en tabbant jusqu'au bouton 'play'</p>

    <div>
        <enable-youtube vidid="AZhcZ7AILf0" cclang="fr" ng-show="!localmode"></enable-youtube>

        <hr>

        <enable-video vidid="enable-1000" cclang="fr" ng-show="localmode"></enable-video>

        <div id="audiovideo" style="margin-top: 25px">
            <h2>Son chargé localement</h2>

            <audio controls>
                <source src="assets/snds/enable.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
    </div>
</div>
