<div ng-controller="HomeCtrl">

    <h2><!-- START headline -->Demo with bjørn and yngve<!-- END headline --></h2>

    <p><!-- START intro -->And it has <b>i18n</b> support!<!-- END intro --></p>

    <hr>


    <div ng-show="!localmode">
        <h2><!-- START video title -->Video loaded from youtube<!-- END video title --></h2>

        <iframe width="640" height="360" src="//www.youtube.com/embed/AZhcZ7AILf0" frameborder="0" allowfullscreen=""></iframe>

        <hr>
    </div>

    <div ng-show="localmode">
        <h2><!-- START video title -->Video loaded locally<!-- END video title --></h2>

        <video width="640" height="360" controls="" poster="assets/pics/enable__00_00_00_00.png">
            <source src="assets/vids/enable-1000.mp4" type="video/mp4">
            <track kind="captions" src="assets/vids/subs.srt" type="text/vtt" srclang="en" label="English Subtitles" default=""></track>
        </video>
    </div>
</div>
