<div ng-controller="HomeCtrl">
    <h1>Ma page vidéo</h1>

    <nav aria-label="Main page sub-navigation">
        <dl>
            <dd layout="column">
                <a href="#home/#youtubevideo" ng-show="!localmode">Video from youtube</a>
                <a href="#home/#localvideo" ng-show="localmode">Video loaded locally</a>
                <a href="#home/#audiovideo">Audio loaded locally</a>
            </dd>
        </dl>
    </nav>

    <p>Cette page présente une vidéo qui peut être jouée en tabbant jusqu'au bouton 'play'</p>

    <div>
        <div id="youtubevideo" ng-show="!localmode">
            <h2>Vidéo provenant de youtube</h2>

            <span class="screenReadersOnly">For a fully keyboard-accessible alternative to this video, view it in Chrome or on any Android or iOS device, view it in Firefox with the YouTube ALL HTML5 add-on installed, or disable Flash in Internet Explorer.</span>

            <div class="videoWrapper">

                <iframe aria-label="Youtube video iframe" width="640" height="360" src="//www.youtube.com/embed/AZhcZ7AILf0?html5=1&controls=1&autohide=0&rel=0&showinfo=0&hl=fr" frameborder="0" allowfullscreen></iframe>
            </div>

        </div>

        <hr>
        <div id="localvideo" ng-show="localmode">
            <h2>Vidéo chargée localement</h2>

            <video width="640" height="360" controls="true" poster="assets/pics/enable__00_00_00_00.png">
                <source src="assets/vids/enable-1000.mp4" type="video/mp4">
                <track kind="captions" src="assets/vids/subs_fr.srt" type="text/vtt" srclang="fr" label="French Subtitles" default=""></track>
            </video>

        </div>
        <div id="audiovideo" style="margin-top: 25px">
            <h2>Son chargé localement</h2>

            <audio controls>
                <source src="assets/snds/enable.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
    </div>
</div>
