<div ng-controller="HomeCtrl">

    <h2><!-- START headline -->ugha ilianza takriban miaka 800-1000 iliyopita katika mazingira ya vituo vya biashara vya pwani ambako wafanyabiashara kutoka Uarabuni, Uajemi na Uhindi walikutana na wenyeji Waafrika. Lugha kuu ya kimataifa ya biashara hiyo ilikuwa Kiarabu.

Inaonekana ya kwamba lugha mpya ilijitokeza wakati wenyeji wa pwani, waliokuwa wasemaji wa lugha za Kibantu, walipopokea maneno mengi hasa ya Kiarabu katika mawasiliano yao. Kwa hiyo msingi wa Kiswahili ni sarufi na msamiati wa Kibantu pamoja na maneno mengi ya Kiarabu. Imekadiriwa ya kwamba theluthi moja ya maneno ya Kiswahili yana asili ya Kiarabu.

Kando ya Kiarabu kuna pia athira ya lugha mbalimbali kama Kiajemi, Kihindi na Kireno.

Kuanzia karne ya 20 hadi sasa maneno mengi yamepokewa kutoka Kiingereza.

Kwa karne nyingi iliandikwa kwa herufi za Kiarabu (سواحلي sawaHili au لغة سواحيلية lugha sawaHiliya).

<!-- END headline --></h2>

    <p><!-- START intro -->And it has i18n support!<!-- END intro --></p>

    <hr>


    <div ng-show="!localmode">
        <h2><!-- START video title -->Video loaded from youtube<!-- END video title --></h2>

        <iframe width="640" height="360" src="//www.youtube.com/embed/AZhcZ7AILf0" frameborder="0" allowfullscreen=""></iframe>

        <hr>
    </div>

    <div ng-show="localmode">
        <h2><!-- START video title -->Video loaded locally<!-- END video title --></h2>

        <video width="640" height="360" controls="" poster="assets/pics/enable__00_00_00_00.png">
            <source src="assets/vids/enable-1000.mp4" type="video/mp4">
            <track kind="captions" src="assets/vids/subs.srt" type="text/vtt" srclang="en" label="English Subtitles" default=""></track>
        </video>
    </div>
</div>
