<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <section layout="column" aria-label="Inclusion of learners with visual impairment">
        <div class="backgroundPictureSection" layout="column" layout-align="end start" ng-style="{'background-image': 'url(../assets/pics/africa01.jpg)'}">
            <div class="sectionBanner" layout="row" layout-padding>
                <span class="screenReadersOnly">Banner image description comes here</span>
                <div>
                    <h2>Introduction</h2>
                </div>
            </div>
        </div>
    </section>
    <div flex class="partialContent" layout-padding >
        C'est une introduction fantastique
    </div>

    <enable-footer></enable-footer>
</div>
