<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa01.jpg" picalt="Banner image description comes here" title="Vision and the visual system"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <p>Vision can simply refer to ability to see which is enabled by the sensory system. Sensory system is a part of the nervous system responsible for processing sensory information. What the eye sees is what we refer to as sensory information. In the process of see the information is processed through a visual system which includes the sense organ (eye), the receptors-rods and cones, and finally the whole process of visual pathways which starts from eye to the brain.</p>

        <!--   need read more -->

        <enable-more-button>yoyo</enable-more-button>


        <p>some text</p>

        <!--  end readmore -->
        <enable-more-button>yaya</enable-more-button>

        <div enablegreybox e-type="warning">This is a test for the enableGreybox directive</div>
        <enable-quiz e-id="1" e-shuffle-questions="true"></enable-quiz>

    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
