<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">

    <enable-section-header picpath="africa01.jpg" picalt="Inclusion of learners with visual impairment" title="Introduction"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        C'est une introduction fantastique

        <enable-video vididlc="enable-1000" vididyt="AZhcZ7AILf0" cclang="en" localmode="localmode"></enable-video>

    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
