<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">

    <enable-section-header picpath="forside2.jpg" picalt="Banner image description comes here" title="Vision and the visual system"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <div layout-padding layout="column" class="partialContent">
            <p>Vision can simply refer to ability to see which is enabled by the sensory system.
                Sensory system is a part of the nervous system responsible for processing sensory information.

                What the eye sees is what we refer to as sensory information.</p>

            <p>In the process of see the information is processed through a visual system which includes:</p>
            <ul>
                <li>the sense organ (eye)</li>
                <li>the receptors-rods and cones</li>
                <li>the whole process of visual pathways which starts from eye to the brain.</li>
            </ul>
            <h3>Courtesy rules of blindness</h3>
            <enable-grey-box>
                <ol>
                <li>He/she is an ordinary person – just blind</li>
                <ul>
                    <li>You do not need to raise your voice</li>
                <li>Do not address him/ her as if to a child</li>
                <li>Do not ask other people question that he/she could answer e.g what does he want, what is her name?</li>
                </ul>
            <li>He may use a long cane to walk independently; he may also take your arm for sighted guidance.</li>
                <ul>
                    <li>Let her decide for herself</li>
                <li>Do not grab her arm let her take your instead</li>
                <li>He will take a help step behind you to anticipate Potholes, steps and other barriers</li>
                <li>Guide him to a chair by placing his palm on the back or seat of the chair.</li>
                </ul>
            <li>Announce you presence whenever you enter or leave a room where there is a blind people.</li>
<ul>
                <li>Speak when you enter </li>
    <li>Introduce him to others including children</li>
    <li>Let him know if there is a cat or dog in the house or elsewhere</li>
    <li>Prompt him whenever extending a hand for greetings</li>
</ul>
            <li>Any door left partially open is a hazard to the blind person</li>
<ul><li>Rooms, windows, cabinets, drawers should be left either completely open or completely closed</li></ul>
            <li>They have no problems with ordinary table skills</li>
            <li>Do not avoid words like ”see”, she is always gld to see you</li>
            <li>Do not pity him – but avoid talking about the ”wonderful compensations” of blindness.</li>
<ul><li>The sense of smell, touch and/or hearing did not improve when blindness stuck – He relies on them more and therefore thy may provide more information to him than to you.</li></ul>
            <li>Always  familiarize a blind person to a new environment. If she is you house guest – show her the bathroom, tables, windows, switches.</li>
            <li>If you are curious about blindness ask a few questions. To her its an old story, she has other interests like any other person</li>
            <li>Do not think of him as just a blind person, he is just a person who happens to be blind.</li>
            <li>You do not have to remember som politically correct terms such as visually impaired or visually challenged – keep it simple and honest, just say blind.</li></ol>
        </enable-grey-box>
        </div>
    </div>




    <div ng-include src="'partials/templates/footer-template.html'"></div>

</div>