<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="[PICTURE DESCRIPTION]" title="The eye"></enable-section-header>
    
    <div layout-padding layout="column" class="partialContent">
       
        <p>The eye is described as the most important avenue for personal consciousness.</p>
<!--   need quotebox for next sentence -->
<p>80% of the information we receive about external world reaches us through the eyes. Eyes are the two organs on the face that we use for seeing.</p>
        <p>The eye is a complicated organ with various structures which work together as a vision system.</p>
        <!--   image of eye in here-->
        <p>Some of the most important parts of the eye and their specific roles are:</p>
        <ul>
        <li><strong>The pupil</strong> is the black circular opening in the iris. Its role is to allow light in. It therefore regulates the amount of light entering the eye.</li>
        <!--   Read more about the pupul -->
        <p>The pupil size is regulated by the ciliary muscles. In contracts and expands depends on the situation of the light. When the light is bright the pupil contracts and when the light is not that bright it expands. Light makes the pupil to find and make its own appropriate side to let light in. This phenomenon has a practical demand in reading contexts; it is not advised to read in a too bright light or too dim light. In a situation of too bright light or too dim light forces the pupil to use much energy with no reason. Therefore parents may wish to advise their children about the importance or reading in a place with appropriate light. The same applies to teachers, let students know how light can affect their visual system and help them in finding reasonable light for reading.</p>
        <li><strong>The conjunctiva</strong> is a thin layer of tissues covering the front of the eye. It lines the inside of the eyelids and covers the sclera.</li>
        <li><strong>The cornea</strong> protects the lens. It is the transparent front part of the eye that covers the iris, pupil, and anterior chamber.</li>
        <li><strong>The iris</strong> is a thin, circular structure in the eye, responsible for controlling the diameter and size of the pupil and thus the amount of light reaching the retina.</li>
        <li><strong>The lens</strong> allows the light to enter the eye. It is the lens which focuses light on the back of the eye. The lens is situated behind the iris.</li>
        <li><strong>The retina</strong> is a layer of membrane at the eye and sensitive to light. Retina sends an image seen by the eye to the brain.</li>
        <li><strong>The optic nerve</strong> is a paired nerve that transmits visual information from the retina to the brain.</li>
        <li><strong>The sclera</strong> is the white part of the eye which has a thick layer which form the outer part of the eye.</li>
        </ul>
       
        <!--   quickqestion in here with this text -->
        <enable-quick-question e-question=" Did you know?" e-answer="Did you know that the iris gives the eye its color."></enable-quick-question>
        
        <br>
        <p>Each part has an important role to play. In education setting, teachers need to know the experience of their students about eye conditions and experiences in the process of teaching and learning.</p>
    
</div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
