<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="forside.jpg" picalt="[PICTURE DESCRIPTION]" title="[TITLE_HERE]"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">

       <h2>Here are samples of new widgets moved from the HMS project</h2>
        <enable-grey-box e-type="warning">This is a test for the enableGreybox directive - WARNING</enable-grey-box>
        <!--enable-quiz e-id="1" e-shuffle-questions="true"></enable-quiz-->
        <enable-quick-question e-question="Asking a question?" e-answer="This is the answer"></enable-quick-question>
        <enable-link href="http://www.google.com">Google Link!</enable-link>
        <enable-quotebox e-type="story"> This is the quote box STORY content </enable-quotebox>
        <enable-quotebox e-type="quote"> This is the quote box QUOTE content </enable-quotebox>
        <enable-quiz></enable-quiz>
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
