<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="../assets/pics/africa00.jpg" picalt="[PICTURE DESCRIPTION]" title="The eye"></enable-section-header>
    
    <div layout-padding layout="column" class="partialContent">
        <p>The eye is described as the most important avenue for personal consciousness and it is estimated that 90% of the information we receive about external world reaches us through the eyes. Eyes are the two organs on the face that we use for seeing.</p>

        <p>The eye is a complicated organ with various structures which work together as a vision system. The parts of the eye includes: cornea, iris, lens, retina, optic nerve, eyelashes, conjunctiva, sclera, pupil, eyelid and eyebrow. Each part has an important role to play. In education setting, teachers need to know the experience of their students about eye conditions and experiences in the process of teaching and learning.</p>

    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
