<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="[PICTURE DESCRIPTION]" title="Vision and the visual system"></enable-section-header>
    
    <div layout-padding layout="column" class="partialContent">
        <p>Vision can simply refer to ability to see which is enabled by the sensory system. Sensory system is a part of the nervous system responsible for processing sensory information. What the eye sees is what we refer to as sensory information. In the process of see the information is processed through a visual system which includes the sense organ (eye), the receptors-rods and cones, and finally the whole process of visual pathways which starts from eye to the brain.</p>

        <p>The process include eye-part and specific role as follows;<br>
            <strong>The pupil</strong> is the black circular opening in the iris. Its role is to allow light in. It therefore regulates the amount of light entering the eye. The pupil size is regulated by the ciliary muscles. In contracts and expands depends on the situation of the light. When the light is bright the pupil contracts and when the light is not that bright it expands. Light makes the pupil to find and make its own appropriate side to let light in. This phenomenon has a practical demand in reading contexts; it is not advised to read in a too bright light or too dim light. In a situation of too bright light or too dim light forces the pupil to use much energy with no reason. Therefore parents may wish to advise their children about the importance or reading in a place with appropriate light. The same applies to teachers, let students know how light can affect their visual system and help them in finding reasonable light for reading.
        </p>

        <p><strong>The conjunctiva</strong> is a thin layer of tissues covering the front of the eye with exception to <strong>cornea</strong> which protects <strong>the lens</strong> in which the light enters the eye. It is the lens which focuses light on the back of the eye. The lens is situated behind the iris.<br>
            <strong>Sclera</strong> is a white part of the eye which has thick layer which form the outer part of the eye. <strong>Retina</strong> is a layer of membrane at the eye and sensitive to light.  Retina sends an image seen by the eye to the brain.
        </p>
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
