<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="../assets/pics/africa00.jpg" picalt="[PICTURE DESCRIPTION]" title="The eye"></enable-section-header>
    
    <div layout-padding layout="column" class="partialContent">
       
        <p>The eye is described as the most important avenue for personal consciousness.</p>
<!--   need quotebox for next sentence -->
<p>80% of the information we receive about external world reaches us through the eyes. Eyes are the two organs on the face that we use for seeing.</p>
        <p>The eye is a complicated organ with various structures which work together as a vision system.</p>
        <!--   image of eye in here-->
        <p>Some of the most important parts of the eye are:</p>
        <ul><li><strong>Cornea</strong> is the transparent front part of the eye that covers the iris, pupil, and anterior chamber.</li>
        <li><strong>Iris</strong> is a thin, circular structure in the eye, responsible for controlling the diameter and size of the pupil and thus the amount of light reaching the retina.</li>
        <li><strong>Lens</strong> is a transparent, biconvex structure in the eye that, along with the cornea, helps to refract light to be focused on the retina.</li>
        <li><strong>Retina</strong> is the third and inner coat of the eye which is a light-sensitive layer of tissue.</li>
        <li><strong>Optic nerve</strong> is a paired nerve that transmits visual information from the retina to the brain.</li>
        <li><strong>The conjunctiva</strong> lines the inside of the eyelids and covers the sclera.</li>
        <li><strong>The sclera</strong> is the white part of the eye.</li>
        </ul>
       
        <!--   quickqestion in here with this text -->
        <p>Did you know that the iris gives the eye its color.</p>
        <p>Each part has an important role to play. In education setting, teachers need to know the experience of their students about eye conditions and experiences in the process of teaching and learning.</p>
<h3>What is visual impairment</h3>
<p>Visual impairment refers to a significant functional loss of vision. This functional loss differs from low visual loss to total vision loss. Visual impairment or low vision refers to severe reduction in vision.</p>
<ul>
    <li>A person with low visual functional loss has a possibility to see based on refractive corrections.</li>
<li>Blindness refers to inability to see. Therefore a blind person is unable to see.</li>
</ul>    
</div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
