<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="whatisvisualimpariment.jpg" picalt="[PICTURE DESCRIPTION]"
                           title="What is visual impairment?"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">

        <br>

        <p>Visual impairment refers to a significant functional loss of vision. This functional loss differs from low
            visual loss to total vision loss. Visual impairment or low vision refers to severe reduction in vision.</p>
        <ul>
            <li>A person with low visual functional loss has a possibility to see based on refractive corrections.</li>
            <li>Blindness refers to inability to see. Therefore a blind person is unable to see.</li>
        </ul>

        <br>

        <h3>Causes of visual impairment</h3>

        <p>Visual impairment can be caused by various factors including prenatal, neonatal and postnatal factors. It
            simply causes of visual impairment a person get as a consequences of living style of pregnant mothers which
            affect the child before birth, another situation may occur during birth especially issues related to
            infections and accidents or trauma and finally environment factor a person encounter in the surroundings
            including nutrition, accidents, infections or diseases.</p>

        <h4>Two ways of identifying causes of visual impairment</h4>

        <p>Professionals have identified causes of visual impairment in different ways. There are those who identified
            the causes of visual impairment under three categories:</p>

        <ul>
            <li>Uncorrected refractive errors including myopia, hyperopia and astigmatism.</li>
            <li>Un-operated cataract</li>
            <li>Glaucoma</li>
        </ul>

        <h4>Another way of identifying causes of visual impairment has been basing on the following conditions:</h4>

        <ul>
            <li><strong>Cataracts</strong> are congenital and pediatric pathology that describes the greying or opacity
                of the crystalline lens

                <enable-read-more label="Read more about cataract">In case of adults cataracts is associated with aging. As
                    we age we are likely to experience cataract. There is a possibility of reducing risk to experience
                    cataract by avoiding smoking and extensive exposure to sunlight.
                </enable-read-more>
            </li>


            <li><strong>Retinitis pigmentosa</strong> is a group of genetic disorders that affect the retina's ability
                to respond to light. This inherited disease causes a slow loss of vision.

                <enable-read-more label="Read more about retinitis pigmentosa">Retinitis pigmentosa causes permanent changes
                    to your vision, but how much and how quickly can really vary from person to person. These retinal
                    changes can affect your side vision, which makes it harder for you to see in dim light or the dark, and
                    central vision, which causes difficulty with detailed activities such as reading or watching television.
                </enable-read-more>
            </li>


            <li><strong>Congenital rubella syndrome (CRS)</strong> can occur in a developing fetus of a pregnant woman
                who has contracted rubella. CRS can cause sensorineural deafness (58% of patients) or eye abnormalities
                — especially retinopathy, cataract, and microphthalmia (43% of patients).

                <enable-read-more label="Read more about congenital rubella syndrome">Congenital rubella syndrome is ...</enable-read-more>
            </li>


            <li><strong>Usher syndrome</strong> is a relatively rare genetic disorder caused by a mutation in any one of
                10 genes resulting in a combination of hearing loss and visual impairment, and is a leading cause of
                deafblindness. Usher syndrome is incurable at present.
                <enable-read-more label="Read more about usher syndrome">Usher syndrome is characterized by hearing loss and
                    a gradual visual impairment. The hearing loss is caused by a defective inner ear, whereas the vision
                    loss results from retinitis pigmentosa (RP).
                </enable-read-more>
            </li>


            <li><strong>Aids</strong> causes both visual and hearing impairment.
                <enable-read-more label="Read more about aids">Aids ...</enable-read-more>
            </li>


            <li><strong>Malaria</strong> can cause brain haemorrage, although rare.
                <enable-read-more label="Read more about malaria">Brain hemorrhage is sometimes associated with severe
                    cerebral malaria (caused by infection with Plasmodium falciparum, the most deadly form of malaria). This
                    bleeding in the brain could cause blindness—whether the visual impairment is permanent or not depends on
                    the extent of the bleeding and how much damage it caused.
                </enable-read-more>
            </li>

            <li><strong>Corneal opacification</strong> can cause anything from minor irritation to vision problems and
                even blindness.

                <enable-read-more label="Read more about corneal opacification">The cornea is the clear, dome-shaped area
                    that covers the front of the eye. Light passes through the cornea before reaching the retina in the back
                    of the eye, and so it must remain clear so light can pass through. Injury, infection, and certain eye
                    diseases can cause corneal opacities.
                </enable-read-more>
            </li>

            <li><strong>Refractory errors </strong>include myopia (nearsightedness), hyperopia (farsightedness) and
                astigmatism (blurred or distorted vision).

                <enable-read-more label="Read more about refractory errors">
                    <strong>Myopia</strong> also called ‘nearsightedness’ it is most common refractive error of the eyes.it is a condition in which objects
                    which are close are seen clearly but objects which are farther away seem to be blurred. This condition
                    can be corrected by eyeglasses, or contact glasses. There have been worried whether myopia is inherited,
                    reports show that myopia is not inherited; it is a condition which may be due to excessive reading and
                    doing other close to eyes work. And it ranges from mild moderate to severe conditions. A good thing is
                    myopia can be prevented.
                    <br>

                    <p><strong>Hyperopia</strong> is also called farsightedness a common type of refractive error where
                        distant objects may be seen more clearly that objects which are near. Therefore for people with
                        hyperopia can see distant object very well by experience problems with objects that are close.
                        Hyperopia is considered to be a common vision problem. It can be corrected by eyeglasses and contact
                        lenses, it is not possible to cure situation just corrected situation only. It is also reported that
                        surgery may reduce dependency to glasses.</p>
                    <br>

                    <p><strong>Astigmatism</strong> is a common and usually minor condition of the eye that cause blurred or
                        distorted vision. It is a common type of refractive error. The condition in which they eye does not
                        focus light evenly onto the retina.
                        In case of astigmatism, the following may handle the situation; use of corrected eyeglasses and
                        contact lenses and finally may include refractive surgery. The signs and symptoms of a person with
                        astigmatic include headache, eyestrain, and blurred vision at all distances.</p></enable-read-more>
            </li>

            <li><strong>Injuries</strong> can cause visual impairment. People who has been involved in accidents often
                need rehabilitation, training in communication and activity daily living.

            </li>

            <li><strong>Infections</strong> are conditions which may contribute to visual impairment.
                <enable-read-more label="Read more about infections">For example, for children, causes may be related to
                    their mother’s pregnancy such as congenital rubella syndrome and retinopathy of prematurity. Other
                    infections include leprosy and trachoma. It is approximated that one million people with leprosy live in
                    developing countries including Kenya, Tanzania and Uganda. In case of trachoma the eyes are infected by
                    bacterium chlamydia trachomatis. Trachoma infection is through contact with an infected person’s hand.
                    It is possible to avoid risk of trachoma infection through public health services.
                </enable-read-more>
            </li>
        </ul>
        <br>

        <enable-quick-question e-question="Did you know..." e-answer="Did you know that 90% of people who are visually impaired live in the developing world. For developed world causes for visual impairments are said to be age-related macular degeneration, glaucoma and diabetic retinopathy."></enable-quick-question>
        <iframe frameborder="0" width="100%" height="567" src="http://interaktivideo.github.io/beforeafterjux.html"></iframe>
        <ul>
            <li><strong>Age-related macular degeneration </strong> is the leading cause of severe vision loss in people
                over age 60.

                <enable-read-more label="Read more about age-related macular degeneration">A form of macular degeneration is
                    characterized by the presence of yellow deposits, called drusen, in the macula. A few small drusen may
                    not cause changes in vision; however, as they grow in size and increase in number, they may lead to a
                    dimming or distortion of vision that people find most noticeable when they read.
                </enable-read-more>
            </li>

            <li><strong>Glaucoma</strong> is congenital and pediatric eye disease characterized with increased pressure
                within.
                <enable-read-more label="Read more about glaucoma">Glaucoma associated with intraocular pressure. For
                    children, most common cause of pediatric glaucoma is cataract removed surgery.
                </enable-read-more>
            </li>

            <li><strong>Diabetic retinopathy</strong> is an ocular manifestation of diabetes which affects up to 80
                percent of all patients who have had diabetes for 10 years or more. It can eventually lead to blindness.
                <enable-read-more label="Read more about diabetic retinopathy">Diabetic retinopathy often has no early
                    warning signs. Even macular edema, which can cause rapid vision loss, may not have any warning signs for
                    some time. In general, however, a person with macular edema is likely to have blurred vision, making it
                    hard to do things like read or drive. In some cases, the vision will get better or worse during the day.
                </enable-read-more>
            </li>
        </ul>

        <br>
        <h5>Other causes for visual impairment are:</h5>
        <br>

        <ul>
            <li><strong>Rubella syndrome.</strong> Causes may be related to mother’s pregnancy such as congenital and
                retinopathy of prematurity.
            </li>
            <li><strong>Leprosy.</strong> Approximately one million people live with leprosy in developing countries
                including Kenya, Tanzania and Uganda.
            </li>
            <li><strong>Trachoma.</strong> In case of trachoma the eyes are infected by bacterium chlamydia trachomatis.
                Trachoma infection is through contact with an infected person’s hand.
            </li>
        </ul>

        <enable-grey-box e-type="warning">It is possible to avoid risk of trachoma infection through public health services</enable-grey-box>

        <ul>
            <li><strong>Genetic defects</strong> have been associated with the conditions of people with albinism.
                <enable-image picname="albinisme.jpg" picalt="A child with visual loss caused by albinism."></enable-image>

                <enable-read-more label="Read more about genetic defects">It is often reported that people with albinism
                    have visual loss. The magnitude of the vision loss differs from one person to another.
                </enable-read-more>
            </li>
            <li><strong>Poisoning</strong> is also mentioned among possible causes of visual loss. In taking of
                chemicals like methanol is like to cause blindness.
            </li>
            <li><strong>Vitamin ‘A’ deficiency.</strong> Eye condition due to causes of vitamin ‘A’.</li>
        </ul>
        <enable-grey-box>
            <h4>See the world through the eyes of a person with visual impairment</h4>
            <enable-image picname="cateract.jpg" picalt="Screenshot of the app."></enable-image>
            Source: <enable-link href="https://itunes.apple.com/no/app/synssimulator/id724004412?l=no&mt=8">Itunes</enable-link>
            <br><p>If you have a smartphone you can simulate common visual diseases as cataract, glaucoma and retinitis pigmentosa. The Norwegian Union for the Blind
                has developed an app, which shows how six different diseases can be experienced. Choose one of the diseases in the app and direct the camera towards
                an object close to you. The view can be adjusted from unaffected to severely affected.
                The app will give you a unique experience about how it can be visually impaired. <br>Even if the app is in Norwegian, the diseases still are named in Latin.
                <br>Download the app from <enable-link href="https://play.google.com/store/search?q=synssimulator">Google play</enable-link> or <enable-link href="https://itunes.apple.com/no/app/synssimulator/id724004412?l=no&mt=8">Itunes</enable-link> for free.
            </p>
        </enable-grey-box>

        <enable-quotebox e-type="quote">WHO estimates that 80% of visual loss can be prevented or cured.
        </enable-quotebox>

        <p>The most important thing for parents is to consider hygiene factors. Whenever they find un-usual signs to
            children’s visual manner, better to consult the health services.</p>

        <enable-read-more label="Read more about blindness and visual impairment"><p>Global facts from WHO:
            <br>
            http://www.iapb.org/vision-2020/global-facts or
            <br> http://www.who.int/mediacentre/factsheets/fs282/en/

            </p>
        </enable-read-more>

    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>