<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="[PICTURE DESCRIPTION]"
                           title=" Causes of visual impairment"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <p>Visual impairment can be caused by various factors including prenatal, neonatal and postnatal factors. It
            simply causes of visual impairment a person get as a consequences of living style of pregnant mothers which
            affect the child before birth, another situation may occur during birth especially issues related to
            infections and accidents or trauma and finally environment factor a person encounter in the surroundings
            including nutrition, accidents, infections or diseases.</p>

        <p>Professionals have identified causes of visual impairment in different ways for example there are those who
            identified the causes of visual impairment under three categories: first uncorrected refractive errors
            including myopia, hyperopia and astigmatism, second un-operated cataract and third glaucoma.</p>

        <p>Another way of identifying causes of visual impairment has been basing on the following conditions:
        <ul>
            <li>Cataract</li>
            <li>Glaucoma</li>
            <li>Age-related macular degeneration</li>
            <li>Corneal opacification</li>
            <li>Refractory errors</li>
            <li>Trachoma</li>
            <li>Diabetic retinopathy</li>
            <li>Infections</li>
            <li>Injuries</li>
            <li>Genetic defects</li>
            <li>Poisoning</li>
            <li>Eye condition due to causes of vitamin ‘A’ deficiency.</li>
        </ul>
        </p>

        <p>
            It is reported that 90% of people who are visually impaired live in the developing world. For developed
            world causes for visual impairments are said to be age-related macular degeneration, glaucoma and diabetic
            retinopathy</p>

        <enable-read-more label="read more om bhfjk"><ul>
                <li><a href="http://www.iapb.org/vision-2020/global-facts">http://www.iapb.org/vision-2020/global-facts</a>
                </li>
                <li><a href="http://www.who.int/mediacentre/factsheets/fs282/en/">http://www.who.int/mediacentre/factsheets/fs282/en/</a>
                </li>
            </ul></enable-read-more>
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
