<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="../assets/pics/africa00.jpg" picalt="[PICTURE DESCRIPTION]"
                           title="Diseases and conditions"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <p><strong>Cataracts</strong> are congenital and pediatric pathology that describes the greying or opacity of
            the crystalline lens. In case of adults cataracts is associated with aging. As we age we are likely to
            experience cataract. There is a possibility of reducing risk to experience cataract by avoiding smoking and
            extensive exposure to sunlight.</p>

        <p><strong>Glaucoma</strong> is congenital and pediatric eye disease characterized with increased pressure
            within. Glaucoma associated with intraocular pressure. For children, most common cause of pediatric glaucoma
            is cataract removed surgery.</p>

        <p><strong>Infections</strong> are conditions which may contribute to visual impairment. For example, for
            children, causes may be related to their mother’s pregnancy such as congenital rubella syndrome and
            retinopathy of prematurity.
            Other infections include leprosy and trachoma. It is approximated that one million people with leprosy live
            in developing countries including Kenya, Tanzania and Uganda. In case of trachoma the eyes are infected by
            bacterium chlamydia trachomatis. Trachoma infection is through contact with an infected person’s hand. It is
            possible to avoid risk of trachoma infection through public health services.
        </p>

        <p><strong>Genetic defects</strong> have been associated with the conditions of people with albinism. It is
            often reported that people with albinism have visual loss. The magnitude of the vision loss differs from one
            person to another.</p>

        <p><strong>Poisoning</strong> is also mentioned among possible causes of visual loss. In taking of chemicals
            like methanol is like to cause blindness.</p>

        <p><strong>Myopia</strong> is also called ‘nearsightedness’ it is most common refractive error of the eyes.it is
            a condition in which objects which are close are seen clearly but objects which are farther away seem to be
            blurred. This condition can be corrected by eyeglasses, or contact glasses. There have been worried whether
            myopia is inherited, reports show that myopia is not inherited; it is a condition which may be due to
            excessive reading and doing other close to eyes work. And it ranges from mild moderate to severe conditions.
            A good thing is myopia can be prevented.</p>

        <p><strong>Hyperopia</strong> is also called farsightedness a common type of refractive error where distant
            objects may be seen more clearly that objects which are near. Therefore for people with hyperopia can see
            distant object very well by experience problems with objects that are close. Hyperopia is considered to be a
            common vision problem. It can be corrected by eyeglasses and contact lenses, it is not possible to cure
            situation just corrected situation only. It is also reported that surgery may reduce dependency to glasses.
        </p>

        <p><strong>Astigmatism</strong> is a common and usually minor condition of the eye that cause blurred or
            distorted vision. It is a common type of refractive error. The condition in which they eye does not focus
            light evenly onto the retina.
        </p>

        <p>In case of astigmatism, the following may handle the situation; use of corrected eyeglasses and contact
            lenses and finally may include refractive surgery.
            The signs and symptoms of a person with astigmatic include headache, eyestrain, and blurred vision at all
            distances
        </p>

        <p>Generally, WHO estimates that 80% of visual loss can be prevented or cured. The most important thing for
            parents is to consider hygiene factors and whenever they find un-usual signs to children’s visual manner,
            better
            to consult the health services.
        </p>
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
