<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="[PICTURE DESCRIPTION]"
                           title="Identification of persons with visual impairment"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <p>It is likely to identify a person and students with visual impairment through the following aspects:</p>
            <ul><li>complaints</li>
            <li>appearance of the eyes</li>
            <li>behaviours</li>
            </ul> 

        <h4>Complaints</h4>
            <p>The person with visual impairment may have reported complaints like eye scratchy, burning, and itchy.
            Further complains can be about seeing blur or objects being in double images.</p>

        <h4>Appearances of eye(s)</h4>
            <p>The appearance of the eye may also indicate something is wrong with the eye. For example when you find one’s
            eyes are watery or seemed inflamed, swollen or even appeared crossed. It is important to consult the eye
            practitioners for examinations.</p>

        <h4>Physical behaviours</h4>
            <p>It is likely possible for a person with visual impairment to behave excessively among the following
            behaviours:
        <ul>
            <li>Tend to feel objects with their hands instead of looking at them.</li>
            <li>Rubbing eyes excessively.</li>
            <li>Turning or tilting his head when uses eyes to see or focus on an object.</li>
            <li>Tend to have difficulty to activities demand use of eyes.</li>
            <li>Eyelids which do not completely cover the eyes when closed.</li>
            <li>May show difficulty in reading (to one who knows to read).</li>
            <li>when reading tend to hold books too close to eyes.</li>
            <li>When watching television, may tend to be very close to the television.</li>
            <li>May show blinks more than usual (but how much is usual).</li>
            <li>When looking at things may hold them in a particular position.</li>
            <li>In classroom may be constantly asking mates about what is going on around.</li>
            <li>Tend to hold objects very close or very far to see them.</li>
            <li>Tend to bump into objects and having trouble to see at night.</li>
</ul>

    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
