<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="[PICTURE DESCRIPTION]"
                           title="Screening"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <p>The most important way of getting to know whether a person has vision problem is through <strong>screening</strong>. This
            refers to a method of identifying children with visual impairment or eye conditions that are likely to lead
            to visual impairment. The aim of screening is to identify the visual problem. Both children and adults can
            undergo vision screening.</p>


        <p>Through screening the following may be categories of problems to be identified; neonatal conditions, risk
            factors, refractive errors and colour vision abnormalities.
        </p>
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
