<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <div layout="column" aria-label="Inclusion of learners with visual impairment">
        <div class="backgroundPictureSection" layout="column" layout-align="end start" ng-style="{'background-image': 'url(../assets/pics/africa02.jpg)'}">
            <div class="sectionBanner" layout="row" layout-padding>
                <span class="screenReadersOnly">Banner image description comes here</span>
                <div flex>
                    <h2>Inclusion</h2>
                </div>
                <!-- md-button ng-click="scrolli('s1banner', 's1')" aria-label="{{'BASIC_SECTION1_MORE_BUTTON' | translate}}">
                    <md-icon class="openclosesiluidebar" md-svg-src="img/icons/ic_expand_less_48px.svg" aria-hidden="true" ng-show="s1"></md-icon>
                    <md-icon class="openclosesidebar" md-svg-src="img/icons/ic_expand_more_48px.svg" aria-hidden="true" ng-show="!s1"></md-icon>
                </md-button -->
            </div>
        </div>
    </div>
    <div layout-padding layout="column" >
        Inclusion is the practice of educating a learner with visual impairment in the same school and class alongside other learners. The school should always plan her programmes and activities with this learner in mind. The learner should be involved in all aspects of school life and activities almost at the same level of participation as other learners. The learner should be supported in curriculum activities or areas that require the sense of sight.

        <nav class="level03-toc">
            <ul>
                <li>
                    <a href="" ng-click="gotoAnchor('s1')">Support for learner with visual impairement</a>
                </li>
                <li>
                    <a href="" ng-click="gotoAnchor('s2')">Support in the regular classroom</a>
                </li>
                <li>
                    <a href="" ng-click="gotoAnchor('s3')">Social integration</a>
                </li>
            </ul>
        </nav>

        <div id="s1" class="level03">
            <h3>Support for learner with visual impairement</h3>
            <div layout="column">
                <div flex>The support may be in adapting the curriculum and teaching methods. It may also involve the provision of specialized technology and assistive devices, and allowing more time to complete tasks among others. Inclusion is usually successful when it is facilitated by progressive policies, appropriate planning, provision of resources and a knowledgeable and specially trained teacher.</div>
                <md-button class="expandButton" ng-click="s1_m1=!s1_m1" aria-label="{{'BASIC_SECTION1_MORE_BUTTON' | translate}}">
                    <md-icon class="openclosesidebar" md-svg-src="img/icons/ic_expand_less_48px.svg" aria-hidden="true" ng-show="s1_m1"></md-icon>
                    <md-icon class="openclosesidebar" md-svg-src="img/icons/ic_expand_more_48px.svg" aria-hidden="true" ng-show="!s1_m1"></md-icon>
                    Learn more ...
                </md-button>

                <div class="more" ng-show="s1_m1">
                    some extra text for section 1 to be shown if needed
                    <img src="../assets/pics/africa02.jpg" width="100%" alt="Image showing four african kids with their arms around each other">
                    <p>
                        some intro text for this section 1. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen b
                    </p>
                    <enable-slideshow path="assets/pics/slideshows/slideshow1"></enable-slideshow>
                </div>
            </div>
        </div>

        <div id="s2" class="level03">
            <h3>Support in the regular classroom</h3>
            <div>
                The first question teachers ask is what sort of support will be in place for the learners with visual impairment? Most regular education teachers have no idea how to deal with a student who uses braille. Therefore, a teacher skilled in teaching braille should be available to directly teach and support the learners with visual impairment, as well as assist the regular education teacher. This means both teachers must work closely together in order to make this situation work well. This can happen, but it requires a lot of hard work. Most school systems do not allow for a specially trained teacher to be available all day, so the schedule should be worked out in a way that meets the learner’s needs within the limits of the specially trained teacher.
            </div>
        </div>

        <div id="s3" class="level03">
            <h3>Social integration</h3>
            <div>
                Many children with visual impairments have significant problems adapting socially in the regular classroom. Other children may not easily accept a blind or child with low vision without some direct support from teachers. Even then, social adaptation is unfortunately not easily accomplished. The ability of a child to socially adapt depends on the individual. Some children may make the adjustment easier than others.
                In this day and age, we hear a lot about the importance of inclusion. Learners with visually impairments can be served well in a regular education classroom setting, but the best placement for these children cannot be determined across the board. Each child's needs must be carefully considered in order to determine the placement that will best benefit the child and provide a stimulating learning environment for that particular student.

            </div>
        </div>
    </div>


    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
