<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="slatefullformat2.jpg" picalt="[PICTURE DESCRIPTION]"
                           title="Computer assistance"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
     <p>Through advancement of technology, computers with certain software are now doing different activities that
            can be useful to people with visual impairment.</p>
        <h4>Screen readers</h4>
        <p>A screen reader is a software application that attempts to identify and interpret what is being displayed on the screen. This interpretation is then re-presented to the user with text-to-speech, sound icons, or a Braille output device (Source: Wikipedia).Jaws is a widely used screen reader</p>
        <enable-slideshow path="slideshow7"></enable-slideshow>
        <br>
        <p>Jaws is a rather expencive tool. Less expencive are Ipads,Ipods, Iphones and laptops from Apple which have "VoiceOver" screen readers as a buildt-in function in their operative system.</p><p>Blind students at Kenyatta University in Nairobi use such devices in their learning process. <enable-link href="http://www.acenet.edu/news-room/Documents/HED-Success-Story-Mobile-Devices-and-Education-in-Kenya.pdf">Read more</enable-link> about their experiences.</p>
        <h5>Screen magnifiers</h5>
        <enable-slideshow path="slideshow8"></enable-slideshow>
            <p>Other examples are talking computer programs, calculators and clocks.</p>

        <p>Thika. Preschool children learning braille (K)</p>

        <p>Writing and reading braille.</p>

        <p>How to use perkins braille machine.</p>

        <p>Translation into braille in the resource room.</p>

        <p>Transfer written text to braille.</p>

        <p>Using braillewriter in the lectures.</p>
    </div>
    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
