<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="slatefullformat2.jpg" picalt="[PICTURE DESCRIPTION]"
                           title="Computer assistance"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <enable-quotebox e-type="quote">Communication is about exchange of information.</enable-quotebox>

        <br>

        <p>It is done through the use of sensory organs including eyes.
            In case of visual impairment where a person cannot solidly depend on eyes then assistive technology devises
            can be used to support exchange of information.</p>
        <h4>Examples of devises:</h4>
        <ul>
            <li>optic glasses/spectacles</li>
            <li>magnifiers</li>
            <li>white cane (isn't that mobility?)</li>
            <li>electronic gloves</li>
            <li>braille machine/slate</li>
            <li>tactile graphics</li>
            <li>auditory formatted materials</li>
            <li>more devices (electronic, digital)</li>
        </ul>
        <p>It is important to select means of communication that is relevant to an individual
            depending on the individual needs. Some persons with visual impairment need only glasses and access the
            world as usual. It is important to identify the needs of the students or persons with visual impairment.
            Persons with disability may need special means; therefore teachers need to pay attention to what is working
            to specific person instead of generalizing.</p>
        <enable-video vididlc="concretematerials2" vididyt="GkaNi4MIPuQ" cclang="en" localmode="localmode"></enable-video>
        <br>

        <h4>Assistive technology</h4>

        <p>Assistive technology refers to equipment or information technology which enables materials to be accessible
            to different type of users including people with visual impairment. The intention of assistive technology is
            to accommodate the needs of the individuals with vision loss.</p>
        <h4>Braille</h4>

        <p>With braille it is possible to convert different materials into a format that can be accessible by people
            with visual impairment. Either students can also use braille to prepare their work and print in a format
            that is accessible to sighted teachers. Therefore braille can accommodate the needs of visually impaired
            students.</p>
        <enable-video vididlc="Typing braille fast" vididyt="TZZOvuGZ17w" cclang="en" localmode="localmode"></enable-video>
        <br>

        <p>If affordable it is possible to get braille textbooks, and paperless braille writing devices.</p>
        <h4>How to become brilliant in braille</h4>
        <enable-slideshow path="slideshow3"></enable-slideshow>
        
        <enable-grey-box >Listen to the teacher and type what is said, is an effective way of learning braille.</enable-grey-box>
        <br>
        <enable-video vididlc="Children learn to type braille" vididyt="sEFig4BJOI8" cclang="en" localmode="localmode"></enable-video>
        <br>
        <h4>Computer assistance</h4>

        <p>Through advancement of technology, computers with certain software are now doing different activities that
            can be useful to people with visual impairment.</p>
        <h5>Screen readers</h5>
        <enable-slideshow path="slideshow7"></enable-slideshow>
        <h5>Screen magnifiers</h5>
        <enable-slideshow path="slideshow8"></enable-slideshow>
            <p>Other examples are talking computer programs, calculators and clocks.</p>

        <p>Thika. Preschool children learning braille (K)</p>

        <p>Writing and reading braille.</p>

        <p>How to use perkins braille machine.</p>

        <p>Translation into braille in the resource room.</p>

        <p>Transfer written text to braille.</p>

        <p>Using braillewriter in the lectures.</p>
    </div>
    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
