<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="slateny.jpg" picalt="[boy writing on slate"
                           title="Braille"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <enable-grey-box e-type="funfact">Louis Braille (1809-1852) lost his sight in an accident when he was three
            years old. In 1821, sixteen year old, he invented a system of reading and writing for use by the blind or
            visually impaired. The system in known as <strong>braille</strong>.
        </enable-grey-box>

        <p>At that time blind read elevated Latin letters. These letters were slowly to read and it was complicated to
            produce such a text. Today braille remains known worldwide.</p>


        <h4>The braille system</h4>

        <div layout="row" layout-margin>
            <div style="width: 15%">
                <enable-image picname="celle.jpg" picalt="cell braille"></enable-image>
            </div>
            <div style="width: 3%"></div>
            <div style="width: 82%"><p>Braille consist of cells which contain six elevated points which constitute the
                cell, two points in the width and the three points in the hight. Different combinations of the points
                create 63 characters: letters, punctuation, numbers and notes.
                From above the points in the left row is numbered 1-2-3 and the right row 4-5-6.</p></div>
        </div>
        <p>The top four points, 1-2-4-5, create the letters between <strong>a</strong> and <strong>j</strong>.</p>
        <enable-image picname="lettersatoj.jpg" picalt="letteratoj"></enable-image>
<p>If point 3 is added the next ten charachters, <strong>k-l-m-n-o-p-q-r-s-t</strong> are created.</p>
        <enable-image picname="lettersktot.jpg" picalt="letterktot"></enable-image>
        <p>If point 3 and 6 are added, the charachters <strong>u-v-x-y-z</strong> are created. For the charachter <strong>w</strong> the points are 2-4-5-6.</p>
        <enable-image picname="letterskutow.jpg" picalt="letterutow"></enable-image>
        <p>There are even more symbols for numbers and punctuations.</p>
        <h4>What braille is for</h4>
        <p> With braille it is possible to convert different materials into a format that can be accessible by people
            with visual impairment. Either students can also use braille to prepare their work and print in a format
            that is accessible to sighted teachers. Therefore braille can accommodate the needs of visually impaired
            students.</p>

        <p>If affordable it is possible to get braille textbooks, and paperless braille writing devices.</p>
        <p>Read more about <enable-link href="http://www.bbc.com/news/technology-27243376">Braille e-books</enable-link></p>
        <p>Try to translate written text into braille with the<enable-link href="http://www.euroblind.org/resources/braille-converter/">braille converter</enable-link></p>

        <p>Quiz: Can you read this text: A sentence written in braille</p>
        <h4>Being familiar with braille</h4>
        <enable-slideshow path="slideshow3"></enable-slideshow>
        <h4>One way to learn typing braille is listening to the teacher and type what is said.</h4>
        <br>
        <enable-video vididlc="Children learn to type braille" vididyt="sEFig4BJOI8" cclang="en"
                      localmode="localmode"></enable-video>
        <br>
        <h4>Starting early to train typing braille gives extraordinary results.</h4>
        <enable-video vididlc="Typing braille fast" vididyt="TZZOvuGZ17w" cclang="en"
                      localmode="localmode"></enable-video>
        <br>


        <p>Thika. Preschool children learning braille (K)</p>

        <p>Writing and reading braille.</p>

        <p>How to use perkins braille machine.</p>

        <p>Translation into braille in the resource room.</p>

        <p>Transfer written text to braille.</p>

        <p>Using braillewriter in the lectures.</p>
    </div>
    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
