<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">

    <enable-section-header picpath="africa02.jpg" picalt="Banner image description comes here" title="Educational programs"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
       <h2>Inclusion and segregation</h2>
        <p><strong>Inclusion</strong> is the practice of educating where the learners with visual impairment in the same school and class alongside other learners.<br> 
        
     
        The school should always plan her programmes and activities with this learner in mind. The learner should be involved in all aspects of school life and activities almost at the same level of participation as other learners. The learner should be supported in curriculum activities or areas that require the sense of sight.</p>

        <nav class="level03-toc">
            <ul>
                <li>
                    <a href="" ng-click="gotoAnchor('s1')">Support for learner with visual impairment</a>
                </li>
                <li>
                    <a href="" ng-click="gotoAnchor('s2')">Support in the regular classroom</a>
                </li>
                <li>
                    <a href="" ng-click="gotoAnchor('s3')">Social integration</a>
                </li>
            </ul>
        </nav>
<p><strong>Segregation</strong>  is when the learners are in a special school where all the other learners are visually impaired.</p>
        

<nav class="level03-toc">
            <ul>
                <li>
                    <a href="" ng-click="gotoAnchor('s4')">Segregation 1</a>
                </li>
                <li>
                    <a href="" ng-click="gotoAnchor('s5')">Segregation 2</a>
                </li>
                <li>
                    <a href="" ng-click="gotoAnchor('s6')">Segregation 3</a>
                </li>
            </ul>
        </nav>
            
           <div id="s1" class="level03">
                <h3>Support for learner with visual impairment</h3>

            <div layout="column">
                <div><p>The support may be in adapting the curriculum and teaching methods. It may also involve the provision of specialized technology and assistive devices, and allowing more time to complete tasks among others. Inclusion is usually successful when it is facilitated by progressive policies, appropriate planning, provision of resources and a knowledgeable and specially trained teacher.</p></div>

                <enable-read-more label="Read more about inserting an image and a slideshow">

                    some extra text for section 1 to be shown if needed
                    <enable-image picname="africa02.jpg" picalt="Image showing four african kids with their arms around each other"></enable-image>
                    <p>
                        some intro text for this section 1. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen b
                    </p>
                    <enable-slideshow path="slideshow1"></enable-slideshow>

                </enable-read-more>

            </div>
        </div>

        <div id="s2" class="level03">
            <h3>Support in the regular classroom</h3>
            <div>
                <p>The first question teachers ask is what sort of support will be in place for the learners with visual impairment? Most regular education teachers have no idea how to deal with a student who uses braille. Therefore, a teacher skilled in teaching braille should be available to directly teach and support the learners with visual impairment, as well as assist the regular education teacher. This means both teachers must work closely together in order to make this situation work well. This can happen, but it requires a lot of hard work. Most school systems do not allow for a specially trained teacher to be available all day, so the schedule should be worked out in a way that meets the learner’s needs within the limits of the specially trained teacher.</p>
            </div>
        </div>

        <div id="s3" class="level03">
            <h3>Social integration</h3>
            <div>
                <p>Many children with visual impairments have significant problems adapting socially in the regular classroom. t support from teachers. Even then, social adaptation is unfortunately not easily accomplisOther children may not easily accept a blind or child with low vision without some direched. The ability of a child to socially adapt depends on the individual. Some children may make the adjustment easier than others.
                In this day and age, we hear a lot about the importance of inclusion. Learners with visually impairments can be served well in a regular education classroom setting, but the best placement for these children cannot be determined across the board. Each child's needs must be carefully considered in order to determine the placement that will best benefit the child and provide a stimulating learning environment for that particular student.</p>
<br>
 
        <p>Listen to Francis Kanubi, Headmaster at Salama School for the Blind, about obstacles for inclusive education.</p>
        <br>
        
        <div layout="row" layout-margin>
            <div style="width: 25%"><enable-image picname="Francis.jpg" picalt="Description of the picture comes here"></enable-image></div>
            <div style="width: 75%"><enable-audio sndid="obstacles"></enable-audio></div>
        </div>

    </div>
            </div>
        </div>
 
<div id="s4" class="level03">
            <h3>Segregation 1</h3>
            <div>
                <p>Text about segregation.</p>
                <br>
                <p>Listen to Francis Kanubi, Headmaster at Salama School for the Blind, about advantages and disadvantages of a special school.</p>
        <br>
        
        <div layout="row" layout-margin>
            <div style="width: 25%"><enable-image picname="Francis.jpg" picalt="Description of the picture comes here"></enable-image></div>
            <div style="width: 75%"><enable-audio sndid="advantages"></enable-audio></div>
            <br> <br>
            <div style="width: 25%"><enable-image picname="Francis.jpg" picalt="Description of the picture comes here"></enable-image></div>
            <div style="width: 75%"><enable-audio sndid="disadvantages"></enable-audio></div>
        </div>

    </div>
            </div>
        </div>
<div id="s5" class="level03">
            <h3>Segregation 2</h3>
            <div>
                <p>Text about segregation.</p>

            </div>
            </div>
<div id="s6" class="level03">
            <h3>Segregation 3</h3>
            <div>
                <p>Text about segregation.</p>

            </div>
            </div>
            <br>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
</div>
