<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="slatefullformat2.jpg" picalt="[PICTURE DESCRIPTION]"
                           title="Computer assistance"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <h3>Operating computers without using vision</h3>
        <enable-slideshow path="slideshow12"></enable-slideshow>
        <br>
        <enable-video vididlc="blind students learn to use computers" vididyt="9hLupgYcHqU" cclang="en"
                      localmode="localmode"></enable-video>
        <br>
        <div layout="row" layout-margin>
            <div style="width: 70%"><p>Frida Gatwiri Kiambati is Adaptive Technology Instructor at Visual Impairment Department at KISE.<br>
                She introduces computers to learners who have become blind late in life. They learn to operate the computer without using vision.</p></div>
            <div style="width: 30%"><enable-image picname="frida.jpg" picalt="Frida"></enable-image></div>
        </div>
        <h4>Listen to the interview with Frida G. Kiambati</h4>
        <enable-audio sndid="fridacomputer"></enable-audio>
        <enable-read-more label="Read the transcribed interview">
            <p>The first thing I introduce them to and which is very much individualized is the keyboard, because that gets us to
                everything. Everything that a person with visual impairment has to do it has to be done through the keyboard. Maybe
                I didn´t mention that they don´t use the monitor, they also don´t use the mouse, simply because the monitor need
                some visuals so that a learner would be able to check what is displayed. At same way the mouse require some vision
                too, so a learner is able to follow the cursors movements on the screen. But then my learners are not able to see,
                so they don´t have that vision. That is why we even put the monitor off and we don´t use the mouse.<br> But with the
                keyboard we can´t introduce them too fast, so once they have monitored all the keys on the keyboard, they will in
                a weeks time or two, it takes a lot of time there, because that is the very key.<br> Once they are through with that
                now we introduce them to the other parts of the computer and then we get to know more about introduction to
                computers.<br> Then after that I take them the third package, which is introduction to adaptive technology so that
                they are able to understand and appreciate that. They don´t have the vision and they remain to rely on their
                hearing so that they are able to operate the computer normally, just like any other sighted person.<br> Then after
                that the other packages follow like an introduction to Word, because now after they have known how to use the
                keyboard properly, they are been also introduced to the concept of information and communication technology and
                starting up the machine including including the wiring, I get them to touch where the wires are. I get them to
                understand the connection so that the computer is powered on. Right from the socket where the xxx (?) is to the
                purpose of all that and all the connections.</p>
            </enable-read-more>

        <h3>Screen readers on PCs and laptops.</h3>
     <p>Through advancement of technology, computers with certain software are now doing different activities that
            can be useful to people with visual impairment. A screen reader is a software application that attempts to identify and interpret what is being displayed on the screen.
            This interpretation is then re-presented to the user with text-to-speech, sound icons, or a Braille output device
            (Source: Wikipedia).<br><br> Jaws is a widely used screen reader but it is a rather expensive tool. Laptops from Apple have a built-in function in their operative systems
         called "VoiceOver". Even if Apple-products are rather expensive to purchase, the built-in screen reader are free and maybe less expensive than a Windows-computer with Jaws.</p>

<h3>Embedded voice and screen readers on smartphones and tablets</h3>
<p>During the recent years smartphones and tablets have taken over much of the functionality earlier associated with the use of PCs.</p>
    <ul><li>Ipad and Iphone have “VoiceOver” too and the program can in many contexts replace Jaws.</li>
    <li>    Smartphones with the operating system Android have the embedded screen reader "TalkBack". Be aware of that the quality of “Talkback” differs in the different apps.</li></ul>

        <enable-read-more label="How to activate “VoiceOver” and “Talkback” ">
        <ol><li>Go to "Settings"</li>
            <li>Select "Availability"</li>
            <li>Select " VoiceOver"/"Talkback"</li>
            <li>Turn on "VoiceOver"/"Talkback". (On Android 4.0 you must go back and activate the touch exploration too)</li>
        </ol>
            </enable-read-more>
        <h3>Increase the font size and the contrast</h3>
        <p>Both iPhone and iPad and several Android phones have the built in ability to enlarge what you see on the screen, to increase the font size or increase the contrast.</p>
        <enable-grey-box>
        <p>Blind students at Kenyatta University in Nairobi use Ipads in their learning process.</p>
        <p>Read more<enable-link href="http://www.acenet.edu/news-room/Documents/HED-Success-Story-Mobile-Devices-and-Education-in-Kenya.pdf">about their experiences.</enable-link> </p>
            </enable-grey-box>
<h3>Useful apps for Ipad and Iphone</h3>
        <p>At Itunes some apps which can be of great help to people who are visually impaired or blind, can be downloaded.See some examples:</p>

        <ul><li>
            <p><strong>Color Reader's Voice</strong></p>
            <enable-link href="https://itunes.apple.com/no/app/color-readers-voice/id397559645?l=no&mt=8">Color Reader's Voice</enable-link> tells the colour of an object. Put the iPhone on an object and touch the center of screen, Color Reader's voice tells name of color detected. The app recognize the  colours white, light gray, gray, dark gray, black, red, orange, orange yellow, yellow, yellow green, green, cyan, blue, purple, magenta, red, brown and pink. The app is free of charge.</li></ul>
        <enable-slideshow path="slideshow7"></enable-slideshow>

        <h3>Screen magnifiers</h3>
        <enable-slideshow path="slideshow8"></enable-slideshow>
            <h3>Apps overtar for PC</h3>

        <p>Ipad and Iphone have </p>

        <p>Writing and reading braille.</p>

        <p>How to use perkins braille machine.</p>

        <p>Translation into braille in the resource room.</p>

        <p>Transfer written text to braille.</p>

        <p>Using braillewriter in the lectures.</p>
    </div>
    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
