<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="[PICTURE DESCRIPTION]"
                           title="Effects of visual impairments"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">

        <enable-quotebox e-type="quote">If the community will be positive to people with visual impairment and be ready to support them, there is no effect of visual impairment.</enable-quotebox>
        <p>The effects are realized when community hold negative attitudes hence not
            supportive to people with visual impairment. Therefore effects of visual impairments are mostly due to
            nurture.</p> 
            <p>However nature is also reported to have effect to congenital visual impairment associated with
            development and learning which in adulthood life it has been associated with poor quality life.</p> 
            <br>
        <h3>Negative effects</h3>
        <p>Effects of visual impairment in the community which hold negative attitude and not
            supportive can be:</p>

        <ul>
            <li>Depression</li>
            <li>Unemployment hence poor living quality, some organization not prefer to employ people with visual
                impairment</li>
            <li>Divorce</li>
            <li>Sometimes visual impairment combined with other health complications or other disabilities like hearing
                impairment </li>
            <li>Overprotection</li>
        </ul>
        <h3>Overprotection</h3>
        <div layout="row" layout-margin>
            <div style="width: 70%"><p>John M. Muga is a teacher at The Department of Visual Impairments, Kenya Institute of Special Education
                (KISE). He has discovered there is a lot of overprotection on the part of they who lose sight. Listen to
                him or read the transcribed interview.</p></div>

            <div style="width: 30%"> <enable-image picname="muga.jpg" picalt="John M. Muga"></enable-image></div>
        </div>
        <enable-audio sndid="overprotection"></enable-audio>

        <enable-read-more label="Read the transcribed interview"><p>Through my recruitment efforts, which are moving away from KISE
            to those individuals that been referred to us, I have come to discover there is a lot of overprotection on the part of
            they who lose sight. Either parents enclose them to a limited area in an effort to prevent them for hurting themselves
            maybe they are able to move around. Or even reducing the kind of task they should exposing them to on a daily basis.
            This one is even more disabling, everybody should understand this is even more disabling. Because some of the clients
            we are having, you noticed somebody have added a lot of weight, (don´t) mobilising themselves. Another one does not
            want to interact with people widely. They appear to be closed in a box. But we are bringing every effort to expose
            them to facial activities, exercises and also expose to, encourage them to interact with other people so that they
            can really discover themselves and receive their own selves. We need support from those organisations that understand
            that we can be able to intervene positively in this area.</p></enable-read-more>
        <p>Suggestion for new content:1) Portrait of a young man who became blind because of a brain tumor and how his family tackled this situation. 2) Portrait of deaf girl who has been overprotected by her parentes.</p>
        
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
