<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="effectsofvi.jpg" picalt="[PICTURE DESCRIPTION]"
                           title="Effects of visual impairments"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <h3>Is the lack of sight equal to inability?</h3>
        <div layout="row" layout-margin>
            <div style="width: 70%"><p>John M. Muga thinks that the persons who lack their sight should be equipped with the skills that make them as useful
                as they have been before. Muga is a teacher at The Department of Visual Impairments, Kenya Institute of Special Education
                (KISE).<br> Listen to
                him or read the transcribed interview.</p></div>

            <div style="width: 30%"> <enable-image picname="muga.jpg" picalt="John M. Muga"></enable-image></div>
        </div>
        <enable-audio sndid="mugaworklife"></enable-audio>
        <enable-read-more label="Read the transcribed interview"><p>It is in the cognition that quite a lot of people are losing sight out there later in
            life and many of them have to drop out of their employment because they are not able to cope with the challenges and maybe also the
            understanding of the employer. They seem to believe that once you have lost your sight you become an inability to the company or
            organization and many of them have taken an early retirement. We recognize that the new constitution (in Kenya) requires that every
            institutional institution should employ at least five percent. Five percent of the employees should be those with disabilities and
            recognizing that we need to equip the persons with disabilities who are our colleges with the skills that will make them as useful
            as they have been even if to a lower degree within the organizations that are employing.</p></enable-read-more>

        <enable-quotebox e-type="quote">If the community will be positive to people with visual impairment and be ready to support them, there is no effect of visual impairment.</enable-quotebox>

        <h3>Effects of albinism</h3>
        <p>All albinos are born with low vision. In Tanzania there is little vision aids available, such as glasses and
            magnifiers. Medical care for eyes is rarely available. This has resulted into children with albinism
            dropping out of school and ending up without proper education, resulting into high unemployment and no way
            out of poverty.</p>
        <div layout="row" layout-margin>
            <div style="width: 70%"><p>Abdillah Omar is Treasurer at Tanzania Albinism Society. Listen to the interview in swahili or read the interview in english.</p></div>

            <div style="width: 30%"> <enable-image picname="abdillahomar.jpg" picalt="Abdillah Omar"></enable-image></div>
        </div>
        <enable-audio sndid="abdillah"></enable-audio>
        <enable-read-more label="Read the transcribed interview">
            <p>Essentially people with albinism had problems to do with health.
            They had no employment, but those who had problems with education, they did not have enough or good education. As a result,
            they also have no sufficient income. And maybe a bigger problem where they were looked upon with segregation of some kind,
            so they were segregated from the society.<br>
            First of all, in the 1990´s when we started, the first thing we had to was to educate the society about people with albinism.
            And then we moved some step ahead to educate people with albinism of how to take care of their own skin. We started in Dar
            es Salaam first.<br>Regarding education most of them did not have even had primary education and one reason for the face(?)
            was that, because they did not have good sight, good vision so they could not do well in examinations and unfortunately
            teachers did not also have education about the situation facing albinos.<br>As a result of not having
            good education they did not have income because they did not have any employment. Additionally, they
            were not accepted in the community because of false beliefs that people with albinism cannot do anything
            and because of that they been excluded from many activities.</p>
        </enable-read-more><br>
        <enable-grey-box ><h5>Practical advices for people with albinism to protect from sunlight:</h5><br>
        <ul><li>Wear cloths that cover most of your body </li>
        <li>Wear a hat</li>
        <li>Use sunglasses</li>
        <li>Use sun screen protection lotion</li></ul></enable-grey-box>

        <h4>Threats and molestation of people with albinism</h4>
        <p> In Tanzania the strangest things are believes about people with albinism and albinism in general. It´s important
            to educate communities that albinism is not a disease and you cannot catch it, people with albinism are not blind,
            there is no magic in albinism, people with albinism can´t cure diseases or bring wealth of luck, people with
            albinism have normal intelligence.<br>People with albinism in Tanzania have experienced brutal attacks and killings.
            Albinos in Tanzania are brutally slaughtered and killed, because of a completely absurd myth that albino bones
            can make you rich. There is a sinister trade of their body parts for use also in witchcraft rituals. Over the
            last five year the situation has become much worse in Tanzania.</p>
        <p>Source: <enable-link href="https://www.facebook.com/pg/TASTZ/about/?ref=page_internal">Tanzania Albinism Society</enable-link></p>
        <div layout="row" layout-margin>
            <div style="width: 70%"><p>Happiness Ngaweje is Program Officer responsible for gender, human rights and democracy at Tanzania Albinism Society. Listen to or
                read the interview.</p></div>

            <div style="width: 30%"> <enable-image picname="happinessngaweje.jpg" picalt="Happiness Ngaweje"></enable-image></div>
        </div>
        <enable-audio sndid="happiness"></enable-audio>
        <p>NTVUganda has made <enable-link href="https://www.youtube.com/watch?v=M9W_sMkHwdU">a video </enable-link>which try to understand the threats people with albinism undergo.</p>

<h5>Ut?</h5>

        <p>The effects are realized when community hold negative attitudes hence not
            supportive to people with visual impairment. Therefore effects of visual impairments are mostly due to
            nurture.</p> 
            <p>However nature (correct? need explanation) is also reported to have effect to congenital visual impairment associated with
            development and learning which in adulthood life it has been associated with poor quality life.</p> 
            <br>
        <h3>Negative effects</h3>
        <p>Effects of visual impairment in the community which hold negative attitude and not
            supportive can be:</p>

        <ul>
            <li>Depression</li>
            <li>Unemployment hence poor living quality, some organization not prefer to employ people with visual
                impairment</li>
            <li>Divorce</li>
            <li>Sometimes visual impairment combined with other health complications or other disabilities like hearing
                impairment </li>
            <li>Overprotection</li>
        </ul>
        <h3>Overprotection</h3>
        <div layout="row" layout-margin>
            <div style="width: 70%"><p>John M. Muga is a teacher at The Department of Visual Impairments, Kenya Institute of Special Education
                (KISE). He has discovered there is a lot of overprotection on the part of they who lose sight.<br> Listen to
                him or read the transcribed interview.</p></div>

            <div style="width: 30%"> <enable-image picname="muga.jpg" picalt="John M. Muga"></enable-image></div>
        </div>
        <enable-audio sndid="overprotection"></enable-audio>

        <enable-read-more label="Read the transcribed interview"><p>Through my recruitment efforts, which are moving away from KISE
            to those individuals that been referred to us, I have come to discover there is a lot of overprotection on the part of
            they who lose sight. Either parents enclose them to a limited area in an effort to prevent them for hurting themselves
            maybe they are able to move around. Or even reducing the kind of task they should exposing them to on a daily basis.
            This one is even more disabling, everybody should understand this is even more disabling. Because some of the clients
            we are having, you noticed somebody have added a lot of weight, (don´t) mobilising themselves. Another one does not
            want to interact with people widely. They appear to be closed in a box. But we are bringing every effort to expose
            them to facial activities, exercises and also expose to, encourage them to interact with other people so that they
            can really discover themselves and receive their own selves. We need support from those organisations that understand
            that we can be able to intervene positively in this area.</p></enable-read-more>
        <p>Suggestion for new content:1) Portrait of a young man who became blind because of a brain tumor and how his family tackled this situation. 2) Portrait of deaf girl who has been overprotected by her parentes.</p>
        
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
