<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="wallpainting.jpg" picalt="[PICTURE DESCRIPTION]"
                           title="Family and friends"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <h3>Support from family and friends</h3>
        <p>Being blind can be challenging in different social settings. Blindness does not just make it difficult to
            participate in educational and work related tasks, but also in activities outside school or work settings.
            This may lead to low self esteem.</p>
        <p>
            Peoples attitude to blindness can be challenging. Lack of knowledge regarding blindness may lead to
            misconceptions and negative attitudes, like thinking this is a contagious disease. Attitudes like this from
            colleagues, friends and family makes it even more difficult being blind.</p>

        <p> Emotional support and positive attitudes from friends and family is very important for the blind, and can
            play a key role in helping to adjust and handle the situation.</p>

        <enable-video vididlc="Disability is not inability" vididyt="YZlHgb0n2b4" cclang="en"
                      localmode="localmode"></enable-video>
        <enable-read-more label="Read the transcribed interview">
            <p>The social setting was not easy at first. It wasn't easy. Because...you know people are not yet sensitised
                They would think…ehm..when you associate with a blind person maybe you will also get it. They thought it was
                transferable like these airborne diseases. They would even fear touching on your white cane. They could say,
                don't touch it. You might contract the problem. So, at first it wasn't easy. They had negative attitudes towards
                blind students at that time. And that was a challenge. Actually, we were discriminated at first.

                But with time we reported the matter to our head teacher. She called upon all the school boys and girls. And she
                sat us down. And she tried to sensitise our fellow colleagues. That socialising with us would be better. And she
                showed them that disability is not inability by making us do certain things that they could not do like playing
                instruments. Me, I would play drums and everyone near me would feel like dancing because I was a hero in that
                matter. And they could not. The other colleagues could not do that, yet they could see. And our head teacher and
                the other teachers advised the pupils to not discriminate us. Then they started slowly slowly coping up. And now
                up to date socialisation in that school between persons with visual impairment and other ordinary students is at
                least at a better stake.
            </p></enable-read-more>



        <enable-quotebox e-type="quote">Disability is not inability.
        </enable-quotebox>

        <p>Family and friends have an important role in showing that being visually impaired does not mean inability.
            They
            should be positive to persons with visual impairment and give them the opportunity to work and experience
            the
            world.</p>
        <p>
            It is possible to help them through daily activities such as survival skills like feeding, mobility, and
            self-care. Also other skills including social life skills like sharing and interaction.</p>

        <h3>Overprotection</h3>
        <div layout="row" layout-margin>
            <div style="width: 70%"><p>John M. Muga is a teacher at The Department of Visual Impairments, Kenya
                Institute of Special Education
                (KISE). He has discovered there is a lot of overprotection on the part of they who lose sight.<br>
                Listen to
                him or read the transcribed interview.</p></div>

            <div style="width: 30%">
                <enable-image picname="muga.jpg" picalt="John M. Muga"></enable-image>
            </div>
        </div>
        <enable-audio sndid="overprotection"></enable-audio>

        <enable-read-more label="Read the transcribed interview"><p>Through my recruitment efforts, which are moving
            away from KISE
            to those individuals that been referred to us, I have come to discover there is a lot of overprotection
            on the part of
            they who lose sight. Either parents enclose them to a limited area in an effort to prevent them for
            hurting themselves
            maybe they are able to move around. Or even reducing the kind of task they should exposing them to on a
            daily basis.
            This one is even more disabling, everybody should understand this is even more disabling. Because some
            of the clients
            we are having, you noticed somebody have added a lot of weight, (don´t) mobilising themselves. Another
            one does not
            want to interact with people widely. They appear to be closed in a box. But we are bringing every effort
            to expose
            them to facial activities, exercises and also expose to, encourage them to interact with other people so
            that they
            can really discover themselves and receive their own selves. We need support from those organisations
            that understand
            that we can be able to intervene positively in this area.</p></enable-read-more>

        <p>Suggestion for new content:1) Portrait of a young man who became blind because of a brain tumor and how
            his family tackled this situation. 2) Portrait of deaf girl who has been overprotected by her
            parentes.</p>

    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
