<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="[PICTURE DESCRIPTION]"
                           title="Introduction"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <h4>Communication is about exchange of information.</h4>
        <br><p>It is done through the use of sensory organs including eyes.
            In case of visual impairment where a person cannot solidly depend on eyes then assistive technology devises
            can be used to support exchange of information.</p> 
            <p>Examples of devises:</p> 
            <ul><li>optic glasses/spectacles</li>
            <li>magnifiers</li>
            <li>white cane</li>
            <li>electronic gloves</li>
            <li>braille machine/slate</li>
            <li>tactile graphics</li>
            <li>auditory formatted materials</li>
            <li>more devices (electronic, digital)</li>
            </ul>
            <p>It is important to select means of communication that is relevant to an individual
            depending on the individual needs. Some persons with visual impairment need only glasses and access the
            world as usual. It is important to identify the needs of the students or persons with visual impairment.
            Persons with disability may need special means; therefore teachers need to pay attention to what is working
            to specific person instead of generalizing.</p>
            <p>Video: Using concrete material i the classroom. Feather/ living hen.</p>
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
