<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="../assets/pics/africa00.jpg" picalt="[PICTURE DESCRIPTION]"
                           title="Computer assistance"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <p>Through advancement of technology, computers with certain software are now doing different activities that
            can be useful to people with visual impairment. The following are example of talking computer programs,
            talking calculators, screen readers, talking clocks, screen magnifiers.</p>
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
