<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="../assets/pics/africa00.jpg" picalt="[PICTURE DESCRIPTION]"
                           title="Braille"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <p>With braille it is possible to convert different materials into a format that can be accessible by people
            with visual impairment. Either students can also use braille to prepare their work and print in a format
            that is accessible to sighted teachers. Therefore braille can accommodate the needs of visually impaired
            students.</p>

        <p>If affordable it is possible to get braille textbooks, and paperless braille writing devices.</p>
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
