<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="[PICTURE DESCRIPTION]"
                           title="Orientation and mobility"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">

        <p>People with visual impairment may need strategies to know where they are and where they want to go. 
        Different strategies may help them to walk safely and <strong>orientation</strong> and <strong>mobility</strong> are important.</p>

        
        <h3>Orientation</h3>
        <p>Orientation refers to the knowledge, skills and ability of a person with visual impairment to be
        able to know where he is or where he wants to go. Most people with visual impairment can do that by using their 
        remaining senses.</p>
        <h4>How to get knowledge of the limitation of an unknown square.</h4>
        <div layout="row" layout-margin>
            <div style="width: 50%"><enable-image picname="utforskenyplass.jpg" picalt="Orientation on a unknown square"></enable-image></div>

            <div style="width: 50%"><br><br><ol><li>Start in a corner.</li>
                <li>Follow the wall/edge to the next corner.</li>
                <li>Turn around and return half way back.</li>
                <li>Turn ninety degrees towards the square and move over the square to the other end.</li>
                <li>Turn ninety degrees again and move towards the corner.</li>
                <li>Turn ninety degrees once more an move towards the starting point.</li>
                <li>Turn ninety degrees and move a quarter of the whole length.</li>
                <li>Turn ninety degrees towards the square and move half way of the distance to the other side.</li>
                <li>Then turn ninety degrees again and move to the wall/edge.</li>
            </ol></div>
        </div>

        <div layout="row" layout-margin>
            <div style="width: 28%"><p>1. Start in a corner.</p><enable-image picname="startexplore.jpg" picalt=""></div>
            <div style="width: 8%"> </div>
            <div style="width: 28%"><p>2. Follow the wall.</p><enable-image picname="reachrightside.jpg" picalt=""></enable-image></div>
            <div style="width: 8%"> </div>
            <div style="width: 28%"><p>6. Turn and return.</p><enable-image picname="midlereturn.jpg" picalt=""></enable-image></div></div>
        <h5>An unknown square is now discovered.</h5>

        <h3>Mobility</h3>
        <p>Mobility refers to the ability of moving through the environment in a safe and easy way.
            Mobility devices like a long white cane, dog guides and other electronic travel aids may support the movement.</p>
        <enable-video vididlc="movingaroundatthecampus" vididyt="1W-B0rqiEGk" cclang="en" localmode="localmode"></enable-video>



       <h3>The importance of assistence</h3>
 <p>Sometimes, especially to developing countries these devises may be not accessible. Then you can find people guided by others by holding hands. It is also possible to make a long white cane from the local plants around.
     In schools children with visual impairment may have a friend who assists him/her.</p>

        <enable-slideshow path="slideshow2"></enable-slideshow>

    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
