<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="[PICTURE DESCRIPTION]"
                           title="Effects of visual impairments"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <enable-quotebox e-type="quote">If the community will be positive to people with visual impairment and be ready to support them, there is no effect of visual impairment.</enable-quotebox>
        <p>The effects are realized when community hold negative attitudes hence not
            supportive to people with visual impairment. Therefore effects of visual impairments are mostly due to
            nurture.</p> 
            <p>However nature is also reported to have effect to congenital visual impairment associated with
            development and learning which in adulthood life it has been associated with poor quality life.</p> 
            <br>
            <p>Effects of visual impairment in the community which hold negative attitude and not
            supportive can be:</p>

        <ul>
            <li>Depression</li>
            <li>Unemployment hence poor living quality, some organization not prefer to employ people with visual
                impairment</li>
            <li>Divorce</li>
            <li>Sometimes visual impairment combined with other health complications or other disabilities like hearing
                impairment </li>
        </ul>
        
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
