<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="../assets/pics/africa00.jpg" picalt="[PICTURE DESCRIPTION]"
                           title="Orientation and mobility"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <p>People with visual impairment have movements from one place to another as other people do. The difference is,
            for people with visual impairment may need strategies to know where they are and where they want to go.
            Different strategies may help them to walk safely. The two concepts orientation and mobility are
            important.</p>

        <p><strong>Orientation</strong> refers to knowledge, skills, ability of a person with visual impairment to be able to know where
            s/he is, how is the environment she is and where he wants to go and how to go there. Most people with visual
            impairment can do that by using the remaining senses.</p>

        <p><strong>Mobility</strong> refers to skills of moving through the environment in a safe and easy way. This knowledge emphasizes
            capacity of moving safely and independently. The movement may be supported by mobility devices like long
            white cane, dog guides and other electronics travel aids. Sometimes especially to developing countries these
            devises may be not accessible then you can find people guided by others by holding hands. May it is possible
            to have adaptive white cane that can be made from the local plants around.</p>

        <p>In schools children with visual impairment may have a friend who assists him/her all through.</p>

    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
