<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="[PICTURE DESCRIPTION]"
                           title="Organizations for persons with visual impairments"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <p>The advocacy for persons with visual impairment is a global agenda. Through practice this advocacy roles,
            several organization of people with visual impairment have been established internationally and regionally.
            The following are examples of organization of persons with visual impairment across continents.</p>
        <ul>
            <li><enable-link href="http://www.worldblindunion.org/">World Blind Union</enable-link></li>
            <li>National federation of the Blind (USA)</li>
            <li>International Council for Education of People with Visual Impairment (ICEVI)</li>
            <li>L’Union Francophone des Aveugles (France)</li>
            <li>African Union of the Blind</li>
            <li>Asian Blind Union</li>
            <li>Latin-American Blind Union</li>

        </ul>

        <p>The focuses of this website is East AFRICA which is under a big Africa organization called African Union of
            the Blind.
            <br>It is reported to have 51 member countries in Africa. This organization is rich of culture diversities
            in terms of language for example many languages are spoken by different members such as English, Kiswahili,
            French, Arabic and other national languages which are not among the three listed here. The organization is
            divided in zones; North Africa, Southern Africa, Central Africa, East Africa and Western Africa.
            <br>(Add relevant organizations for each of the countries in East Africa)
            <br>(Add www to all the organizations)
        </p>
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
