<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="[PICTURE DESCRIPTION]"
                           title="Organizations for persons with visual impairments"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <br>
        <p>The advocacy for persons with visual impairment is a global agenda. Through practice this advocacy roles,
            several organization of people with visual impairment have been established internationally and regionally.</p>
            <h4>Examples of organization of persons with visual impairment across continents:</h4>
        <ul>
            <li><enable-link href="http://www.worldblindunion.org/">World Blind Union</enable-link></li>
            <li><enable-link href="https://nfb.org/">National federation of the Blind (USA)</enable-link></li>
            <li><enable-link href="http://icevi.org/">International Council for Education of People with Visual Impairment (ICEVI)</enable-link></li>
            <li><enable-link href="http://ufda.ca/">L’Union Francophone des Aveugles(France)</enable-link></li>
            <li><enable-link href="http://www.afub-uafa.org/">African Union of the Blind</enable-link>
            <enable-read-more label="Read more about African Union of the Blind."><p>African Union of the Blind have 51 member countries in Africa. This organization is rich of culture diversities
            in terms of language for example many languages are spoken by different members such as: 
            <ul>
                <li>English</li>
                <li>Kiswahili</li>
                <li>French</li>
                <li>Arabic</li>
                <li>Other national languages.</li>
                </ul>
    <p>The organization is divided in zones:</p>
    <ul><li>North Africa</li>
    <li>Southern Africa</li>
    <li>Central Africa</li>
    <li>East Africa</li>
    <li>Western Africa.</li></ul>
    <enable-read-more label="Organizations of interest in East Africa are:"><p>
        <ul>
            <li>Kenya Union of the Blind (KUB)</li>
    <li>Tanzania League of the Blind (TLB)</li>
    <li>Uganda National Association of the Blind (UNAB)</li>
    </ul></p></enable-read-more></li>
           
    </p></enable-read-more></li>
            <li><enable-link href="http://www.worldblindunion.org/English/about-wbu/membership/Pages/Asia-National-Members.aspx">Asian Blind Union</enable-link></li>
            <li><enable-link href="http://www.ulacdigital.org/inicio">Latin-American Blind Union</enable-link></li>

        </ul>

        
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
