<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="[PICTURE DESCRIPTION]"
                           title="Career choices"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <p>People with visual impairment have ability to make their career choices. What is important is the support
            from different stakeholders to make every person with visual impairment meet his/her dreams.</p>
        <enable-grey-box e-type="quote">
            <p>The State shall ensure the progressive implementation of the principle that at least five percent of the members
                of the public in elective and appointive bodies are persons with disabilities.</p></enable-grey-box>
        <div layout="row" layout-margin>
            <div style="width: 70%"></div>

            <div style="width: 30%"> <p>The Constitution of Kenya §54.2</p></div>
        </div>
        <p>The laws in Uganda and Tanzania have other formulations but the meaning is similar to the law above.</p>
        <br>
        <p>Therefore in schools and community in general, people with visual impairment need to have opportunity to career
            development and training. There should be opportunity to <strong>jobs</strong>, <strong>employment</strong> and
            <strong>vocational training</strong>.</p>
        <h4>Rehabiltation of people with acquired blindness</h4>
        <div layout="row" layout-margin>
            <div style="width: 70%"><p>John M. Muga is a teacher at The Department of Visual Impairments at Kenyas,
                Kenya Institute of Special Education (KISE). He is working with rehabilitation of persons who have lost their sight
                late in life. They learn how to communicate with digital technology, mobility and activity daily living. Listen to
                him or read the transcribed interview.</p></div>

            <div style="width: 30%"> <enable-image picname="johnmuga.jpg" picalt="John M. Muga"></enable-image></div>
        </div>
        <enable-audio sndid="mugarehabiltation"></enable-audio>

        <enable-read-more label="Read the transcribed interview"><p>Muga</p></enable-read-more>

            <br>
            <enable-grey-box>The students at Salama School for the blind has a positive a attitude to their future. Read more in <enable-link href="http://www.monitor.co.ug/Magazines/Life/-/689856/1233708/-/bo3u9b/-/index.html">Daily monitor</enable-link></enable-grey-box>
        
   
    <enable-read-more label="Read more about people who’s dreams of careers came true.">
        <ul>
            <li>A lawyer, former member of parlament</li>
            <li>A masseur</li>
            <li>A bureaucrat in the ministry</li>
    </ul>
    </enable-read-more>
    <h4>Vocational training</h4>
    <p>Examples of vocational training for the blind</p>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
