<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <section layout="column" aria-label="">
        <div class="backgroundPictureSection" layout="column" layout-align="end start" ng-style="{'background-image': 'url(../assets/pics/africa00.jpg)'}">
            <div class="sectionBanner" layout="row" layout-padding>
                <span class="screenReadersOnly"></span>
                <div flex>
                    <h2>[TITLE_HERE]</h2>
                </div>
            </div>
        </div>
    </section>
    <div flex class="partialContent" layout-padding >
        [TEXT_HERE]
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
