<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="[PICTURE DESCRIPTION]"
                           title="Laws and policies"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        
        <br>
        <p>There have been several efforts globally and regionally about how to advocate the right of people with visual
            impairment.</p> 
        <enable-grey-box e-type="quote"><enable-link href="http://www.un.org/en/documents/udhr/">The Universal Declaration for Human Rights</enable-link> adopted by United Nations emphasizes the human rights
            and anti-discriminations among people.</enable-grey-box>. 
            <p>Therefore, people with visual impairment among others have equal
            rights before the law. People with visual impairment therefore have rights to:</p>
            <ul><li>education</li>
            <li>life</li>
            <li>recognition</li>
            <li>freedom of opinion and expression</li>
            <li>marry</li>
            <li>own properties</li>
            <li>work</li>
            </ul> 
            <p>These rights are internationally declared.</p>
            <br>
           <p>In each country there should policies which put these human rights into legal practices. All constitutions in Kenya, Tanzania and Uganda emphasized the rights of people with disability.
            Furthermore, there are policies and act addressing the issue of people with disability.</p> <br><p>>For example in
            Tanzania, there is a national policy of disability of 2004.(Download <enable-link href="http://www.tanzania.go.tz/egov_uploads/documents/NATIONAL_POLICY_ON_DISABILITY_sw.pdf">PDF</enable-link>.This is also a case in Uganda (Download <enable-link href="http://www.ilo.org/wcmsp5/groups/public/@ed_emp/@ifp_skills/documents/publication/wcms_115099.pdf">PDF</enable-link> and Kenya (Download <enable-link href="http://www.ilo.org/wcmsp5/groups/public/@ed_emp/@ifp_skills/documents/publication/wcms_115097.pdf">PDF</enable-link>.</p
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
