<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="[PICTURE DESCRIPTION]"
                           title="Laws and policies"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <p>There have been several efforts globally and regionally about how to advocate the right of people with visual
            impairment. The Universal Declaration for Human Rights adopted by United Nations emphasizes the human rights
            and anti-discriminations among people. Therefore, people with visual impairment among others have equal
            rights before the law. People with visual impairment therefore have rights to education, life, recognition,
            freedom of opinion and expression, marry, own properties, work. These rights are internationally declared.
            In each country there should policies which put these human rights into legal practices. Since this project
            focuses in East Africa, it is important to direct our examples to these three countries Kenya, Tanzania and
            Uganda. All constitutions of the three countries emphasized the rights of people with disability.
            Furthermore, there are policies and act addressing the issue of people with disability. For example in
            Tanzania, there is a national policy of disability of 2004.This is also a case in Uganda and Kenya.</p>
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
