<meta name="categories" content="">
<div ng-controller="VisionCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="[PICTURE DESCRIPTION]"
                           title="Career choices"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <p>People with visual impairment have ability to make their career choices. What is important is the support
            from different stakeholders to make every person with visual impairment meet his/her dreams.</p> 
            <p>Therefore in schools and community in general, people with visual impairment need to have opportunity to career
            development and training. There should be opportunity to <strong>jobs</strong>, <strong>employment</strong> and <strong>vocational training</strong>.</p>
            <br>
            <enable-grey-box>The students at Salama School for the blind has a positive a attitude to their future. Read more in <enable-link href="http://http://www.monitor.co.ug/Magazines/Life/-/689856/1233708/-/bo3u9b/-/index.html">Daily monitor</enable-link></enable-grey-box>
        
   
    <enable-read-more label="Read more about people who’s dreams of careers came true.">
        <ul>
            <li>A lawyer, former member of parlament</li>
            <li>A masseur</li>
            <li>A bureaucrat in the ministry</li>
    </ul>
    </enable-read-more>
    <h4>Vocational training</h4>
    <p>Examples of vocational training for the blind</p>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
