<!DOCTYPE html>
<html ng-app="EnableApp" lang="en">

<head>
    <!--meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Full Screen">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">

    <title>Enable portal</title>

    <!-- Styles -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- Framework libraries -->
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-translate/angular-translate.js"></script>
    <script type="text/javascript" src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-material/angular-material.min.js"></script>

    <!-- Application files  -->
    <script type="text/javascript" src="js/clientapp.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>

</head>


<body layout="row" ng-controller="MenuCtrl">

    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" tabindex="-1">
        <md-toolbar class="md-default-theme">
            <div class="md-toolbar-tools" tabindex="-1">
                <div class="fill-height" layout="row" flex>
                    <h2>Menu</h2>
                </div>
            </div>
        </md-toolbar>
        <nav>
            <dl>
                <dt tabindex="0" role="tab" aria-expanded="{{m1}}" ng-click="m1=!m1">Facts about deafblindness</dt>

                    <dd class="submenuitem" layout="column" ng-show="m1">
                        <a class="" ng-click="focusSection()" ng-href="#/home">definitions/clarifications of terms</a>
                        <a class="" ng-click="focusSection()" ng-href="#/">causes and symptoms</a>
                        <a class="" ng-click="focusSection()" ng-href="#/">categories</a>
                        <a class="" ng-click="focusSection()" ng-href="#/">characteristics</a>
                        <a class="" ng-click="focusSection()" ng-href="#/">incidences</a>
                        <a class="" ng-click="focusSection()" ng-href="#/home">test</a>
                    </dd>

                <dt tabindex="0" role="tab" aria-expanded="{{m2}}" ng-click="m2=!m2">Functional assessment</dt>

                    <dd class="submenuitem" layout="column" ng-show="m2">
                        <a class="" ng-click="focusSection()" ng-href="#/">clarification of the terms</a>
                        <a class="" ng-click="focusSection()" ng-href="#/">assessment of all senses</a>
                        <a class="" ng-click="focusSection()" ng-href="#/">communication</a>
                        <a class="" ng-click="focusSection()" ng-href="#/">motor of development</a>
                    </dd>

            </dl>
        </nav>
    </md-sidenav>

    <div layout="column" tabindex="-1" role="main" flex>
        <md-toolbar class="md-default-theme" >
            <div class="md-toolbar-tools" tabindex="-1" role="button" ng-click="openMenu()">
                <button title="toggleMenuButton" class="md-icon-button md-button" aria-label="Toggle Menu" hide-gt-sm>
                    <md-icon class="hamburger" md-svg-src="img/icons/ic_menu_48px.svg" aria-hidden="true"></md-icon>
                </button>
                <div class="fill-height" layout="row" flex>
                    <h2>123123</h2>
                </div>
            </div>
        </md-toolbar>

        <!-- ngView:  -->
        <md-content ng-view md-scroll-y flex></md-content>
    </div>
</body>

</html>
