<div class="partial" style="padding-top: 20px;">

    <!-- ng-style="{'height': windowHeight+'px', 'width': windowWidth+'px', 'background-color': '#FFFFFF'}" autoresize -->

    <div>

        <div>
            <div class="" style="font-size: 1.3em; padding: 10px;" role="heading">
                <h2>Sensory Impairment - East Africa</h2>
                <p>In this web portal you will find information about vision and hearing, considered as our most important
                    senses.
                    Through text, pictures and video-sequences you will learn about visual impairment, hearing impairment and
                    combined sensory impairment, often called deaf-blindness.
                    The information goes from simple to more complex and may therefore be useful for everyone.</p>
            </div>
            <div class="homeVignette" ng-style="{'background-image': 'url(img/om.jpg)'}" role="button"
                 aria-label="Click to go to about this website" ng-click="goToSection('sensory', '/sensory/s01_l01')">
                <h1>{{'TITLE_SENSORY' | translate}}</h1>
            </div>
            <div class="homeVignette" ng-style="{'background-image': 'url(img/visionnew.jpg)'}" role="button"
                 aria-label="Click to go to vision impairment" ng-click="goToSection('vision', '/vision/s01_l01')">
                <h1>{{'TITLE_VISION' | translate}}</h1>
            </div>
            <div class="homeVignette" ng-style="{'background-image': 'url(img/hearingmenu.jpg)'}" role="button"
                 aria-label="Click to go to hearing impairment" ng-click="goToSection('hearing', '/hearing/s01_l01')">
                <h1>{{'TITLE_HEARING' | translate}}</h1>
            </div>
            <div class="homeVignette" ng-style="{'background-image': 'url(img/dualnew.jpg)'}" role="button"
                 aria-label="Click to go to combined impairment" ng-click="goToSection('dual', '/dual/s01_l01')">
                <h1>{{'TITLE_DUAL' | translate}}</h1>
            </div>
            <div class="" style="font-size: 1.3em;" role="note">
                <p>You can choose to read the text in English or Kiswahili. The audio-visual sequences are interpreted in
                    sign language and given audio description.<br><br>
                    Vision and hearing are considered as our most important senses. In this web portal you will find information about visual -, hearing - and dual sensory impairments. Through text, pictures and video-sequences the information goes from simple to more complex.
<br><br>
                    The text is both in English and Kiswahili. The audio-visual sequences are interpreted in sign language and given audio description.
<br><br>
                    Hopefully the web portal will be useful for everyone.
                </p>
            </div>
        </div>
    </div>


</div>
