<meta name="categories" content="">
<div ng-controller="SensoryCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here"
                           title="Introduction"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        
        ######<br>
        <enable-file-link href="test.pdf">Test pdf</enable-file-link>
        ######<br>
        
        <h4>What is the web portal "Sensory Impairment" about?</h4>
        <p>Vision and hearing are considered as our most important senses. In this web portal you will find information about sensory impairment. Through text, pictures and video-sequences you can learn about visual impairment, hearing impairment and
           dual sensory impairment, often called deaf-blindness.</p>

        <h4>Who is this web portal for?</h4>
        <p>The information goes from simple to more complex and may therefore be useful for everyone. You can choose to read the text in English or Swahili.<br>The main target group for the web portal are the master students at Faculty of Special Need at Kyambogo University in Uganda.
            <br>But everybody else is welcome to visit these web pages. Especially those who are working for, working with or working together with people with
        sensory impairment. Maybe somebody in your family is impaired? Or somebody else you know?  Then this web portal can be useful. <br>People with sensory impairment themselves are of course welcome too, the web portal is universally designed and the audio-visual sequences are interpreted in
            sign language and given audio description.</p>
        <h4>Why this web portal?</h4>
        <p>Nations who have ratified the "UN Conventions on the Rights of the Child" shall promote:</p>
        <enable-grey-box e-type="quote">the exchange of appropriate
            information in the field of preventive health care and of medical, psychological and functional treatment of
            disabled children, including dissemination of and access to information concerning methods of rehabilitation,
            education and vocational services...</enable-grey-box>
        <div layout="row" layout-margin>
            <div style="width: 75%"></div>
            <div style="width: 25%"><h6>UN Conventions on the Rights of the Child. Article 23 (1990)</h6></div>
        </div>

        <p>Uganda, Kenya, Tanzania and Norway have all ratified the "UN Conventions on the Rights of the Child". The quote above
            emphasis the importance of dissemination of information about methods of rehabilitation,
            education and vocational services. That is the main purpose of this website and legitimate the website.</p>

        <h4>How does this web portal work?</h4>
        <p>If you are not familiar with the all the design-elements used in in this web portal, you can get a brief introduction here. The content is partially hidden in fields which can be opened and collapsed. The rest of the information in this section is f. ex hidden. Click on the link below to read more.</p>
        <enable-read-more label="More about the design-elements"><h4>Videos</h4>All the videos are stored in YouTube and embedded into the web portal. If the bandwidth allows, you can switch to a better quality on the videos by clicking on this button. All the videos are captioned with text in english or swahili. Choose caption by clicking on this button. You can access all the videos from YouTube <enable-link href="https://www.youtube.com/channel/UCKbL0Lp-z7EIM1UOfGIGScw">here.</enable-link>here. This webportal is static and not social, but feel free to comment and discuss teh videoes on YouTube.</enable-read-more>
<h4>A static or social web portal?</h4>
        <p>Initially this web portal is static and no moderators are following the activity. For making the portal more social a
            Facebook account will be connected. If you find the content the web portal inspiring, feel free to express your meanings and
            opinions about topics raised in this web portal on the Facebook account "Sensory Impairment"! (not yet created)</p>

    </div>


    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
