<meta name="categories" content="">
<div ng-controller="SensoryCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here"
                           title="Introduction"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <p>In this web portal you will find information about vision and hearing, considered as our most important
            senses.<br>
            Through text, pictures and video-sequences you will learn about visual impairment, hearing impairment and
            combined sensory impairment, often called deaf-blindness.<br>
            The information goes from simple to more complex and may therefore be useful for everyone.<br>
            You can choose to read the text in English or Swahili, and the audio-visual sequences are interpreted in
            sign language and given audio description.</p>
    </div>


    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
