<meta name="categories" content="">
<div ng-controller="SensoryCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here"
                           title="Inclusion, integration or segregation?"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">

        <h3>Inclusion</h3>
        <p><strong>Inclusion</strong> is the practice of educating where the learners with impairment are in the same school and class alongside their non-disabled peers. The learners with impairment participate full as equally valued and unique individuals.<br>The school should always plan her programmes and activities with this learner in mind. The learner should be involved in all aspects of school life and activities almost at the same level of participation as other learners. The learner should be supported in curriculum activities or areas that require the sense of vision or hearing.</p>
        <p>The Alliance for Inclusive Education present seven principles which inclusive education is based on:</p>
        <ul><li>Diversity enriches and strengthens all communities.</li>
            <li>All learners' different learning styles and achievements are equally valued, respected and celebrated by society.</li>
            <li>All learners are enabled to fulfil their potential by taking into account individual requirements and needs.</li>
            <li>Support is guaranteed and fully resourced across the whole learning experience.</li>
            <li>All learners need friendship and support from people of their own age.</li>
            <li>All children and young people are educated together as equals in their local communities.</li>
            <li>Inclusive Education is incompatible with segregated provision both within and outside mainstream education.</li>
            </ul>

       <p>Source:<enable-link href="http://www.allfie.org.uk/pages/about/aboutindex.html#principles">The Alliance for Inclusive Education</enable-link></p>

        <p>Are there no problems with the inclusive setting? Is everything only promising? Listen to Francis Kanubi, Headmaster at Salama School for the Blind, about obstacles for inclusive education</p>
        <enable-audio sndid="obstacles"></enable-audio>

        <h3>Segregation</h3>
        <p><strong>Segregation</strong> is when the learners are in a special school where all the other learners are impaired in a segregated education setting. Such a school tend the learners  to lead a separate life from the life outside school.</p>
<p>Listen to Francis Kanubi about advantages of a special school.</p>
        <enable-audio sndid="advantages"></enable-audio>
        <p>... and disadvantages</p>
        <enable-audio sndid="disadvantages"></enable-audio>

        <h3>Integration, something in between</h3>
        <p><strong>Integration</strong> is when the learner is being placed in mainstream education settings with some adaptations and resources. The structures are pre-existing and the attitudes are not changed.</p>
    </div>


    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>