<meta name="categories" content="">
<div ng-controller="SensoryCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here" title="Laws and policies"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">

        <h2>Key conventions and declarations</h2>

        <p>Almost all countries (including Uganda, Kenya and Tanzania) have agreed and signed the following conventions and
            declarations.
            Therefore it can be of interest for students, teachers, people who are working with or for people with
            sensory impairment or people with sensory impairment themselves to know more about the background behind the situation for people with impairment for today.</p>
        <h4>Human rights</h4>
        <p>The Universal Declaration of Human Rights is a milestone document in the history of human rights. Representatives with different legal and cultural backgrounds from all regions of the world drafted the Declaration which was proclaimed in 1948. For the first time, fundamental human rights were universally protected.</p>
        <nav class="level03-toc">

                    <a href="" ng-click="gotoAnchor('s1')"><h5>The Universal Declaration for Human Rights (1948)</h5></a>
            </nav>
             <h4>Rights for for persons with disabilities.</h4> <p>There have been several efforts globally and regionally about how to advocate the right of people with impairment. The International Year of Disabled Persons (IYDP) i 1981 was a starting point for the rights for persons with disabilities. IYDP called for a plan of action at the national, regional and international levels, with an emphasis on equalization of opportunities, rehabilitation and prevention of disabilities. Since then several key documents which promote the rights for persons with disabilities have been created.</p>
        <nav class="level03-toc">
        <ul><li><a href="" ng-click="gotoAnchor('s2')"><h5>UN Standard Rules on the Equalization of Opportunities for Persons with Disabilities (1993)</h5></a>
                </li>
                <li>
                    <a href="" ng-click="gotoAnchor('s3')"><h5>The United Nations Convention on the Rights of the Child (1989)</h5></a>
                </li>
            </ul>
            </nav>

            <h4>Quality basic education for all</h4>
                    <p>The Education for All movement is a global commitment to provide quality basic education for all children,
                        youth and adults. The movement was launched at the World Conference on Education for All in 1990 by UNESCO,
                        UNDP, UNICEF and the World Bank. Participants endorsed an 'expanded vision of learning' and pledged to
                        universalize primary education and massively reduce illiteracy by the end of the decade.</p>
                <nav class="level03-toc"><ul><li><a href="" ng-click="gotoAnchor('s4')"><h5>World Declaration on Education for All (1990)</h5></a>
                </li>
                <li>
                    <a href="" ng-click="gotoAnchor('s5')"><h5>Education for All (2000)</h5></a>
                </li>
                <li>
                    <a href="" ng-click="gotoAnchor('s6')"><h5>Education post-2015</h5></a>
                </li>
            </ul>
        </nav>
        <br>

        <div id="s1" class="level03">
        <h4>The Universal Declaration for Human Rights</h4>
            <p>The Universal Declaration of Human Rights emphasizes the human rights and anti-discrimination among people.<br>Article 26 states:
                <enable-grey-box e-type="quote">Everyone has the right to education...Education
                shall be directed to the full development of human personality and to the strengthening
                of respect for human rights and fundamental freedoms.</enable-grey-box>
            <p>Therefore, people with impairment among others have equal rights before the law. People with impairment therefore have rights to:</p>
        <ul>
            <li>education</li>
            <li>life</li>
            <li>recognition</li>
            <li>freedom of opinion and expression</li>
            <li>marry</li>
            <li>own properties</li>
            <li>work.</li>
        </ul>
            <p>Download from internet:<enable-link href="http://www.un.org/en/documents/udhr/">The Universal Declaration for Human Rights.</enable-link>
            <p>Download from local server:</p>
            <enable-file-link href="humanrights.pdf">The Universal Declaration for Human Rights.</enable-file-link>
            <p>These rights are internationally declared. In each country there should  be policies which put these human rights into legal practices. All constitutions in Kenya, Tanzania and Uganda emphasized the rights of people with disability.
            Furthermore, there are policies and act addressing the issue of people with disability.</p> <br>
        <p>For example in Tanzania, there is a national policy of disability of 2004. (Download
            <enable-link href="http://www.tanzania.go.tz/egov_uploads/documents/NATIONAL_POLICY_ON_DISABILITY_sw.pdf">PDF</enable-link>
            This is also a case in Uganda (Download <enable-link href="http://www.ilo.org/wcmsp5/groups/public/@ed_emp/@ifp_skills/documents/publication/wcms_115099.pdf">PDF</enable-link>
            and Kenya (Download <enable-link href="http://www.ilo.org/wcmsp5/groups/public/@ed_emp/@ifp_skills/documents/publication/wcms_115097.pdf">PDF</enable-link></p>
        </div>
        <div id="s2" class="level03">
            <h4>UN Standard Rules on the Equalization of Opportunities for Persons with Disabilities </h4>
        <enable-quotebox e-type="quote">The Standard Rules represent a strong moral and political commitment of Governments to take action to attain equalization of opportunities for persons with disabilities.</enable-quotebox>
        <p>The 22 rules from 1993 focus on <strong>"Preconditions for Equal Participation"</strong>, <strong>"Target Areas for Equal Participation"</strong> and <strong>"Implementation Measures"</strong>.</p>
        <p> They serve as an instrument for policy-making and as a basis for technical and economic cooperation.<br>In this context the target areas for equal participation should be of special interest. They are:</p>
        <ul>
            <li>Accessibility</li>
            <li>Education</li>
            <li>Employment</li>
            <li>Income maintenance and social security</li>
            <li>Family life and personal integrity</li>
            <li>culture</li>
            <li>Recreation and sports</li>
            <li>Religion</li>
        </ul>

        <enable-read-more label="More about the eight target areas for equal participation">
            <ul>
                <li><strong>Rule 5. Accessibility</strong><br>
                    States should recognize the overall importance of accessibility in the process of the equalization of opportunities in all spheres of society. For persons with disabilities of any kind, States should (a) introduce programmes of action to make the physical environment accessible; and (b) undertake measures to provide access to information and communication.</li>
                <li><strong>Rule 6. Education</strong><br>States should recognize the principle of equal primary, secondary and tertiary educational opportunities for children, youth and adults with disabilities, in integrated settings. They should ensure that the education of persons with disabilities is an integral part of the educational system.</li>
                <li><strong>Rule 7. Employment</strong><br>States should recognize the principle that persons with disabilities must be empowered to exercise their human rights, particularly in the field of employment. In both rural and urban areas they must have equal opportunities for productive and gainful employment in the labour market.</li>
                <li><strong>Rule 8. Income maintenance and social security</strong><br>States are responsible for the provision of social security and income maintenance for persons with disabilities.</li>
                <li><strong>Rule 9. Family life and personal integrity</strong><br>States should promote the full participation of persons with disabilities in family life. They should promote their right to personal integrity and ensure that laws do not discriminate against persons with disabilities with respect to sexual relationships, marriage and parenthood.</li>
                <li><strong>Rule 10. Culture</strong><br>States will ensure that persons with disabilities are integrated into and can participate in cultural activities on an equal basis.</li>
                <li><strong>Rule 11. Recreation and sports</strong><br>States will take measures to ensure that persons with disabilities have equal opportunities for recreation and sports.</li>
                <li><strong>Rule 12. Religion</strong><br>States will encourage measures for equal participation by persons with disabilities in the religious life of their communities.</li>
            </ul></enable-read-more>
            <p>Download from internet:<enable-link href="http://www.un.org/esa/socdev/enable/dissre00.htm">UN Standard rules</enable-link></p>
            <p>Download from local server:</p>
            <enable-file-link href="standardrules.pdf">UN Standard rules</enable-file-link>
        </div>
        <div id="s3" class="level03">
        <h4>The United Nations Convention on the Rights of the Child</h4>
        <div layout="row" layout-margin>
            <div style="width: 40%"><enable-image picname="barnekonvensjon.jpg" picalt="Barnekonvensjonen"></div>
            <div style="width: 5%"></div>
            <div style="width: 55%"><p>The Convention on the Rights of the Child (1990) recalls the Universal Declaration of Human Rights where it is proclaimed and agreed that everyone is entitled to all the rights
                and freedoms set forth therein, without distinction of any kind, such as race, colour, sex, language, religion,
                political or other opinion, national or social origin, property, birth or other status.</p>
            </div>
        </div>
        <p>The convention emphasise the family to be the most important unit for the child. The child should grow
            up in a family environment, in an atmosphere of happiness, love and understanding. It is also mentioned a particular account should be taken of the needs of developing countries.<br>The convention consists of 54 articles divided in three parts. Article 23 specifically targets disabled children and their rights.<br>The nations who have ratified the convention are committed to:</p>
        <enable-grey-box e-type="quote">recognize that a mentally or physically disabled child should enjoy a full and decent life,
            in conditions which ensure dignity, promote self-reliance and facilitate the child’s active participation in
            the community.</enable-grey-box>
        <br>
        <p>The help to disabled children should be:</p>
        <enable-grey-box e-type="quote">designed to ensure that the disabled
            child has effective access to and receives education, training, health care services,rehabilitation services,
            preparation for employment and recreation opportunities in a manner conducive to the child’s achieving
            the fullest possible social integration and individual development, including his or her cultural and
            spiritual development.</enable-grey-box>

        <p>Download from internet:</p><enable-link href="http://www.unicef.org.uk/Documents/Publication-pdfs/UNCRC_PRESS200910web.pdf">United Nations Convention on the Rights of the Child</enable-link>
            <p>Download from local server:</p>
            <enable-file-link href="childsrights.pdf">United Nations Convention on the Rights of the Child</enable-file-link>
        </div>
        <h3>Quality basic education for all</h3>
        <p>The Education for All movement is a global commitment to provide quality basic education for all children,
            youth and adults. The movement was launched at the World Conference on Education for All in 1990 by UNESCO,
            UNDP, UNICEF and the World Bank. Participants endorsed an 'expanded vision of learning' and pledged to
            universalize primary education and massively reduce illiteracy by the end of the decade.</p>
        <div id="s4" class="level03">
        <h4>World Declaration on Education for All</h4>
        <p>The participants in the World Conference on Education for All:</p>
        <ul><li>recalled that education is a fundamental right for all people regardless of sex, age, or where they live</li>
            <li>understood that education can help ensure a safer, healthier, more prosperous and environmentally sound world</li>
            <li>knew that education is an indispensable key to, though not a sufficient condition for, personal and social improvement</li>
            <li>recognized that traditional knowledge and indigenous cultural heritage have a value and validity in their own right and a capacity to both define and promote development</li>
            <li>recognized that sound basic education is fundamental to the strengthening of higher levels of education and of scientific and technological literacy and capacity</li>
            <li>recognized the necessity to give to present and coming generations an expanded vision of, and a renewed commitment to, basic education.</li>
        </ul>
        <enable-read-more label="Read the ten articles in the declaration:">
            <p>The declaration consists of ten articles:</p>
            <ol><li><strong>Meeting basic needs.</strong><br>Every person - child, youth and adult - shall be able to benefit from educational opportunities designed to meet their basic learning needs.</li>
                <li><strong>Shaping the vision.</strong><br>To serve the basic learning needs of all requires more than a recommitment
                    to basic education as it now exists. What is needed is an "expanded
                    vision" that surpasses present resource levels, institutional structures, curricula, and conventional delivery systems while building on the
                    best in current practices.</li>
                <li><strong>Universalizing access and promote equity.</strong><br>Basic education should be provided to all children, youth and
                    adults.</li>
                <li><strong>Focussing on learning.</strong><br>Whether or not expanded educational opportunities will translate
                    into meaningful development - for an individual or for society -
                    depends ultimately on whether people actually learn as a result of those
                    opportunities, i. e., whether they incorporate useful knowledge, reasoning
                    ability, skills, and values.</li>
                <li><strong>Broadening the means and scope of basic education.</strong><br>The diversity, complexity, and changing nature of basic learning
                    needs of children, youth and adults necessitates broadening and
                    constantly redefining the scope of basic education.</li>
                <li><strong>Enhancing the environment for learning.</strong><br> Learning does not take place in isolation. Societies, therefore,
                    must ensure that all learners receive the nutrition, health care, and
                    general physical and emotional support they need in order to participate actively in and benefit from their education.</li>
                <li><strong>Strenghtening partnerships.</strong><br>National, regional, and local educational authorities have a
                    unique obligation to provide basic education for all, but they cannot
                    be expected to supply every human, financial or organizational
                    requirement for this task. New and revitalized partnerships
                    at all levels will be necessary.</li>
                <li><strong>Develop a supportive policy context</strong><br>Supportive policies in the social, cultural, and economic sectors
                    are required in order to realize the full provision and utilization of
                    basic education for individual and societal improvement.</li>
                <li><strong>Mobilizing resources.</strong><br>If the basic learning needs of all are to be met through a much
                    broader scope of action than in the past, it will be essential to mobilize
                    existing and new financial and human resources, public, private and
                    voluntary.</li>
                <li><strong>Strenghtening international solidarity.</strong><br>Meeting basic learning needs constitutes a common and universal
                    human responsibility. It requires international solidarity and equitable
                    and fair economic relations in order to redress existing economic disparities.</li>
            </ol>
        </enable-read-more>
        <p>Download fom internet:</p><enable-link href="http://unesdoc.unesco.org/images/0012/001275/127583e.pdf">World Declaration on Education for All</enable-link>
            <p>Download from local server:</p>
            <enable-file-link href="worlddeclaration.pdf">World Declaration on Education for All</enable-file-link>
        </div>
        <div id="s5" class="level03">
            <h4>Education for All (2000)</h4>
        <div layout="row" layout-margin>
            <div style="width: 30%"><enable-image picname="EFA.jpg" picalt="Education for All"></div>
            <div style="width: 5%"></div>
            <div style="width: 65%"><p>Uganda, Kenya and Tanzania have all signed the declaration "The Dakar Framework for Action, Education for All" where six internationally agreed education goals aim to meet the learning needs of all children, youth and adults by 2015.</p>
                <p>Goal number 2 (of 6) in this framework mentions that children with special needs and other marginalized groups, should be given the opportunity to complete a good quality primary education.<br>The comment according to the second goal says:<br> "Education systems must be inclusive, actively seeking out children who are not enrolled,
                    and responding flexibly to the circumstances and needs of all learners."</p>
            </div>
        </div>
        <enable-read-more label="The six Education for All goals">
            <ul>
                <li><strong>Goal 1</strong><br>Expanding and improving comprehensive early childhood care and education, especially for the most vulnerable and disadvantaged children.</li>
                <li><strong>Goal 2</strong><br>Ensuring that by 2015 all children, particularly girls, children in difficult circumstances and those belonging to ethnic minorities, have access to, and complete, free and compulsory primary education of good quality.</li>
                <li><strong>Goal 3</strong><br>Ensuring that the learning needs of all young people and adults are met through equitable access to appropriate learning and life-skills programmes.</li>
                <li><strong>Goal 4</strong><br>Achieving a 50 per cent improvement in levels of adult literacy by 2015, especially for women, and equitable access to basic and continuing education for all adults.</li>
                <li><strong>Goal 5</strong><br>Eliminating gender disparities in primary and secondary education by 2005, and achieving gender equality in education by 2015, with a focus on ensuring girls’ full and equal access to and achievement in basic education of good quality.</li>
                <li><strong>Goal 6</strong><br>Improving all aspects of the quality of education and ensuring excellence of all so that recognized and measurable learning outcomes are achieved by all, especially in literacy, numeracy and essential life skills.</li>
            </ul></enable-read-more>
        <p>Download from internet:</p><enable-link href="http://unesdoc.unesco.org/images/0012/001211/121147e.pdf">The Dakar Framework for Action</enable-link>
            <p>Download from local server:</p>
            <enable-file-link href="dakar.pdf">The Dakar Framework for Action</enable-file-link>
             <div id="s6" class="level03">
            <h3>Education post-2015</h3>
        <p>As the 2015 target year for the six internationally agreed education goals in Education for All (EFA) and the 
        Millennium Development Goals (MDGs) draws near, there is a need to articulate the vision, shape and scope of post 
        2015 education goals.</p></div>
        <p>Unesco and Unicef have written a flyer which is conserned about the vision and principles of the post-2015
education agenda. Read the flyer <enable-link href="http://www.unesco.org/new/fileadmin/MULTIMEDIA/HQ/ED/ED_new/Beyond2015_UNESCO-UNICEF-Flyer.pdf">Beyond 2015: The Education We Want.</enable-link></p>
<p>Unesco and Unicef together with other parnters have set out a new vision for education for the next
fifteen years in the Incheon Declaration. Read <enable-link href="http://www.unesco.org/new/fileadmin/MULTIMEDIA/HQ/ED/ED/pdf/FinalVersion-IncheonDeclaration.pdf">Education 2030: Towards inclusive and equitable quality education and lifelong learning for all.</enable-link> </p>

        <p>According to UNESCO there are ongoing reflections and debates about the future education.</p>

        <p>Read more about <enable-link href="http://en.unesco.org/post2015/">UNESCOs contribution</enable-link></p>
            </div>

    </div>


    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
