<meta name="categories" content="">
<div ng-controller="SensoryCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here"
                           title="Inclusion, integration or segregation?"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">

        <h3>Inclusion</h3>
        <p>Inclusion is the practice of educating where the learners with impairment are in the same school and class alongside their
            non-disabled peers. The learners with impairment participate full as equally valued and unique individuals.<br>
            The Salamanca Statement and Framework for Action on Special Needs Education (1994) is arguably the most significant international document that has ever appeared in special education.<br>
            It argues that:</p>
            <enable-grey-box e-type="quote">Regular schools with (an) inclusive orientation are the most effective means of combating
            discriminatory attitudes, creating welcoming communities, building an inclusive society and achieving education for all.</enable-grey-box>

    <br>
    <p>Unesco´s Guidelines for Inclusion (2005) states:</p>
        <enable-grey-box e-type="quote">Education must be viewed as a facilitator in everyone’s human development and
        functionality, regardless of barriers of any kind, physical or otherwise. Therefore, disability
        of any kind cannot be a disqualifier.</enable-grey-box>

    <p>According to this guidelines four key elements have tended to conceptualise inclusion:</p>
    <ul><li><i>Inclusion is a process.</i><br>Inclusion has to be seen as a never-ending
        search to find better ways of responding to diversity.</li>
        <li><i>Inclusion is concerned with the identification and removal of barriers.</i><br>Collecting and evaluating information from a wide variety
            of sources in order to plan for improvements in policy and practice.</li>
        <li><i>Inclusion is about the presence, participation and achievement of all students.</i><br>Where children are educated and how punctually they attend, the quality of their experiences
            whilst they are there and the outcomes of learning across the curriculum.</li>
        <li><i>Inclusion involves a particular emphasis on those groups of learners who may be at
            risk of marginalization, exclusion or underachievement.</i><br>The moral responsibility to ensure that those groups are carefully
            monitored and that the necessary steps are taken.</li>
        </ul>

       <p>Download and read:</p>
        <enable-link href="http://unesdoc.unesco.org/images/0014/001402/140224e.pdf">Unesco´s Guidelines for Inclusion</enable-link>
        <enable-link href="http://www.unesco.org/education/pdf/SALAMA_E.PDF">The Salamanca Statement and Framework for Action on Special Needs Education</enable-link>
<h4>Is inclusion always promising?</h4>
        <p>Are there no problems with the inclusive setting? No obstacles at all?<br> Listen to Francis Kanubi, Headmaster at Salama School for the Blind, about obstacles for inclusive education in Uganda.</p>
        <enable-audio sndid="obstacles"></enable-audio>
        <h4>What inclusion <strong>is</strong> about:</h4>
        <enable-grey-box><ul><li>welcoming diversity</li>
            <li>benefiting all learners, not only targeting the excluded</li>
            <li>children in school who may feel excluded</li>
            <li>providing equal access to education or making certain provisions for certain categories of children without excluding them</li>
        </ul></enable-grey-box>

        <h3>Segregation</h3>
        <p>Segregation is when the learners are in a special school where all the other learners are impaired in a segregated education setting. Such a school tend the learners  to lead a separate life from the life outside school.</p>
        <h4>What inclusion is <strong>not</strong> about:</h4>
        <enable-grey-box><ul><li>reforms of special education alone, but reform of both the formal and non-formal education system</li>
            <li>responding only to diversity, but also improving the quality of education for all learners</li>
            <li>special schools but perhaps additional support to students within the regular school system</li>
            <li>meeting the needs of children with disabilities only</li>
            <li>meeting one child’s needs at the expense of another child</li>
        </ul></enable-grey-box>
        <p> But life is not black or white. Listen to Francis Kanubi about the advantages of a special school ...</p>
        <enable-audio sndid="advantages"></enable-audio>
        <p>... and the disadvantages.</p>
        <enable-audio sndid="disadvantages"></enable-audio>



        <h3>Integration</h3>
        <p>Will there be a position between inclusion and segregation?</p>
        <p>Will the learners with impairment participate full and be valued equally and seen as unique individuals if they are integrated?</p>
<h5>The process of inclusion</h5>

        <div layout="row" layout-margin>

            <div style="width: 50%"><enable-image picname="stepstoinclusion.jpg" picalt="Steps into inclusion "></enable-image></div>
            <div style="width: 50%"><br><br><br><br><p>Integration is when the learner is being placed in
            mainstream education settings with some adaptations and resources. The structures are pre-existing and the attitudes
            are not changed. To be excluded is to be denied. In a segregated school the learner is accepted. Integration is based
                on understanding the learner. Inclusion is based on knowledge about the learner.</p></div></div>


    </div>


    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>