<div ng-controller="HomeCtrl" ng-style="{'height': windowHeight+'px', 'width': windowWidth+'px', 'background-color': '#FFFFFF'}" autoresize="" layout="column" >
    <div flex layout-padding class="homeText">
        <h1 flex>Défiance sensorielle – Afrique de l'Est.</h1>
        <div>Petit texte en francais</div>

    </div>
    <div class="homeVignetteBar" layout="row">
        <div flex class="homeVignette" ng-style="{'background-image': 'url(../img/vision.jpg)'}" layout-fill role="button" ng-click="goToSection('/vision/s01_l01')">
            <div class="homeVignetteBackdrop" layout layout-align="center end">
                <div>
                    <h1>Vue</h1>
                </div>
            </div>
        </div>
        <div flex class="homeVignette" ng-style="{'background-image': 'url(../img/hearing.jpg)'}" layout-fill>
            <div class="homeVignetteBackdrop" layout layout-align="center end">
                <div>
                    <h1>Ouïe</h1>
                </div>
            </div>
        </div>
        <div flex class="homeVignette" ng-style="{'background-image': 'url(../img/combined.jpg)'}" layout-fill>
            <div class="homeVignetteBackdrop" layout layout-align="center end">
                <div>
                    <h1>Combinaison</h1>
                </div>
            </div>
        </div>
    </div>
    <enable-footer></enable-footer>
</div>
