<!--

Dual sidebar definition

-->
<h2 style="margin-left: 10px;">{{'TITLE_SENSORY' | translate}}</h2>

<ul class="menusection" style="border: none;">
    <li><a auto-active ng-click="closeMenu()" ng-href="#/sensory/s01_l01">{{ 'MENU_SENSORY_SECTION01_LINK01' | translate }}</a></li>

    <li>
        <div tabindex="0" aria-expanded="{{m2}}" ng-click="m2=!m2" class="submenu">
            <img ng-src="{{m2 ? 'img/icons/ic_expand_more_48px.svg' : 'img/icons/ic_chevron_right_48px.svg'}}"/>
            <span>{{ 'MENU_SENSORY_SECTION02_TITLE' |  translate }}</span>
            <span class="screenReadersOnly">{{'MENU_TOGGLES_OPEN_CLOSED' | translate}}</span>
        </div>

        <ul class="submenuitem menusection" ng-show="m2">
            <li><a auto-active ng-click="closeMenu()" ng-href="#/sensory/s02_l01">{{ 'MENU_SENSORY_SECTION02_LINK01' | translate }}</a></li>
            <li><a auto-active ng-click="closeMenu()" ng-href="#/sensory/s02_l02">{{ 'MENU_SENSORY_SECTION02_LINK02' | translate }}</a></li>
        </ul>
    </li>

    <li><a auto-active ng-click="closeMenu()" ng-href="#/sensory/s03_l01">{{ 'MENU_SENSORY_SECTION03_LINK01' | translate }}</a></li>

</ul>
