<!--

Dual sidebar definition

-->


<dl>
    <a auto-active ng-click="closeMenu()" ng-href="#/sensory/s01_l01">{{ 'MENU_SENSORY_SECTION01_LINK01' | translate }}</a>

    <dt tabindex="0" role="tab" aria-expanded="{{m2}}" ng-click="m2=!m2">
        <span ng-show="!m2">+</span><span ng-show="m2">-</span> {{ 'MENU_SENSORY_SECTION02_TITLE' |  translate }}
        <span class="screenReadersOnly">{{ m2 ? " - click to toggle close" : " - click to toggle open"}}</span>
    </dt>

    <dd class="submenuitem" layout="column" ng-show="m2">
        <a auto-active ng-click="closeMenu()" ng-href="#/sensory/s02_l01">{{ 'MENU_SENSORY_SECTION02_LINK01' | translate }}</a>
        <a auto-active ng-click="closeMenu()" ng-href="#/sensory/s02_l02">{{ 'MENU_SENSORY_SECTION02_LINK02' | translate }}</a>
    </dd>

    <a auto-active ng-click="closeMenu()" ng-href="#/sensory/s03_l01">{{ 'MENU_SENSORY_SECTION03_LINK01' | translate }}</a>

    <a auto-active ng-click="closeMenu()" ng-href="#/sensory/s04_l01">{{ 'MENU_SENSORY_SECTION04_LINK01' | translate }}</a>

    <a auto-active ng-click="closeMenu()" ng-href="#/sensory/s05_l01">{{ 'MENU_SENSORY_SECTION05_LINK01' | translate }}</a>

    <a auto-active ng-click="closeMenu()" ng-href="#/sensory/s06_l01">{{ 'MENU_SENSORY_SECTION06_LINK01' | translate }}</a>

    <a auto-active ng-click="closeMenu()" ng-href="#/sensory/s07_l01">{{ 'MENU_SENSORY_SECTION07_LINK01' | translate }}</a>

</dl>
