<div ng-if="menuInclude === 'vision'">

    <h2 style="margin-left: 10px;">{{'TITLE_VISION' | translate}}</h2>

    <ul class="menusection" style="border: none;">
        <li><a auto-active ng-click="closeMenu()" ng-href="#/vision/s01_l01">{{ 'MENU_VISION_SECTION01_LINK01' | translate }}</a></li>

        <li><a auto-active ng-click="closeMenu()" ng-href="#/vision/s02_l01">{{ 'MENU_VISION_SECTION02_LINK01' | translate }}</a></li>

        <li><a auto-active ng-click="closeMenu()" ng-href="#/vision/s03_l01">{{ 'MENU_VISION_SECTION03_LINK01' | translate }}</a></li>

        <li><a auto-active ng-click="closeMenu()" ng-href="#/vision/s04_l01">{{ 'MENU_VISION_SECTION04_LINK01' | translate }}</a></li>

        <li><a auto-active ng-click="closeMenu()" ng-href="#/vision/s05_l01">{{ 'MENU_VISION_SECTION05_LINK01' | translate }}</a></li>

        <li>
            <div tabindex="0" aria-expanded="{{m6}}" ng-click="m6=!m6" class="submenu">
                <img ng-src="{{m6 ? 'img/icons/ic_expand_more_48px.svg' : 'img/icons/ic_chevron_right_48px.svg'}}"/>
                <span>{{ 'MENU_VISION_SECTION06_TITLE' |  translate }}</span>
                <span class="screenReadersOnly">{{'MENU_TOGGLES_OPEN_CLOSED' | translate}}</span>
            </div>

            <ul class="submenuitem menusection" ng-show="m6">
                <li><a auto-active ng-click="closeMenu()" ng-href="#/vision/s06_l01">{{ 'MENU_VISION_SECTION06_LINK01' | translate }}</a></li>
                <li><a auto-active ng-click="closeMenu()" ng-href="#/vision/s06_l02">{{ 'MENU_VISION_SECTION06_LINK02' | translate }}</a></li>
                <li><a auto-active ng-click="closeMenu()" ng-href="#/vision/s06_l03">{{ 'MENU_VISION_SECTION06_LINK03' | translate }}</a></li>
            </ul>
        </li>

        <li>
            <div tabindex="0" aria-expanded="{{m7}}" ng-click="m7=!m7" class="submenu">
                <img ng-src="{{m7 ? 'img/icons/ic_expand_more_48px.svg' : 'img/icons/ic_chevron_right_48px.svg'}}"/>
                <span>{{ 'MENU_VISION_SECTION07_TITLE' |  translate }}</span>
                <span class="screenReadersOnly">{{'MENU_TOGGLES_OPEN_CLOSED' | translate}}</span>
            </div>

            <ul class="submenuitem menusection" ng-show="m7">
                <li><a auto-active ng-click="closeMenu()" ng-href="#/vision/s07_l01">{{ 'MENU_VISION_SECTION07_LINK01' | translate }}</a></li>
                <li><a auto-active ng-click="closeMenu()" ng-href="#/vision/s07_l02">{{ 'MENU_VISION_SECTION07_LINK02' | translate }}</a></li>
                <li><a auto-active ng-click="closeMenu()" ng-href="#/vision/s07_l03">{{ 'MENU_VISION_SECTION07_LINK03' | translate }}</a></li>
            </ul>
        </li>

        <li><a auto-active ng-click="closeMenu()" ng-href="#/vision/s08_l01">{{ 'MENU_VISION_SECTION08_LINK01' | translate }}</a></li>

        <li>
            <div tabindex="0" aria-expanded="{{m9}}" ng-click="m9=!m9" class="submenu">
                <img ng-src="{{m9 ? 'img/icons/ic_expand_more_48px.svg' : 'img/icons/ic_chevron_right_48px.svg'}}"/>
                <span>{{ 'MENU_VISION_SECTION09_TITLE' |  translate }}</span>
                <span class="screenReadersOnly">{{'MENU_TOGGLES_OPEN_CLOSED' | translate}}</span>
            </div>

            <ul class="submenuitem menusection" ng-show="m9">
                <li><a auto-active ng-click="closeMenu()" ng-href="#/vision/s09_l01">{{ 'MENU_VISION_SECTION09_LINK01' | translate }}</a></li>
                <li><a auto-active ng-click="closeMenu()" ng-href="#/vision/s09_l02">{{ 'MENU_VISION_SECTION09_LINK02' | translate }}</a></li>
            </ul>
        </li>

        <li><a auto-active ng-click="closeMenu()" ng-href="#/vision/s10_l01">{{ 'MENU_VISION_SECTION10_LINK01' | translate }}</a></li>

        <li><a auto-active ng-click="closeMenu()" ng-href="#/vision/s11_l01">{{ 'MENU_VISION_SECTION11_LINK01' | translate }}</a><li>

        <li><a auto-active ng-click="closeMenu()" ng-href="#/vision/s12_l01">{{ 'MENU_VISION_SECTION12_LINK01' | translate }}</a><li>

        <li><a auto-active ng-click="closeMenu()" ng-href="#/vision/s13_l01">{{ 'MENU_VISION_SECTION13_LINK01' | translate }}</a><li>

    </ul>


</div>

<div ng-if="menuInclude === 'hearing'">

    <h2 style="margin-left: 10px;">{{'TITLE_HEARING' | translate}}</h2>

    <ul class="menusection" style="border: none;">
        <li><a auto-active ng-click="closeMenu()" ng-href="#/hearing/s01_l01">{{ 'MENU_HEARING_SECTION01_LINK01' | translate }}</a></li>
        <li><a auto-active ng-click="closeMenu()" ng-href="#/hearing/s02_l01">{{ 'MENU_HEARING_SECTION02_LINK01' | translate }}</a></li>

        <li>
            <div tabindex="0" aria-expanded="{{m3}}" ng-click="m3=!m3" class="submenu">
                <img ng-src="{{m3 ? 'img/icons/ic_expand_more_48px.svg' : 'img/icons/ic_chevron_right_48px.svg'}}"/>
                <span>{{ 'MENU_HEARING_SECTION03_TITLE' |  translate }}</span>
                <span class="screenReadersOnly">{{'MENU_TOGGLES_OPEN_CLOSED' | translate}}</span>
            </div>

            <ul class="submenuitem menusection" ng-show="m3">
                <li><a auto-active ng-click="closeMenu()" ng-href="#/hearing/s03_l01">{{ 'MENU_HEARING_SECTION03_LINK01' | translate }}</a></li>
                <li><a auto-active ng-click="closeMenu()" ng-href="#/hearing/s03_l02">{{ 'MENU_HEARING_SECTION03_LINK02' | translate }}</a></li>
                <li><a auto-active ng-click="closeMenu()" ng-href="#/hearing/s03_l03">{{ 'MENU_HEARING_SECTION03_LINK03' | translate }}</a></li>
            </ul>
        </li>

        <li>
            <div tabindex="0" aria-expanded="{{m4}}" ng-click="m4=!m4" class="submenu">
                <img ng-src="{{m4 ? 'img/icons/ic_expand_more_48px.svg' : 'img/icons/ic_chevron_right_48px.svg'}}"/>
                <span>{{ 'MENU_HEARING_SECTION04_TITLE' |  translate }}</span>
                <span class="screenReadersOnly">{{'MENU_TOGGLES_OPEN_CLOSED' | translate}}</span>
            </div>

            <ul class="submenuitem menusection" ng-show="m4">
                <li><a auto-active ng-click="closeMenu()" ng-href="#/hearing/s04_l01">{{ 'MENU_HEARING_SECTION04_LINK01' | translate }}</a></li>
                <li><a auto-active ng-click="closeMenu()" ng-href="#/hearing/s04_l02">{{ 'MENU_HEARING_SECTION04_LINK02' | translate }}</a></li>
            </ul>
        </li>

        <li>
            <div tabindex="0" aria-expanded="{{m5}}" ng-click="m5=!m5" class="submenu">
                <img ng-src="{{m5 ? 'img/icons/ic_expand_more_48px.svg' : 'img/icons/ic_chevron_right_48px.svg'}}"/>
                <span>{{ 'MENU_HEARING_SECTION05_TITLE' |  translate }}</span>
                <span class="screenReadersOnly">{{'MENU_TOGGLES_OPEN_CLOSED' | translate}}</span>
            </div>

            <ul class="submenuitem menusection" ng-show="m5">
                <li><a auto-active ng-click="closeMenu()" ng-href="#/hearing/s05_l01">{{ 'MENU_HEARING_SECTION05_LINK01' | translate }}</a></li>
                <li><a auto-active ng-click="closeMenu()" ng-href="#/hearing/s05_l02">{{ 'MENU_HEARING_SECTION05_LINK02' | translate }}</a></li>
                <li><a auto-active ng-click="closeMenu()" ng-href="#/hearing/s05_l03">{{ 'MENU_HEARING_SECTION05_LINK03' | translate }}</a></li>
                <li><a auto-active ng-click="closeMenu()" ng-href="#/hearing/s05_l04">{{ 'MENU_HEARING_SECTION05_LINK04' | translate }}</a></li>
                <li><a auto-active ng-click="closeMenu()" ng-href="#/hearing/s05_l05">{{ 'MENU_HEARING_SECTION05_LINK05' | translate }}</a></li>
                <li><a auto-active ng-click="closeMenu()" ng-href="#/hearing/s05_l06">{{ 'MENU_HEARING_SECTION05_LINK06' | translate }}</a></li>
            </ul>
        </li>

        <li>
            <div tabindex="0" aria-expanded="{{m6}}" ng-click="m6=!m6" class="submenu">
                <img ng-src="{{m6 ? 'img/icons/ic_expand_more_48px.svg' : 'img/icons/ic_chevron_right_48px.svg'}}"/>
                <span>{{ 'MENU_HEARING_SECTION06_TITLE' |  translate }}</span>
                <span class="screenReadersOnly">{{'MENU_TOGGLES_OPEN_CLOSED' | translate}}</span>
            </div>

            <ul class="submenuitem menusection" ng-show="m6">
                <li><a auto-active ng-click="closeMenu()" ng-href="#/hearing/s06_l01">{{ 'MENU_HEARING_SECTION06_LINK01' | translate }}</a></li>
                <li><a auto-active ng-click="closeMenu()" ng-href="#/hearing/s06_l02">{{ 'MENU_HEARING_SECTION06_LINK02' | translate }}</a></li>
                <li><a auto-active ng-click="closeMenu()" ng-href="#/hearing/s06_l03">{{ 'MENU_HEARING_SECTION06_LINK03' | translate }}</a></li>
            </ul>
        </li>

        <li><a auto-active ng-click="closeMenu()" ng-href="#/hearing/s07_l01">{{ 'MENU_HEARING_SECTION07_LINK01' | translate }}</a></li>

        <li>
            <div tabindex="0" aria-expanded="{{m8}}" ng-click="m8=!m8" class="submenu">
                <img ng-src="{{m8 ? 'img/icons/ic_expand_more_48px.svg' : 'img/icons/ic_chevron_right_48px.svg'}}"/>
                <span>{{ 'MENU_HEARING_SECTION08_TITLE' |  translate }}</span>
                <span class="screenReadersOnly">{{'MENU_TOGGLES_OPEN_CLOSED' | translate}}</span>
            </div>

            <ul class="submenuitem menusection" ng-show="m8">
                <li><a auto-active ng-click="closeMenu()" ng-href="#/hearing/s08_l01">{{ 'MENU_HEARING_SECTION08_LINK01' | translate }}</a></li>
                <li><a auto-active ng-click="closeMenu()" ng-href="#/hearing/s08_l02">{{ 'MENU_HEARING_SECTION08_LINK02' | translate }}</a></li>
            </ul>
        </li>

        <li><a auto-active ng-click="closeMenu()" ng-href="#/hearing/s09_l01">{{ 'MENU_HEARING_SECTION09_LINK01' | translate }}</a></li>
        <li><a auto-active ng-click="closeMenu()" ng-href="#/hearing/s10_l01">{{ 'MENU_HEARING_SECTION10_LINK01' | translate }}</a></li>
        <li><a auto-active ng-click="closeMenu()" ng-href="#/hearing/s11_l01">{{ 'MENU_HEARING_SECTION11_LINK01' | translate }}</a></li>
        <li><a auto-active ng-click="closeMenu()" ng-href="#/hearing/s12_l01">{{ 'MENU_HEARING_SECTION12_LINK01' | translate }}</a></li>

    </ul>

</div>

<div ng-if="menuInclude === 'dual'">
    <h2 style="margin-left: 10px;">{{'TITLE_DUAL' | translate}}</h2>

    <ul class="menusection" style="border: none;">
        <li><a auto-active ng-click="closeMenu()" ng-href="#/dual/s01_l01">{{ 'MENU_DUAL_SECTION01_LINK01' | translate }}</a></li>
        <li><a auto-active ng-click="closeMenu()" ng-href="#/dual/s02_l01">{{ 'MENU_DUAL_SECTION02_LINK01' | translate }}</a></li>
        <li><a auto-active ng-click="closeMenu()" ng-href="#/dual/s03_l01">{{ 'MENU_DUAL_SECTION03_LINK01' | translate }}</a></li>
        <li><a auto-active ng-click="closeMenu()" ng-href="#/dual/s04_l01">{{ 'MENU_DUAL_SECTION04_LINK01' | translate }}</a></li>
        <li><a auto-active ng-click="closeMenu()" ng-href="#/dual/s05_l01">{{ 'MENU_DUAL_SECTION05_LINK01' | translate }}</a></li>
        <li><a auto-active ng-click="closeMenu()" ng-href="#/dual/s06_l01">{{ 'MENU_DUAL_SECTION06_LINK01' | translate }}</a></li>
        <li><a auto-active ng-click="closeMenu()" ng-href="#/dual/s07_l01">{{ 'MENU_DUAL_SECTION07_LINK01' | translate }}</a></li>
        <li><a auto-active ng-click="closeMenu()" ng-href="#/dual/s08_l01">{{ 'MENU_DUAL_SECTION08_LINK01' | translate }}</a></li>
    </ul>

</div>
<div ng-if="menuInclude === 'sensory'">
    <h2 style="margin-left: 10px;">{{'TITLE_SENSORY' | translate}}</h2>

    <ul class="menusection" style="border: none;">
        <li><a auto-active ng-click="closeMenu()" ng-href="#/sensory/s01_l01">{{ 'MENU_SENSORY_SECTION01_LINK01' | translate }}</a></li>

        <li>
            <div tabindex="0" aria-expanded="{{m2}}" ng-click="m2=!m2" class="submenu">
                <img ng-src="{{m2 ? 'img/icons/ic_expand_more_48px.svg' : 'img/icons/ic_chevron_right_48px.svg'}}"/>
                <span>{{ 'MENU_SENSORY_SECTION02_TITLE' |  translate }}</span>
                <span class="screenReadersOnly">{{'MENU_TOGGLES_OPEN_CLOSED' | translate}}</span>
            </div>

            <ul class="submenuitem menusection" ng-show="m2">
                <li><a auto-active ng-click="closeMenu()" ng-href="#/sensory/s02_l01">{{ 'MENU_SENSORY_SECTION02_LINK01' | translate }}</a></li>
                <li><a auto-active ng-click="closeMenu()" ng-href="#/sensory/s02_l02">{{ 'MENU_SENSORY_SECTION02_LINK02' | translate }}</a></li>
            </ul>
        </li>

        <li><a auto-active ng-click="closeMenu()" ng-href="#/sensory/s03_l01">{{ 'MENU_SENSORY_SECTION03_LINK01' | translate }}</a></li>

    </ul>

</div>