<!--

Dual sidebar definition

-->
<h2 style="margin-left: 10px;">{{'TITLE_DUAL' | translate}}</h2>

<dl>
    <a auto-active ng-click="closeMenu()" ng-href="#/dual/s01_l01">{{ 'MENU_DUAL_SECTION01_LINK01' | translate }}</a>

    <a auto-active ng-click="closeMenu()" ng-href="#/dual/s02_l01">{{ 'MENU_DUAL_SECTION02_LINK01' | translate }}</a>

    <a auto-active ng-click="closeMenu()" ng-href="#/dual/s03_l01">{{ 'MENU_DUAL_SECTION03_LINK01' | translate }}</a>

    <a auto-active ng-click="closeMenu()" ng-href="#/dual/s04_l01">{{ 'MENU_DUAL_SECTION04_LINK01' | translate }}</a>

    <a auto-active ng-click="closeMenu()" ng-href="#/dual/s05_l01">{{ 'MENU_DUAL_SECTION05_LINK01' | translate }}</a>

    <a auto-active ng-click="closeMenu()" ng-href="#/dual/s06_l01">{{ 'MENU_DUAL_SECTION06_LINK01' | translate }}</a>

    <a auto-active ng-click="closeMenu()" ng-href="#/dual/s07_l01">{{ 'MENU_DUAL_SECTION07_LINK01' | translate }}</a>

    <a auto-active ng-click="closeMenu()" ng-href="#/dual/s08_l01">{{ 'MENU_DUAL_SECTION08_LINK01' | translate }}</a>

</dl>
