<!--

Vision sidebar definition

-->




    <dl>
        <a auto-active ng-click="closeMenu()" ng-href="#/vision/s01_l01">{{ 'MENU_SECTION01_LINK01' | translate }}</a>

        <a auto-active ng-click="closeMenu()" ng-href="#/vision/s02_l01">{{ 'MENU_SECTION02_LINK01' | translate }}</a>

        <a auto-active ng-click="closeMenu()" ng-href="#/vision/s03_l01">{{ 'MENU_SECTION03_LINK01' | translate }}</a>

        <dt tabindex="0" role="tab" aria-expanded="{{m4}}" ng-click="m4=!m4">
            <span ng-show="!m4">+</span><span ng-show="m4">-</span> {{ 'MENU_SECTION04_TITLE' |  translate }}
            <span class="screenReadersOnly">{{ m4 ? " - click to toggle close" : " - click to toggle open"}}</span>
        </dt>

        <dd class="submenuitem" layout="column" ng-show="m4">
            <a auto-active ng-click="closeMenu()" ng-href="#/vision/s04_l01">{{ 'MENU_SECTION04_LINK01' | translate }}</a>
            <a auto-active ng-click="closeMenu()" ng-href="#/vision/s04_l02">{{ 'MENU_SECTION04_LINK02' | translate }}</a>
            <a auto-active ng-click="closeMenu()" ng-href="#/vision/s04_l03">{{ 'MENU_SECTION04_LINK03' | translate }}</a>
        </dd>

        <a auto-active ng-click="closeMenu()" ng-href="#/vision/s05_l01">{{ 'MENU_SECTION05_LINK01' | translate }}</a>

        <a auto-active ng-click="closeMenu()" ng-href="#/vision/s06_l01">{{ 'MENU_SECTION06_LINK01' | translate }}</a>

        <dt tabindex="0" role="tab" aria-expanded="{{m7}}" ng-click="m7=!m7">
            <span ng-show="!m7">+</span><span ng-show="m7">-</span> {{ 'MENU_SECTION07_TITLE' | translate }}
            <span class="screenReadersOnly">{{ m7 ? " - click to toggle close" : " - click to toggle open"}}</span>
        </dt>

        <dd class="submenuitem" layout="column" ng-show="m7">
            <a auto-active ng-click="closeMenu()" ng-href="#/vision/s07_l01">{{ 'MENU_SECTION07_LINK01' | translate }}</a>
            <a auto-active ng-click="closeMenu()" ng-href="#/vision/s07_l02">{{ 'MENU_SECTION07_LINK02' | translate }}</a>
            <a auto-active ng-click="closeMenu()" ng-href="#/vision/s07_l03">{{ 'MENU_SECTION07_LINK03' | translate }}</a>
        </dd>

        <a auto-active ng-click="closeMenu()" ng-href="#/vision/s08_l01">{{ 'MENU_SECTION08_LINK01' | translate }}</a>

        <dt tabindex="0" role="tab" aria-expanded="{{m9}}" ng-click="m9=!m9">
            <span ng-show="!m9">+</span><span ng-show="m9">-</span> {{ 'MENU_SECTION09_TITLE' | translate }}
            <span class="screenReadersOnly">{{ m9 ? " - click to toggle close" : " - click to toggle open"}}</span>
        </dt>

        <dd class="submenuitem" layout="column" ng-show="m9">
            <a auto-active ng-click="closeMenu()" ng-href="#/vision/s09_l01">{{ 'MENU_SECTION09_LINK01' | translate }}</a>
            <a auto-active ng-click="closeMenu()" ng-href="#/vision/s09_l02">{{ 'MENU_SECTION09_LINK02' | translate }}</a>
        </dd>

        <a auto-active ng-click="closeMenu()" ng-href="#/vision/s10_l01">{{ 'MENU_SECTION10_LINK01' | translate }}</a>

        <a auto-active ng-click="closeMenu()" ng-href="#/vision/s11_l01">{{ 'MENU_SECTION11_LINK01' | translate }}</a>

        <a auto-active ng-click="closeMenu()" ng-href="#/vision/s12_l01">{{ 'MENU_SECTION12_LINK01' | translate }}</a>

        <a auto-active ng-click="closeMenu()" ng-href="#/vision/s13_l01">{{ 'MENU_SECTION13_LINK01' | translate }}</a>

    </dl>
