<div style="margin-bottom: 10px;">
    <!-- template for directive 'enableMoreButton' -->
    <button class="expandButton" ng-click="toggleOpen()" aria-label="{{'BASIC_SECTION1_MORE_BUTTON' | translate}}">
        <img class="openclosesidebar" ng-src="img/icons/ic_expand_less_48px.svg" aria-hidden="true" ng-show="openState"/>
        <img class="openclosesidebar" ng-src="img/icons/ic_expand_more_48px.svg" aria-hidden="true" ng-show="!openState"/>
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <span>{{label}}</span>
        </div>
    </button>

    <div class="more" ng-show="openState">
        <div ng-transclude></div>
    </div>
</div>