<section layout="column" aria-label="Inclusion of learners with visual impairment">
    <!-- template for directive 'enableSectionHeader' -->
    <div class="backgroundPictureSection" layout="column" layout-align="end start" ng-style="{'background-image': 'url('+picsrc+')'}">
        <div class="sectionBanner" layout="row" layout-padding>
            <span class="screenReadersOnly">{{picalt}}</span>
            <div>
                <h2>{{title}}</h2>
            </div>
        </div>
    </div>
</section>
