<div class="slider" layout="column">
    <div class="slide" ng-repeat="image in images" ng-show="image.visible">
        <div class="sliderimage">
            <img ng-src="{{image.src}}" width="100%" />
        </div>
        <div class="slidercontrol" layout="row">
            <md-button ng-click="prev()" aria-label="{{'SLIDESHOW_PREVIOUS_BUTTON' | translate}}">
                <md-icon class="slideshowicons" md-svg-src="img/icons/ic_chevron_left_48px.svg" aria-hidden="true"></md-icon>
            </md-button>
            <div flex layout layout-align="center center" layout-padding>{{image.text}}</div>
            <md-button ng-click="next()" aria-label="{{'SLIDESHOW_NEXT_BUTTON' | translate}}">
                <md-icon class="slideshowicons" md-svg-src="img/icons/ic_chevron_right_48px.svg" aria-hidden="true"></md-icon>
            </md-button>
        </div>
    </div>
</div>