<meta name="categories" content="">
<div ng-controller="DualCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here"
                           title="Introduction"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <h3>One plus one equals three</h3>
        <enable-quotebox e-type="quote">A common belief is that people with deafblindness live in a completely silent and dark world and that they are often born with deafblindness.</enable-quotebox>
        <p>The truth is most people with dual sensory impairments have a residual vision or hearing residue or both that they can utilize if provision is made for it.</p>
        <li>People who have impaired vision will become dependent on hearing to receive and interpret sounds that can support visual impressions. </li>
        <li>Likewise people who are hard of hearing will depend on the information and support they receive through sight. </li>
        <li>When both the vision and hearing senses are impaired it means that the person cannot compensate by adopting another the other sense.</li></ul>
        <br>
        <p>When the difficulties are so severe that hearing cannot compensate for vision loss and hearing loss cannot be compensated for with vision, the term <strong>deafblindness</strong> is used.</p>
        <h4>Estimated population in East Africa</h4>
        <p>There is estimated:</p><ul><li>14.000 deafblind people in Uganda of a population of 35 million people.</li>
        <li>17.000 deafblind people in Kenya of a population of 42 million people.</li>
        <li>18.600 deafblind people in Tanzania of a population of 46 million people.</li>
    </ul>
        <div layout="row" layout-margin>
            <div style="width: 60%">
            </div>

            <div style="width: 40%"><p>Source: senseinternational.org.uk</p></div>
        </div>

        <h3>Causes of deafblindness</h3>
        <ul><li>Rare diseases and infectious diseases that involves both sight and hearing impairments.</li>
            <li>Random combinations of various injuries / diseases that affect both visual and auditory function.</li>
            <li>Usher syndrome. People with this syndrome experience a gradual loss of their hearing or they are born hard of hearing or deaf, and sight is gradually reduced as a result of eye disease retinitis pigmentosa.
                <enable-read-more label=" Read more about Usher syndrome">
                    <h5>Usher syndrome has three clinical subtypes:</h5>
                    <ul><li><strong>Usher syndrome I.</strong> People are born profoundly deaf, and begin to lose their vision in the first decade of life. They also exhibit balance difficulties, and learn to walk slowly as children, due to problems in their vestibular system.</li>
                        <li><strong>Usher syndrome II.</strong> People are not born deaf, but do have hearing loss. They do not seem to have noticeable problems with balance; they also begin to lose their vision later and may preserve some vision even into middle age.</li>
                        <li><strong>Usher syndrome III.</strong> People with are not born deaf, but experience a gradual loss of their hearing and vision; they may or may not have balance difficulties.</li>
                    </ul></enable-read-more>
            </li>
            <li>CHARGE syndrome is a rare condition with multiple severe congenital malformations. CHARGE can result in both vision and hearing loss.
                <enable-read-more label=" Read more about CHARGE syndrome">The name "CHARGE" comes from the first letter of each of these defects or anomalies:
                    <ul><li>Coloboma of the eye (a cleft or keyhole-shaped defect occurring in one or more areas of the eye).</li>
                        <li>Heart defect.</li>
                        <li>Atresia of the choanae (closure of the passages from the back of the nose to the throat).</li>
                        <li>Retardation of growth and/or development.</li>
                        <li>Genital Hypoplasia (genital deformations).</li>
                        <li>Ear malformations.</li>
                    </ul>
                    CHARGE syndrome is caused by a genetic disorder. Children with CHARGE Syndrome are very different one from another. The vision and hearing problems vary among individuals.
            </li>
            <li>Age-related diseases affecting vision and hearing.</li>
        </ul>
        <div layout="row" layout-margin>
            <div style="width: 50%">
            </div>

            <div style="width: 50%"><p>Sources: sansetap.no, eikholt.no, dbansw.org.au, deafblind.com</p></div>
        </div>

        <h3>Limitations caused of deafblindness</h3>

        <p>Deafblindness entails major limitations and may affect all or some of the following:</p>
        <ul>
            <li>Communication</li>
            <li>Access to information, education and employment</li>
            <li>Orientation and mobility</li>
            <l>Learning</l>
            <li>Social relationships</li>
            <li>Isolation</li>
            <li>Confidence and self-esteem</li>
            <li>Independence in daily living skills</li>
            <li>Access interpreters and to aids and equipment because of cost</li>
        </ul>
        <p>Deafblindness is concentration demanding and exhausting. The limitations can all cause fatigue and frustration in dealing with everyday situations.</p>
        <h3>Use of other senses</h3>
        <p>In addition to vision and hearing smell, taste and touch are the senses which is most mentioned.</p>
        <enable-grey-box e-type="funfact"><p>Aristotle (384 BC - 322 BC) is credited with the traditional classification of the five sense organs: sight, smell, taste, touch, and hearing.</p> </enable-grey-box>
        <p>Humans also have awareness of balance, pressure, temperature, pain, motion and awareness of the position and movement of the parts of the body (the sense of kinesthesia).<br><br>
            <enable-video vididlc="inclusionstbishopschool" vididyt="lofZBB7wNso" cclang="en" localmode="localmode"></enable-video>
            <br>
            <strong>The sense of touch</strong> is of
            especially importance for people with visual and hearing impairment. Touch is distributed throughout the body and nerve endings
            in the skin and other parts of the body which transmit sensations to the brain. Some parts of the body are more sensitive than others.
            The fingertips are among the organs with the greatest concentration of nerve endings and therefore of great importance of the deafblind.</p>
        <div layout="row" layout-margin>

            <div style="width: 80%"><h4>Excerpt from an interview.</h4></div>

            <div style="width: 20%"><br><br><br><enable-image picname="mablejoviter.jpg" picalt="Mable J. Namata"></enable-image><h6>Mable J. Namata,<br>Head of Deaf-Blind Unit,<br> St. Mark School for the Deaf</h6></div>

        </div>

        <h3>Communication</h3>
        <p>Humans are social beings and communication with others is an essential and important aspect of our lives. The ability to communicate is essential to convey our opinions, needs and feelings. Through communication we create social relations and make us participate in the life that surround us.<br>

            Communication difficulties appear primarily when the hearing is impaired. If the sight is reduced too, the ability to further communication decreases.<br>To maintain the contact with others, sounds residues needs to be recovered as far as possible. Even if both hearing and vision are lost, the communication with others can be maintained. Be aware of each individual is different and requires individual adaptations and communication methods.</p>
        <h4>Main methods of communication</h4>
        <p>Deaf-blind people have many different ways of communication. The methods they use vary, depending on the causes of their combined vision and hearing loss, their backgrounds, and their education. The main methods of communication with a deafblind person or between two deafblind people are:</p>
        <ul><li>Tactile Sign Language<br>The deaf-blind person puts his or her hands over the signer’s hands to feel the shape, movement and location of the signs.</li>
            <li>Tactile Fingerspelling<br>The deaf-blind person may prefer to put his or her hand over the fingerspelling hand, or on the signer’s palm, or cup his or her hand around the signer’s hand. Usually people who have been deaflind prefer tactile fingerspelling because sometimes sign language can be difficult to learn.</li>
            <li>Screen Braille Communicator (digi)</li>
            <li>Haptic communication</li>
        </ul>
        <p>Read more about communication at: aadb.org/factsheets/db_communications.html</p>
        <h4>Tips for communicating with people who are deafblind:</h4>
        <enable-grey-box >
            <ul>
                <li>Make sure you have the person’s attention before trying to communicate with her/him.</li>
                <li>Gently touching the top of the person’s arm and identify yourself clearly.</li>
                <li>Keep in physical contact during the conversation.</li>
                <li>Speak slowly and clearly in short sentences, but don't shout.</li>
                <li>Be clear about the theme you're talking about and refer to known references.</li>
                <li>Use gestures and facial expressions to support what you are saying.</li>
                <li>Speak one at a time.</li>
                <li>Avoid background noise.</li>
                <li>Use the time needed for the conversation.</li>
                <li>Always reply back.</li>
                <li>Repeat phrases or re-phrase the sentence if necessary.</li>
                <li>Talk face to face.</li>
                <li>Keep your face visible and be sure it is lightened.</li>
            </ul>
        </enable-grey-box>
        <p>Source: <enable-link href="http://www.sansetap.no">Sansetap</enable-link>and <enable-link href="http://www.sense.org">Sense</enable-link></p>
        <p>Get more advices and tips from <enable-link href="http://www.deafblind.com/slmorgan.html">deafblind.com</enable-link></p>

    </div>


    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
