<meta name="categories" content="">
<div  layout="column" class="partial">
    <enable-section-header picpath="puslespill.jpg" picalt="Banner image description comes here"
                           title="What is deafblindness"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <h3>What is deafblindness</h3>
        <p>The National Association of the Deafblind in Uganda defines the term deafblindness as follows:</p>
        <enable-grey-box e-type="quote">
            Deafblindness is a unique category whereby a person has a combination of severe degrees of hearing and sight loss. </enable-grey-box>
        <p>The nordic definition of deafblindness expand this definition taking limitations and restrictions into account:</p>
        <enable-grey-box e-type="quote">Deafblindness is a distinct disability.
            Deafblindness is a combined vision and hearing disability. It limits activities of a person and restricts
            full participation in society to such a degree that society is required to facilitate specific services, environmental
            alterations and/or technology.</enable-grey-box>


        <p>For clarifing the definition some comments are added.</p>
        <enable-read-more label=" Read more about these comments">
            <ol><li>Vision and hearing are central in getting information. Therefore a decrease in the function of these two senses that carry information from distance increases the need to use senses that are confined to information within reach (tactile, kinaesthetic, haptic, smell and taste), as well as leaning on memory and deduction.</li>
                <li>The need for specific alterations regarding environment and services depends on
                    <ul>
                        <li>the time of on-set in relation to communicative development and language acquisition; </li>
                        <li>the degree of the hearing and vision disability, whether it is combined with other disabilities </li>
                    </ul>and whether it is stable or progressive. </li>
                <li>A person with deafblindness may be more disabled in one activity and less disabled in another activity. Therefore each activity and participation in it needs to be assessed separately. Variation in functioning within each activity and participation in it may also be caused by environmental conditions and by internal personal factors. </li>
                <li>Deafblindness causes varying needs for co-creating alterations in all activities and especially in
                    <ul><li>all kinds of information;</li>
                        <li>social interaction and communication;</li>
                        <li>spatial orientation and moving around freely; </li>
                        <li>activities of daily life and effort demanding </li>
                        <li>near-activities including reading and writing. </li></ul>

                    Co-creating means that the person with deafblindness and the environment are equally involved. The responsibility for this to occur lies on society. </li>
                <li>An interdisciplinary approach including specific know-how related to deafblindness is needed in service delivery and environmental alterations.</li>
            </ol>
        </enable-read-more>

        <h3>Identifying and understanding the deafblind</h3>
        <p> Very few children are totally deafblind. Usually the child will have residual hearing or very poor vision. Sometimes the child has additional impairments requiring special training.
            Ideally, the earlier impairment is detected and interventions made, the better chance for the child to overcome the impairment.
            </p>
        <enable-read-more label=" Read more">
<p>The group of children with deafblindness is very heterogeneous. It can be difficult to identify children with deafblindness and to estimate the significance of
    the sensory loss for the child’s development.  Deafblindness limits the activities of a person
    and restricts full participation in society to a degree which requires that society compensates by means of specific services, environmental alterations
    and /or technology.<br>Deafblindness is not only determined by objective vision and hearing tests, but also an estimate of the functioning of the senses.
    It is important to first understand the two terms visual impairment and hearing impairment since they are used concurrently in the field
    of deafblindness.
    <br><br>
    Individuals with visual impairments have varying degrees of vision-use for tasks that typically require vision.  While some individuals
    have to use other channels (e.g. auditory and tactile ones) to acquire information, others use vision but only to supplement information acquired through other channels.
    Another group of individuals with visual impairments includes persons who mainly use eyes to acquire input that that is typically acquired through vision but supplement
    this with input from tactile, auditory, and other senses.</p>
        </enable-read-more>
        <enable-quotebox e-type="quote">Independence and self-reliance are possible for the deafblind. Milestones are slower, may be very slow for some, but they can gain them.</enable-quotebox>
        <h3>Assessment</h3>
        <p>Because of the complexity of deafblindness assessment must be done in three levels: medical, functional and in daily
            life situations.<br>Even if the medical examinations are very important, it is not covered here in this website.<br>The
            functional assessment includes observation of how the senses are functioning. The parents need to be involved in this
            process because they are able to communicate and interprete the child´s reactions.<br><br>Assessment of the daily
            life situations assess how the child learn and how the child gather information from other
            persons. Through this assessment the learning style of the child will be identified.</p>
        <h3>Assessment of new students</h3>
        <div layout="row" layout-margin>
            <div style="width: 70%"><p>When new students start at Kilimani Deafblind Unit they have to go through a comprehensive survey to identify their ways of
    communicating, learning styles and which activities they enjoy. Based on this information individual educational programs are created.<br>Listen to Mary Maragia about the importance of individual educational programs.</p></div>

            <div style="width: 30%"> <enable-image picname="marymarargia.jpg" picalt="Mary Maragia"></enable-image></div>
        </div>

        <enable-audio sndid="assessment"></enable-audio>

        <enable-read-more label="Read the transcribed interview about individual educational programs">
<p>Once a student comes to us after they have been placed in our program, as teachers we tend to do functional assessment. How does
    the student function,  how does the student use his residual vision, how does the student use his residual hearing. How is a
    student doing in an activity.<br>
    From there, once we have done that assessment is when we are able to develop an individual educational program. It is a visually
    summery of who the student is. So what we do is, we can´t work  from the parents.
<br>
    How does the student communicate, so one bit on the child´s communication. <br>The next bit: What is the learning style, how does
    the student learn. So you will find Louise is a signer so would she benefit from sign language, from movement, from support
    senses, from tactile; that is the sense of touch.
<br>
    So once we have that the next: What are some of the activities the partner can do with the student. Louise can swim, Louise can
    do adapted physical education. She is good at weaving, beauty therapy, in massage. So  we get the activities that we will engage
    the student in.
    <br>The next, as a partner, as a teacher. How are I going to communicate with Louise? I will use tactile sign, I will use total
    communication, I will use when she don´t understand; real objects. So that is the kind of the forking.
</p>
</enable-read-more>


<h3>Examples of individual educational programs</h3>
        <enable-slideshow path="slideshow1"></enable-slideshow>
<h3>Visions for the students</h3>
<p>After the individual educational programs are in place, the staff at Kilimani develop a vision for each student based on what are
    the parents concern, the strength of the student, the interest of the student and the program at Kilimani.<br> For instance Cedric´s
    parents want him to express himself more, to use his voice. The vision for Cedric is to use braille and join the mainstream class because
    he good at math and he try to listen. <br>Based on the vision the staff  work out commendations for adaptation- what is needed to be
    done so the student can benefit. Cedric needs braille, orientational mobility, an adapted desk and other needs Kilimani can
    support him with to be able to benefit.</p>
 <h3>Portofolios for older studentes</h3>
 <p>The system with individual educational programs are used for older students too. At Sikri Vocational Training Centre
     for the Deaf and Blind in Kenya the term "educational programs" are replaced with the term "portofolio".<br>The portofolio
     describes the students
     cognitive capacity, the students behaviour, the social interaction, the communication skills, the disability level and the
     students vocational skills. The portofolio ends with a future prospect.<br>See some examples of portofolios below:</p>
        <enable-slideshow path="slideshow3"></enable-slideshow>

    </div>


    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
