<meta name="categories" content="">
<div ng-controller="DualCtrl" layout="column" class="partial">
    <enable-section-header picpath="barberer2.jpg" picalt="Banner image description comes here"
                           title="Causes of deafblindness"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <h3>Acquirement of deafblindness</h3>
        <p>The definitions say nothing about how deafblindness is acquired. It is common to distinguish between
            <strong>congenital</strong> and <strong>acquired</strong> visual and hearing impairments. Many have had normal vision and / or
            good hearing earlier in life, but illness, injury or age has weakened senses so much that one uses the term deafblindness.</p>
        <h3>Causes of deafblindness</h3>
        <ul><li>Rare diseases and infectious diseases that involves both sight and hearing impairments.</li>
            <li>Random combinations of various injuries / diseases that affect both visual and auditory function.</li>
            <li>Usher syndrome. People with this syndrome experience a gradual loss of their hearing or they are born hard of hearing or deaf, and sight is gradually reduced as a result of eye disease retinitis pigmentosa.
                <enable-read-more label=" Read more about Usher syndrome">
                    <h5>Usher syndrome has three clinical subtypes:</h5>
                    <ul><li><strong>Usher syndrome I.</strong> People are born profoundly deaf, and begin to lose their vision in the first decade of life. They also exhibit balance difficulties, and learn to walk slowly as children, due to problems in their vestibular system.</li>
                        <li><strong>Usher syndrome II.</strong> People are not born deaf, but do have hearing loss. They do not seem to have noticeable problems with balance; they also begin to lose their vision later and may preserve some vision even into middle age.</li>
                        <li><strong>Usher syndrome III.</strong> People with are not born deaf, but experience a gradual loss of their hearing and vision; they may or may not have balance difficulties.</li>
                    </ul></enable-read-more>
            </li>
            <li>CHARGE syndrome is a rare condition with multiple severe congenital malformations. CHARGE can result in both vision and hearing loss.
                <enable-read-more label=" Read more about CHARGE syndrome">The name "CHARGE" comes from the first letter of each of these defects or anomalies:
                    <ul><li>Coloboma of the eye (a cleft or keyhole-shaped defect occurring in one or more areas of the eye).</li>
                        <li>Heart defect.</li>
                        <li>Atresia of the choanae (closure of the passages from the back of the nose to the throat).</li>
                        <li>Retardation of growth and/or development.</li>
                        <li>Genital Hypoplasia (genital deformations).</li>
                        <li>Ear malformations.</li>
                    </ul>
                    CHARGE syndrome is caused by a genetic disorder. Children with CHARGE Syndrome are very different one from another. The vision and hearing problems vary among individuals.
            </li>
            <li>Age-related diseases affecting vision and hearing.</li>
        </ul>
        <div layout="row" layout-margin>
            <div style="width: 50%">
            </div>

            <div style="width: 50%"><p>Sources: sansetap.no, eikholt.no, dbansw.org.au, deafblind.com</p></div>
        </div>

        <h3>Limitations caused of deafblindness</h3>

        <p>Deafblindness entails major limitations and may affect all or some of the following:</p>
        <ul>
            <li>Communication</li>
            <li>Access to information, education and employment</li>
            <li>Orientation and mobility</li>
            <l>Learning</l>
            <li>Social relationships</li>
            <li>Isolation</li>
            <li>Confidence and self-esteem</li>
            <li>Independence in daily living skills</li>
            <li>Access interpreters and to aids and equipment because of cost</li>
        </ul>
        <p>Deafblindness is concentration demanding and exhausting. The limitations can all cause fatigue and frustration in dealing with everyday situations.</p>
        <h3>Use of other senses</h3>
        <p>In addition to vision and hearing smell, taste and touch are the senses which is most mentioned.</p>
        <enable-grey-box e-type="funfact"><p>Aristotle (384 BC - 322 BC) is credited with the traditional classification of the five sense organs: sight, smell, taste, touch, and hearing.</p> </enable-grey-box>
        <p>Humans also have awareness of balance, pressure, temperature, pain, motion and awareness of the position and movement of the parts of the body (the sense of kinesthesia).<br><br>
            <enable-video vididlc="inclusionstbishopschool" vididyt="lofZBB7wNso" cclang="en" localmode="localmode"></enable-video>
            <br>
    <h3>The tactile sense</h3>
            <p><strong>The sense of touch</strong> or <strong>the tactile sense</strong> is of
            special importance for people with visual and hearing impairment. Touch is distributed throughout the body and nerve endings
            in the skin and other parts of the body which transmit sensations to the brain. Some parts of the body are more sensitive than others.
            The fingertips are among the organs with the greatest concentration of nerve endings and therefore of great importance of the deafblind.</p>
        <h3>Excerpt from an interview with Mable J. Namata</h3>
        <div layout="row" layout-margin>
            <div style="width: 70%"><p>Mable J. Namata is head of the "Deaf-Blind Unit" at "St. Mark School for the Deaf" in Uganda.
                Hear or read her telling about communication with people without a formal language.</p></div>
            <div style="width: 30%"><enable-image picname="mablejoviter.jpg" picalt="Mable J. Namata"></enable-image></div>
        </div>
        <enable-audio sndid="marble"></enable-audio>
        <enable-read-more label="Read excerpt from the interview">
        <p>The communication, there is a turn taking and during the turn taking you can add special: it is my turn, it is
            your turn, look at me, they learn to keep the eye contact. The body language you can read from the challenge
            expression. Those one are not interested, this one is crying. Then they are not.  They want to go to the toilet, they can tell. They do not have a formal language because they know we don´t do it in the water. So it is a good
            way for expression and receiving receptions.</p>
    </enable-read-more>
    </div>


    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>