<meta name="categories" content="">
<div ng-controller="DualCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here"
                           title="Communication"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <h3>Communication</h3>
        <p>Humans are social beings and communication with others is an essential and important aspect of our lives. The ability to communicate is essential to convey our opinions, needs and feelings. Through communication we create social relations and make us participate in the life that surround us.<br>

            Communication difficulties appear primarily when the hearing is impaired. If the sight is reduced too, the ability to further communication decreases.<br>To maintain the contact with others, sounds residues needs to be recovered as far as possible. Even if both hearing and vision are lost, the communication with others can be maintained. Be aware of each individual is different and requires individual adaptations and communication methods.</p>
        <h4>Main methods of communication</h4>
        <p>Deaf-blind people have many different ways of communication. The methods they use vary, depending on the causes of their combined vision and hearing loss, their backgrounds, and their education. The main methods of communication with a deafblind person or between two deafblind people are:</p>
        <ul><li><strong>Tactile Sign Language</strong><br>The deaf-blind person puts his or her hands over the signer’s hands to feel the shape, movement and location of the signs.</li>
            <li><strong>Tactile Fingerspelling</strong><br>The deaf-blind person may prefer to put his or her hand over the fingerspelling hand, or on the signer’s palm, or cup his or her hand around the signer’s hand. Usually people who have been deaflind prefer tactile fingerspelling because sometimes sign language can be difficult to learn.</li>
            <li><strong>Screen Braille Communicator (digi)</strong></li>
            <li><strong>Haptic communication</strong></li>
            <li><strong>Tadoma</strong><br>This is a way for deaf-blind people with little or no usable vision to speechread another person by touch. They put their thumb on the other person’s chin, and their fingers on the other person’s cheek to feel the vibrations of the person’s voice and the movement of their lips.
            </li>
        </ul>
        <p>Read more about communication at: aadb.org/factsheets/db_communications.html</p>
        <h4>Tips for communicating with people who are deafblind:</h4>
        <enable-grey-box >
            <ul>
                <li>Make sure you have the person’s attention before trying to communicate with her/him.</li>
                <li>Gently touching the top of the person’s arm and identify yourself clearly.</li>
                <li>Keep in physical contact during the conversation.</li>
                <li>Speak slowly and clearly in short sentences, but don't shout.</li>
                <li>Be clear about the theme you're talking about and refer to known references.</li>
                <li>Use gestures and facial expressions to support what you are saying.</li>
                <li>Speak one at a time.</li>
                <li>Avoid background noise.</li>
                <li>Use the time needed for the conversation.</li>
                <li>Always reply back.</li>
                <li>Repeat phrases or re-phrase the sentence if necessary.</li>
                <li>Talk face to face.</li>
                <li>Keep your face visible and be sure it is lightened.</li>
            </ul>
        </enable-grey-box>
        <p>Source: <enable-link href="http://www.sansetap.no">Sansetap</enable-link>and <enable-link href="http://www.sense.org">Sense</enable-link></p>
        <p>Get more advices and tips from <enable-link href="http://www.deafblind.com/slmorgan.html">deafblind.com</enable-link></p>
    </div>


    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>