<meta name="categories" content="">
<div ng-controller="DualCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here"
                           title="Communication"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">

        <h3>What is communication?</h3>
        <p>Communication means to share something; emotions, expressions, ideas and memories. It happens between two or more partners where the partners are active in the process and together they co-create or develop commiunication.</p>
        <enable-quotebox e-type="quote">Humans are social beings and communication with others is an essential and important aspect of our lives.</enable-quotebox>

        <p>The ability to communicate is essential to convey our opinions, needs and feelings. Through communication we create social
            relations and make us participate in the life that surround us.<br>

            Communication difficulties appear primarily when the hearing is impaired. If the sight is reduced too, the ability to
            further communication decreases.</p>
       <h3>What is communication used for?</h3>
        <ul><li>Obtaining personal needs.<br> This is the most basic way of communication.</li>
        <li>Informing about what has already happened, what is happening and what is going to happen.</li>
        <li>Commenting on the interest of the deafblind person.</li>
        <li>Sharing experiences in a conversation.<br> To communicate about what you experience together is important for for
            developing self-esteem and for developing communication further.</li>
        </ul>
        <enable-image picname="tohaandsalfabet.jpg" picalt="Louise communicates with her teacher using tactile sign language about their common experiences in the garden."></enable-image>
        <p>Louise uses tactile sign language when she communicates with her teacher.</p>
        <h3>Why communication is the main focus in deafblind services</h3>
        <p>Communication is the main goal because it includes emotional, social and cognitive development. Communication is important because it:</p>
        <ul><li>Create bonding with parents, family members, houseparents and teachers.</li>
        <li>Promotes social interaction. The deafblind child learns to establish and sustain contact and social rules like turn-taking.</li>
        <li>Support the development of self-esteem. The child feels she can master things on her own, she is understood and appreciated by
            her partner and she can influence her own life.</li>
        <li>Building relationships and awareness of other persons. It is the precondition for developing empathy.</li>
        <li>Understand the physical and social surroundings. Building up mental images and concepts of what they experience.</li></ul>
        <p>Source: Communication with persons with congenital deafblindness, Statped (2007). This booklet is
                developed by experienced teachers from deaf-blind units in Kenya in cooperation with external consultants from Norway and Sweden.
            Download the booklet <enable-file-link href="assessment.pdf">the booklet.</enable-file-link></p>

        <h3>Main methods of communication</h3>

        <p>Deaf-blind people have many different ways of communication. The methods they use vary, depending on the causes of their combined vision and hearing loss, their backgrounds, and their education.</p>

        <p>The main methods of communication with a deafblind person or between two deafblind people are:</p>
        <ul><li><strong>Tactile Sign Language</strong><br>The deaf-blind person puts his or her hands over the signer’s hands to feel the shape, movement and location of the signs.</li>
            <li><strong>Tactile Fingerspelling</strong><br>The deaf-blind person may prefer to put his or her hand over the fingerspelling hand, or on the signer’s palm, or cup his or her hand around the signer’s hand. Usually people who have been deaflind prefer tactile fingerspelling because sometimes sign language can be difficult to learn.</li>
            <li><strong>Screen Braille Communicator</strong> (digital)</li>
            <li><strong>Haptic communication. </strong><br>The idea behind the haptic communication is to share visual and auditory information from the environment, using the haptic signals in parallel with the ordinary communication. It is meant to serve as a complement to the spoken or signed language in a
                communication situation.<br> Haptic communication does not replace speech or sign language. It is about creating meaning
                and context, to get a better picture of the situation and the room you are in.<br> It will strengthen and complement
                other kinds of communication between human beings.<br>
                Haptic communication takes place through the body contact at neutral zones in the body like back, shoulder, hand,
                knee or foot. It is bounded to the situation, context, place and orientation.
                <enable-read-more label="When to use  haptic communication">
                <h4>Haptic communication can be used to:</h4>

                <ul><li>Feedback and communication</li>
                <li>Describe of colours</li>
                <li>Characterizing and feelings</li>
                <li>Mobility</li>
                <li>Describe food and drink</li>
                <li>Describe a room</li>
                <li>Map the surroundings</li>
                <li>Tell what´s happening?</li>
                    <li>Tell the weather</li>
                </ul>
                    </enable-read-more>
            </li>
            <li><strong>Tadoma</strong><br>This is a way for deaf-blind people with little or no usable vision to speechread another person by touch. They put their thumb on the other person’s chin, and their fingers on the other person’s cheek to feel the vibrations of the person’s voice and the movement of their lips.
            </li>
        </ul>
        <br>

        <p>Read more about communication at:<enable-link href="http://www.aadb.org/factsheets/db_communications.html">American Association for the Deaf-Blind
        </enable-link></p>
        <h3>Identification of ways of communication among new students</h3>
        <div layout="row" layout-margin>
            <div style="width: 70%"><p>Listen to or read what Mary Maragia says about identification of ways of communication.</p></div>

            <div style="width: 30%"> <enable-image picname="marymarargia.jpg" picalt="Mary Maragia"></enable-image></div>
        </div>
        <enable-audio sndid="marycommunication"></enable-audio>

        <enable-read-more label="Mary Maragia about communication">

            <p>Communication is our key here. So once we are able to attune ourselves to the level of the student. When the student
                is brought, the parents brings the student, we tend to ask the parents: How do you communicate with the student at
                home? <br>So we get really the basic, the really simple ways. How the student gets their needs done (?). How the
                student get their want met? <br>Then from there now we pick it and start helping modern (?)the communication of the
                student. So like we, most of the time you find the student their communication yet around their body. So it up to
                (?)us to help them with more activities. The activities help them to now start moving and also trying to interact.
                So like we tend to look a : What is the student interested in? So once we have known the students interest, we have
                know the students strength and how they communicate. So it our responsibility now to start using symbols. We start
                using the whatever more we have seen working with the student. For example you saw Lousie is able to sign, she is a
                very good signer, so she passed the level of using symbols or using objects of reference. So like for Lousie we will
                sign for her. If it is Cedric, we will use the speech, at the same time sign, because he has voice. Sometimes he can
                use a speech. So once we are able to understand his way of communication, we will instruct the student specifically
                geared to what he or her communicate. If is is for the small boy Victor, like we also get him and we use tactile
                signs. So we hold his hands and tell him what is next. So if something is trouble, like we tend to use total
                communication and also add other strategies to make it work for the student.</p>
        </enable-read-more>

        <h4>Communication with people without a formal language</h4>
        <div layout="row" layout-margin>
            <div style="width: 70%"><p>Mable J. Namata is head of the "Deaf-Blind Unit" at "St. Mark School for the Deaf" in Uganda.
                Hear or read her telling about communication with people without a formal language.</p></div>
            <div style="width: 30%"><enable-image picname="mablejoviter.jpg" picalt="Mable J. Namata"></enable-image></div>
        </div>
        <enable-audio sndid="marblecommunication"></enable-audio>
        <enable-read-more label="Read excerpt from the interview">
            <p>The communication, there is a turntaking and during the turntaking you can add special: It is my turn, it is your turn,
                look at me. <br>Then they learn to keep the eyecontact. The bodylanguage you can read from the challenge expression.
                Those one are not interested, then can everybody tell (?) this one is crying. Then they are not. <br>There are those who
                want to go for the toilet. They can tell. Much as (?) they do not have a formal language that you can tell the child once to goM, because they know we dont do it in the water. We have to do it the toilet. So it is a good way for expression and receiving receptions on the children.
            </p>
        </enable-read-more>
        <br>
        <h4>Each individual is different</h4>
        <p>To maintain the contact with others, sounds residues needs to be recovered as far
            as possible. Even if both hearing and vision are lost, the communication with others can be maintained. Be aware of each
            individual is different and requires individual adaptations and communication methods.</p>
        <h4>Joy of life</h4>
        <enable-video vididlc="students dancing" vididyt="EhvIfOFSXCQ" cclang="en" localmode="localmode"></enable-video>
        <h3>Tips for communicating with people who are deaf-blind:</h3>
        <enable-grey-box >
            <ul>
                <li>Make sure you have the person’s attention before trying to communicate with her/him.</li>
                <li>Gently touching the top of the person’s arm and identify yourself clearly.</li>
                <li>Keep in physical contact during the conversation.</li>
                <li>Speak slowly and clearly in short sentences, but don't shout.</li>
                <li>Be clear about the theme you're talking about and refer to known references.</li>
                <li>Use gestures and facial expressions to support what you are saying.</li>
                <li>Speak one at a time.</li>
                <li>Avoid background noise.</li>
                <li>Use the time needed for the conversation.</li>
                <li>Always reply back.</li>
                <li>Repeat phrases or re-phrase the sentence if necessary.</li>
                <li>Talk face to face.</li>
                <li>Keep your face visible and be sure it is lightened.</li>
            </ul>
        </enable-grey-box>
        <p>Source: <enable-link href="http://www.sansetap.no">Sansetap</enable-link>and <enable-link href="http://www.sense.org">Sense</enable-link></p>
        <p>Get more advices and tips from <enable-link href="http://www.deafblind.com/slmorgan.html">deafblind.com</enable-link></p>
    </div>


    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>