<meta name="categories" content="">
<div  layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here"
                           title="Psychosocial aspects"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">

        <h3>Introduction</h3>
        <p>The disability of deaf-blindness presents unique challenges to families, teachers, and caregivers, who must make sure that the person who is deafblind has access
            to the world beyond the limited reach of his or her eyes, ears, and fingertips.<br><br> The people in the environment of children or adults who are deafblind must
            seek to include them—moment-by-moment—in the flow of life and in the physical environments that surround them. If they do not, the child will be isolated and will
            not have the opportunity to grow and to learn.  If they do, the child will be afforded the opportunity to develop to his or her fullest potential.</p>
        <h3>Family and friends</h3>
        <p>The most important challenge for parents, caregivers, and teachers is to communicate meaningfully with the child who is deafblind.  Continual good
            communication will help foster his or her healthy development. Communication involves much more than mere language. Good communication can best be thought of
            as conversation.  Conversations employ body language and gestures, as well as both signed and spoken words.  A conversation with a child who is deaf-blind
            can begin with a partner who simply notices what the child is paying attention to at the moment and finds a way to let the child know that his or her
            interest is shared.</p>
        <h4>Establishing contact</h4>
        <p>This shared interest, once established, can become a topic around which a conversation can be built. Mutual conversational topics are typically
            established between a parent and a sighted or hearing child by making eye contact and by gestures such as pointing or nodding, or by exchanges of sounds
            and facial expressions.  Lacking significant amounts of sight and hearing, children who are deaf-blind will often need touch in order for them to be sure
            that their partner shares their focus of attention. The parent or teacher may, for example, touch an interesting object along with the child in a
            nondirective way. Or, the mother may imitate a child’s movements, allowing the child tactual access to that imitation, if necessary.  (This is the tactual
            equivalent of the actions of a mother who instinctively imitates her child’s babbling sounds.) Establishing a mutual interest like this will open up the
            possibility for conversational interaction.</p>
        <h4>Timing is crucial</h4>
        <p>Teachers, parents, siblings, and peers can continue conversations with children who are deafblind by learning to pause after each turn in the interaction
            to allow time for response.  These children frequently have very slow response times.</p>
            <enable-quotebox e-type="quote">Respecting the child’s own timing is crucial to establishing successful interactions.</enable-quotebox>
        <p> Pausing long enough to allow the child to take another turn in the interaction, and then responding to that turn, pausing again,
            and so on—this back-and-forth exchange becomes a conversation. Such conversations, repeated consistently, build relationships and become the eventual basis
            for language learning.</p>

        <h4>From nonverbally to symbolic communication</h4>
        <p>As the child who is deafblind becomes comfortable interacting nonverbally with others, she or he becomes ready to receive some form of symbolic
            communication as part of those interactions. Often it is helpful to accompany the introduction of words (spoken or signed) with the use of simple
            gestures and/or objects which serve as symbols or representations for activities.  Doing so may help a child develop the understanding that one thing
            can stand for another, and will also enable him or her to anticipate events.</p>
        <h4>Making a confusing world understandable</h4>
        <enable-slideshow path="slideshow2"></enable-slideshow>
        <br>
        <p>Think of the many thousands of words and sentences that most children hear before they speak their own first words.  A child who is deaf-blind needs comparable
            language stimulation, adjusted to his or her ability to receive and make sense of it.  Parents, caregivers, and teachers face the challenge of providing an
            environment rich in language that is meaningful and accessible to the child who is deaf-blind.  Only with such a rich language environment will the child
            have the opportunity to acquire language herself or himself.  Those around the child can create a rich language environment by continually commenting on the
            child’s own experience using sign language, speech, or whatever symbol system is accessible to the child. These comments are best made during conversational
            interactions.  A teacher or a parent may, for example, use gesture or sign language to name the object that he or she and the child are both touching, or
            name the movement that they share.  This naming of objects and actions, done many, many times, may begin to give the child who is deaf-blind a similar
            opportunity afforded to the hearing child—that of making meaningful connections between words and the things for which they stand.</p>
        <h4>Joy of life</h4>
        <enable-video local-filename="" local-poster="" local-subtitles="" youtube-id="EhvIfOFSXCQ"></enable-video>
    </div>


    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>