<meta name="categories" content="">
<div  layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here"
                           title="Organizations for and of persons with dual sensory impairment"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <p>Organizations working for and with persons with deafblindness often work as a disciplinary team to enable realize inclusiveness and participation of such
            persons during their day to day activities of daily living in schools, communities and homes where they live.  Each country has its established policy
            guidelines that are followed by all partners willing to support deafblind persons in their communities.  Challenges and successes will vary according to
            each country.  In Uganda for example, an association for persons with deafblindness was established with the aim of bringing persons with deafblindness
            together to advocate for their social, economic and political human rights.  Although schools work closely with such organizations communication still
            rules as the most challenging aspect that needs collective effort from all stakeholders in the disability movement.</p>
        <h4>Uganda</h4>
        <p>The <enable-link href="http://www.deafblinduganda.org.ug/index.html">National Association of the Deafblind in Uganda (NADBU)</enable-link> is an indigenous, non-governmental organization that promotes the welfare of Deafblind persons in Uganda by accessing them to services in the sectors of rehabilitation, education, health, economic support, advocacy and lobbying, capacity building, training in communication & mobility and other sectors relevant for the their self-reliance.</p>
        <h4>Kenya</h4>
    </div>


    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>