<meta name="categories" content="">
<div  layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here"
                           title="Frequent asked questions (FAQ)​"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">

        <ul><li><strong>Does the word “deaf-blind” mean a person is fully deaf and fully blind?</strong><br>
            No. Most people who are deaf-blind have a combination of vision and hearing loss.  <enable-read-more label="Read more">They usually have some useful but not always reliable vision and hearing.
            Some people have little or no useable hearing and vision. For example, a person may be born deaf or hard of hearing and lose his or vision later in life.
            Another person may grow up as a blind or visually impaired person and experience a hearing loss later. Some people are born with combined vision and
            hearing loss, or lose their vision and hearing at an early age.<br>Two federal definitions of deaf-blindness exist. One is used in primarily in education,
            and the other in rehabilitation.<br> Find more about these definitions at <enable-link href="https://nationaldb.org/library/page/90"> The National Consortium on Deaf-Blindness</enable-link>.
            </enable-read-more></li>
            <br>
        <li><strong>How many deaf-blind people are in the Uganda?</strong><br>
            Currently the National Bureau of Statistics (UBOS) has not officially provided the numbers of persons with deaf blindness for Uganda’s case.<enable-read-more label="Read more">Sense
            International has estimated the numbers of persons with deaf blindness in Uganda to be 14.000 of a population of 35 million people. In Kenya 17.000 persons
            of a population of 42 million are estimated to be deafblind and in Tanzania the estimated the numbers of persons with deaf blindness is 18.600.
           Tanzania has a population of 46 million people.</enable-read-more></li>
        <br>
            <li><strong>How do people become deaf-blind?</strong><br>
            About 50 percent of people in the deaf-blind community have Usher Syndrome. This is a genetic condition where a person is born deaf or hard of hearing,
            or with normal hearing, and loses his or her vision later on in life from retinitis pigmentosa (RP).<br>
            Other common causes of deaf-blindness include birth trauma, optic nerve atrophy, cataracts, glaucoma, macular degeneration, or diabetic retinopathy.
            Some people may be born with both hearing and visual impairments through birth trauma or rare causes such as CHARGE Syndrome or cortical visual impairment.
            Others may become deaf-blind through accidents or illnesses.
                <enable-read-more label="Read more">
<h4>Read more about the various causes of deaf-blindness:</h4>
                    <ul>
    <li><enable-link href="https://nationaldb.org/library/list/88">The National Consortium on Deaf-Blindness on Usher Syndrome and Vision</enable-link></li>
<li><enable-link href="https://www.boystownhospital.org/Pages/default.aspx">Boys Town National Research Hospital</enable-link></li>
<li><enable-link href="http://www.blindness.org/">Foundation Fighting Blindness</enable-link></li>
<li><enable-link href="https://www.senseinternational.org.uk">SENSE International</enable-link></li>
</ul></enable-read-more>
            </li>
        <br>
            <li><strong>What do deaf-blind people do?</strong><br>
            People who are deaf-blind have a wide variety of both vision and hearing loss. They come from different social, vocational and educational backgrounds.
            They have many jobs and roles: teachers, professors, counselors, homemakers, agency directors, business executives, government workers, and others.
            Some have their own businesses. Others are students, and still others are retired.</li>
        <br>
            <li><strong>How do deaf-blind people get around?</strong><br> Deaf-blind people can often travel independently, and/or with family, friends or support service providers (SSPs).
            Many use public transportation–buses public commuter taxis or subways, especially if they live in an area where public transportation is available. They also
            use paratransit–vans or special taxis, especially if they live in rural areas or in an area where public transit is not available. Some may use car or van
            pools. Others may depend on family and friends for transportation, or travel on foot if they live within walking distance of where they need to go.</li>
            <br>
            <li><strong>What are some common communication methods that deaf-blind people use?</strong><br>Deaf-blind people use many different ways to communicate. They use sign language
            (adapted to fit their visual field), tactile sign language, tracking, tactile fingerspelling, print on palm, tadoma, Braille, speech, and speech reading.
            The communication methods vary with each person, depending on the causes of their combined vision and hearing loss, their background, and their education.</li>
            <br>
            <li><strong>What kind of technology or equipment do deaf-blind people use?</strong><br>Deaf-blind people use many types of technology and equipment in their daily lives.
            Examples include mobility canes, closed circuit televisions (CCTV), Braille, Braille TTYs, TTYs with large print displays, and Braille or large print watches
            or clocks, to name only a few.</li>
            <br>
            <li><strong>Where and how can deaf-blind people learn how to be independent?</strong><br>Deaf-blind people can get training to learn to become independent. One example is training
            in orientation and mobility so they can learn to travel independently.
            Also, deaf-blind people can take training classes at places such as a local or state rehabilitation agency, or an organization such as for example the Helen
            Keller National Center (HKNC) in the United States of America, the national Association for deaf-blind youth and adults in your country like for the case of Uganda or Kenya in east Africa</li>
            <br>
            <li><strong>How can I know if I have a vision and/or hearing loss?</strong><br>You can make an appointment with your eye doctor to get your eyes checked. You can also get a
                hearing test. To get a hearing test, you can see an audiologist or go to an audiology clinic near your home.</li>
            <br>
            <li><strong>What are some other links and websites I can learn more about deaf-blindness and the deaf-blind community?</strong><br><br>
                <ul><li><enable-link href="http://www.deafblindinfo.org">Deaf Blind Education</enable-link></li>
                <li><enable-link href="https://www.helenkeller.org/hknc">Helen Keller National Center for Deaf-Blind Youth and Adults</enable-link></li>
                <li><enable-link href="https://nationaldb.org/">National Center on Deaf-Blindness</enable-link></li>
                    <li><enable-link href="http://www.disabled-world.com/disability/children/ncdp.php">The National Consortium on Deaf-Blindness - Resource for Children and Youth</enable-link></li>
        </ul>
        </li>
        </ul>
























    </div>


    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>