<meta name="categories" content="bishop,willis">
<div layout="column" class="partial">

    <enable-section-header picpath="inclusion.jpg" picalt="Banner image description comes here" title="Inclusion or segregation?"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <p><strong>Inclusion</strong> is the practice of educating where the learners with visual impairment in the same school and class alongside other learners.<br>
        
     
        The school should always plan her programmes and activities with this learner in mind. The learner should be involved in all aspects of school life and activities almost at the same level of participation as other learners. The learner should be supported in curriculum activities or areas that require the sense of sight.</p>

        <nav class="level03-toc">
            <ul>
                <li>
                    <a href="" ng-click="gotoAnchor('s1')">Support for learner with visual impairment</a>
                </li>
                <li>
                    <a href="" ng-click="gotoAnchor('s2')">Support in the regular classroom</a>
                </li>
                <li>
                    <a href="" ng-click="gotoAnchor('s3')">Social integration</a>
                </li>
            </ul>
        </nav>
<p><strong>Segregation</strong>  is when the learners are in a special school where all the other learners are visually impaired.</p>
        

<nav class="level03-toc">
            <ul>
                <li>
                    <a href="" ng-click="gotoAnchor('s4')">Segregation 1</a>
                </li>
                <li>
                    <a href="" ng-click="gotoAnchor('s5')">Segregation 2</a>
                </li>
                <li>
                    <a href="" ng-click="gotoAnchor('s6')">Segregation 3</a>
                </li>
            </ul>
        </nav>
            
           <div id="s1" class="level03">
                <h3>Support for learner with visual impairment</h3>

            <div layout="column">
                <div><p>The support may be in adapting the curriculum and teaching methods. It may also involve the provision of specialized
                    technology and assistive devices, and allowing more time to complete tasks among others. Inclusion is usually successful
                    when it is facilitated by progressive policies, appropriate planning, provision of resources and a knowledgeable and specially
                    trained teacher.</p>
                <h4>Support for learners with albinism</h4>
                <p>As a matter of fact, there is no problem to do with inclusion in terms of the general participation in different activities. There
                    is segregation though in the sense that in the classroom, in the schools, there are no experts to deal with people with albinism.
                    Usually ordinary teachers, teachers who don´t know much about people with albinism would think that students, people with albinism
                    are stubborn (?) so they cannot attend to the problems i that special way. Such that this denying of rights because the teachers
                    are not trained to deal with people with albinism.</p>
                    <enable-grey-box>
                        <h5>Since education is everything that can help people with albinism here are some useful advices.</h5>
                        <ul>
                            <li>Most of communication with people with albinism should be in writing, especially in schools.</li>
                            <li>The font size should be big, the font Tahoma should not be below the size 16.</li>
                            <li>Students with albinism should sit i front of the class, close to the teacher, where they not have to struggle with
                                reading the board.</li>
                            <li>The dust from the chalk is harmful for people with albinism.</li>
                        </ul>
                    </enable-grey-box>
                    </div>

            </div>
        </div>

        <div id="s2" class="level03">
            <h3>Support in the regular classroom</h3>
            <div>
                <p>The first question teachers ask is:</p><h5>What sort of support will be in place for the learners with visual impairment?</h5><br><p>Most regular education teachers have no idea how to deal with a student who uses braille. Therefore, a teacher skilled in teaching braille should be available to directly teach and support the learners with visual impairment, as well as assist the regular education teacher. This means both teachers must work closely together in order to make this situation work well. This can happen, but it requires a lot of hard work.<br><br> Most school systems do not allow for a specially trained teacher to be available all day, so the schedule should be worked out in a way that meets the learner’s needs within the limits of the specially trained teacher.</p>
                <div layout="row" layout-margin>
                    <div style="width: 60%; display: inline-block;"> <enable-slideshow path="slideshow11"></enable-slideshow></div>
                    <div style="width: 40%; display: inline-block;"></div>
                </div>


                <div layout="row" layout-margin>
                    <div style="width: 75%; display: inline-block;">
                        <enable-quotebox e-type="quote">I am happy to have a class like this. It gives me a lot of strenght and even expose me into getting about these learners more.
                        </enable-quotebox>
                    </div>
                    <div style="width: 20%; display: inline-block;"><br><br><br>
                        <enable-image picname="teacherthumb.jpg" picalt="Charles K. Sigey"></enable-image>
                        <h6>Charles K. Sigey,<br>Teacher grade 3, Korara Primary and Secondary School</h6></div>
                </div>
                <enable-read-more label="Read more from an interview with Charles K. Sigey">
                <h4>Excerpts from the interview</h4>
                <h5>Organizing the classroom</h5>
       <p>I have organized the class in such a form that we are using two boards. The blackboard and the white board. Purposely to help the low vision to really view. They are sitting in different coins(?), so when I use that one side the others that are extreme maybe will disadvantaged. Yet I will them to sit there.<br>The visually impaired learn alongside the sighted, well, and they are baried(?) of that a lot like they were on their own. They can easily learn about the capabilities that also as sighted have been able to learn. The capabilities of those who are visually impaired. I think they could not have done if they were at their own.</p>
                <h5>Interacting with the environment</h5>
                <p>We have also had the visually impaired interacting very well with the environment, so they don´t have any environmental challenges. They cope with the environment very well. Even in their home environment, because some of these scholars for example, they have been able to cope with the challenges they meet on their way, rigth from the school environment all the way to their home environment. So with the many challenges that we have, that is the environmental period(?) that we have in the instituion. These are assisted the learners even to cope with several environmental which they are compounded to (?).
                    They move to any environment. They can be able to adjust and cope with that environment. So two, the sighted have been able to assist them very well in tasks they are doing in school. And the same, those who are also sighted are been able to learn from the visually impaired. And they have been interested in even doing what the others are doing, like learning braille. They are also learning. So that has been good on that part also, because that could be their future career with handling the visually impaired.
                </p>
                <h5>Interacting sociallly</h5>
                <p>They are very good friends, they play together, they interact together socially, in all social spheres. Out of the field they sosialize together. When they move even to dining they sosialize together. And even in the church, because they normally meet in the church and they sing together. So they have able to having friends and that can also be an advantage to them once they grow up and they want to be married. So they love somebody at least as spose. Their love is no problem because they realize that there is really no main difference from them. That is a very good experience because in the past they never had sposes. They been having problems getting their partners, but now with inclusion they can really cope with the situation and understand their capabilities and they can live very well.</p>
                <h5>I am a happy teacher</h5>
                    <p>It is very great to be a learner in an inclusive class. Very interesting indeed. All those challenges are very interesting. I am happy to have a class like this. It gives me a lot of strenght and even expose me into getting about these learners more. At least I have a variete of learners, not  one particular group of learners. At least I have several of them wether low  vision , wether some totally blind, wether regular. We all cope in the same group, then there is no problem.</p>
                </enable-read-more>
            </div>
        </div>

        <enable-quiz id="quiz1" path="quiz1"></enable-quiz>

        <div id="s3" class="level03">
            <h3>Social integration</h3>
            <div>
                <p>Many children with visual impairments have significant problems adapting socially in the regular classroom. t support from teachers. Even then, social adaptation is unfortunately not easily accomplisOther children may not easily accept a blind or child with low vision without some direched. The ability of a child to socially adapt depends on the individual. Some children may make the adjustment easier than others.
                In this day and age, we hear a lot about the importance of inclusion. Learners with visually impairments can be served well in a regular education classroom setting, but the best placement for these children cannot be determined across the board. Each child's needs must be carefully considered in order to determine the placement that will best benefit the child and provide a stimulating learning environment for that particular student.</p>
 <h4>Inclusion at Bishop Willis Demonstration School in Uganda</h4>
  <enable-video local-filename="inclusionstbishopschool.mp4" local-poster="" local-subtitles="inclusionstbishopschool_en.srt" youtube-id="65_pQQpnI24"></enable-video>
<br>
 


   
            </div>
        </div>
 
<div id="s4" class="level03">
            <h3>Segregation 1</h3>
            <div>
                <p>Text about segregation.</p>

            </div>
        </div>
<div id="s5" class="level03">
            <h3>Segregation 2</h3>
            <div>
                <p>Text about segregation.</p>

            </div>
            </div>
<div id="s6" class="level03">
            <h3>Segregation 3</h3>
            <div>
                <p>Text about segregation.</p>

            </div>
            </div>
            <br>
            

    <div ng-include src="'templates/footer-template.html'"></div>
</div>
</div>
