<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here" title="Hearing and the hearing system"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
       <p>Bildeforslag: Et ansikt i profil sier noe inn i øret på en  person i enface, eller en person som sier noe ut i luften.</p>
       <br>
       <p>When the air around us starts moving, for example when we use our voice, a sound wave is created.</p> <p>The external ear intercepts the sound waves which passes through the middle ear and continue to the internal ear. There the waves are processed and tranfered to the brain. When the signals reach the brain they are interpreted and we start to hear a sound.</p>
    
       <p>The ear and the brain have to work together if we are to hear. If they don't cooperate, the result can be different kinds of <strong>hearing loss</strong> or even <strong>deafness</strong>.</p>
    <br>
    <ul>
    <li>Hearing loss refers to both complete and partial loss of the ability to hear. ‘Hard of hearing’ refers to people with hearing loss ranging from mild to severe. They usually communicate through spoken language and can benefit from assistive devices.</li>
    <li>Deafness refers to profound hearing loss, which implies very little or no hearing. ‘Deaf’ people mostly use sign language for communication.</li>
    </ul>
    <enable-quotebox e-type="quote">The majority of people with moderate-to-profound hearing loss live in low- and middle-income countries.</enable-quotebox>
    <h4>The anatomy of the ear</h4>
     <p>When sound waves reach the ear, they travel down the ear canal and hit the eardrum (tympanic membrane), making it vibrate. Three tiny bones (malleus, incus, stapes) in the middle ear link the vibrating eardrum to a tiny bone structure in the inner ear called the cochlea.</p>

<p>The cochlea is filled with liquid that carries the vibrations to thousands of tiny hair cells. The movement in the fluid causes the cells to carry a message to the nerve that is connected to the brain, which turns the signals into what you hear.</p>
    <enable-image picname="ear.jpg" picalt="Description of the picture comes here"></enable-image>
    <br>
   
    
    <h4>Description of the main parts of the ear:</h4>
    <ul>
    <li>Auricle</li>
    <li>Auditory canal</li>
    <li>Ear drum</li>
    <li>Malleus</li>
    <li>Incus</li>
    <li>Tympanic cavity</li>
    <li>Temporal bone</li>
    <li>Semicircular ducts</li>
    <li>Cochlea</li>
    <li>Auditory tube</li>
    </ul>
    
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
