<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="bladvisesny.jpg" picalt="Banner image description comes here"
                           title="Hearing and the hearing system"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">


        <enable-grey-box><h4>When the air around us starts moving, for example when we use our voice, a sound wave is created.</h4></enable-grey-box>

        <p>The external ear (also known as the pinna) intercepts the sound waves and directs them to the ear. The sound waves travel into the ear  through the
            ear canal and hit the ear drum (tympanic membrane) making it to vibrate. The three tiny bones (malleus, incus and stapes) in the middle ear then
            transmit the sound waves into the inner ear through the oval window.</p>
        <p>In the inner ear, the cochlea turns the sound waves into tiny signals which are transmitted to the brain through the auditory nerve. The brain then
            interprets the sound signals giving them meaning. </p>

        <p>In order for us to hear well, the ear and the brain have to work very and together. If they don’t, this can lead to a hearing loss which
            may be partial or even deafness.</p>
        <br>
        <ul>
            <li><strong>Hearing loss</strong> refers to both total and partial loss of the ability to hear.</li><br>
            <ul><li><strong>Hard of hearing</strong> refers to a hearing loss which is mild or moderate and hinders a person’s ability to hear certain sounds. Persons who are hard of
                hearing may be able to communicate using spoken language and can benefit from amplification devices.</li>
            <li><strong>Deafness</strong> refers to a severe or profound hearing loss. Persons who are deaf hear very little or no sounds at all. This implies that they have to
                use manual methods such as gestures and sign language to communicate.</li></ul>
        </ul>
        <enable-quotebox e-type="quote">The main cause of hearing loss in low and middle income countries is infections/diseases.
            As a result of this, there may be many people with hearing loss in these countries.</enable-quotebox>
        <h4>The anatomy of the ear</h4>


        <enable-image picname="ear.jpg" picalt="Description of the picture comes here"></enable-image>
        <br>


        <enable-read-more label="Read more about the main parts of the ear">

            <p><strong>Pinna (Auricle)</strong> is the visible part of the ear that resides outside of the head. The
                auricle functions to collect sound and transform it to directional and other information. The auricle
                collects sound and acting as a funnel amplifies this and directs it to the auditory canal. (Source:
                <enable-link href="https://en.wikipedia.org/wiki/Auricle_(anatomy)">Wikipedia)</enable-link>
            </p>
            <p><strong>Auditory canal</strong>The ear canal (external auditory meatus, external acoustic meatus, EAM),
                is a tube running from the outer ear to the middle ear. The adult human ear canal extends from the pinna
                to the eardrum and is about 2.5 centimetres (1 in) in length and 0.7 centimetres (0.3 in) in diameter.
                (Source:
                <enable-link href="https://en.wikipedia.org/wiki/Ear_canal">Wikipedia)</enable-link>
            </p>
            <p><strong>Ear drum (Tympanic membrane)</strong> is a thin, cone-shaped membrane that separates the external
                ear from the middle ear in humans and other tetrapods. Its function is to transmit sound from the air to
                the ossicles inside the middle ear, and then to the oval window in the fluid-filled cochlea. Hence, it
                ultimately converts and amplifies vibration in air to vibration in fluid. The malleus bone bridges the
                gap between the eardrum and the other ossicles. (Source:
                <enable-link href="https://en.wikipedia.org/wiki/Eardrum">Wikipedia)</enable-link>
            </p>
            <p><strong>Malleus</strong> or hammer is a hammer-shaped small bone or ossicle of the middle ear which
                connects with the incus and is attached to the inner surface of the eardrum. It transmits the sound
                vibrations from the eardrum to the incus. (Source:
                <enable-link href="https://en.wikipedia.org/wiki/Malleus">Wikipedia)</enable-link>
            </p>
            <p><strong>The incus</strong> is a bone in the middle ear. The anvil-shaped small bone is one of three
                ossicles in the middle ear. The incus receives vibrations from the malleus, to which it is connected
                laterally, and transmits these to the stapes, medially.(Source:
                <enable-link href="https://en.wikipedia.org/wiki/Incus">Wikipedia)</enable-link>
            </p>
            <p><strong>The stapes</strong> is a bone in the middle ear of humans and other mammals which is involved in
                the conduction of sound vibrations to the inner ear. The stirrup-shaped small bone is on and transmits
                these to the oval window, medially. The stapes is the smallest and lightest named bone in the human
                body. (Source:
                <enable-link href="https://en.wikipedia.org/wiki/Stapes">Wikipedia)</enable-link>
            </p>
            <p><strong>The elliptical window</strong> (oval window or vestibular window) is a membrane-covered opening
                which leads from the middle ear to the vestibule of the inner ear. Vibrations that come into contact
                with the tympanic membrane travel through the three ossicles and into the inner ear. The oval window is
                the intersection of the middle ear with the inner ear, and is directly contacted by the stapes; by the
                time vibrations reach the oval window, they have been amplified over twenty times from what they were
                when they contacted the tympanic membrane, a testament to the amplifying power of the middle ear.
                (Source:
                <enable-link href="https://en.wikipedia.org/wiki/Oval_window">Wikipedia)</enable-link>
            </p>
            <p><strong>The circular window</strong> (round window) is one of the two openings from the middle ear into
                the inner ear. It is sealed by the round window membrane, which vibrates with opposite phase to
                vibrations entering the inner ear through the oval window. It allows fluid in the cochlea to move, which
                in turn ensures that hair cells of the basilar membrane will be stimulated and that audition will occur.
                (Source:
                <enable-link href="https://en.wikipedia.org/wiki/Round_window">Wikipedia)</enable-link>
            </p>
            <p><strong>The vestibular nerve</strong> is one of the two branches of the Vestibulocochlear nerve (the
                cochlear nerve being the other). In humans the vestibular nerve transmits sensory information
                transmitted by vestibular hair cells located in the two otolith organs (the utricle and the saccule) and
                the three semicircular canals via the vestibular ganglion. Information from the otolith organs reflects
                gravity and linear accelerations of the head. Information from the semicircular canals reflects
                rotational movement of the head. Both are necessary for the sensation of body position and gaze
                stability in relation to a moving environment. (Source:
                <enable-link href="https://en.wikipedia.org/wiki/Vestibular_nerve">Wikipedia)</enable-link>
            </p>
            <p><strong>The auditory nerve</strong> (also cochlear or acoustic nerve) is one of two parts of the
                vestibulocochlear nerve, a cranial nerve present in amniotes. The cochlear nerve carries auditory
                sensory information from the cochlea of the inner ear directly to the brain. The other portion of the
                vestibulocochlear nerve is the vestibular nerve, which carries spatial orientation information to the
                brain from the semicircular canals. (Source:
                <enable-link href="https://en.wikipedia.org/wiki/Cochlear_nerve">Wikipedia)</enable-link>
            </p>
            <p><strong>The cochlea</strong> is the auditory portion of the inner ear. It is a spiral-shaped cavity in
                the bony labyrinth, in humans making 2.5 turns around its axis, the modiolus. A core component of the
                cochlea is the
                <enable-link href="https://en.wikipedia.org/wiki/Organ_of_Corti">Organ of Corti</enable-link>
                , the sensory organ of hearing, which is distributed along the partition separating fluid chambers in
                the coiled tapered tube of the cochlea. (Source:
                <enable-link href="https://en.wikipedia.org/wiki/Cochlea">Wikipedia)</enable-link>
            </p>
            <p><strong>The tympanic cavity</strong> is a small cavity surrounding the bones of the middle ear. On its
                lateral surface, it abuts the external auditory meatus from which it is separated by the tympanic
                membrane (eardrum). (Source:
                <enable-link href="https://en.wikipedia.org/wiki/Tympanic_cavity">Wikipedia)</enable-link>
            </p>
            <p><strong>The auditory tube</strong>, also known as the Eustachian tube or pharyngotympanic tube, is a tube
                that links the nasopharynx to the middle ear. It is a part of the middle ear. In adult humans the
                auditory tube is approximately 35 mm (1.4 in) long. (Source:
                <enable-link href="https://en.wikipedia.org/wiki/Eustachian_tube">Wikipedia)</enable-link>
            </p>
        </enable-read-more>
        <h2>The anatomy of the ear in 3D</h2>
        <enable-video vididlc="earanatomy" vididyt="p3Oy4lodZU4" cclang="en" localmode="localmode"></enable-video>
    </div>


    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
