<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here" title="Hearing and the hearing system"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
       <p>Bildeforslag: Et ansikt i profil sier noe inn i øret på en  person i enface.</p>
       <br>
       <p>When the air around us starts moving, for example when we use our voice, a sound wave is created.</p> <p>The external ear intercepts the sound waves which passes the middle ear and continue through the internal ear. There the waves are processed and tranfered to the brain. When the signals reach the brain they are interpreted and we start to hear a sound.</p>
    
       <p>The ear and the brain have to work together if we are to hear. If they don't cooperate, the result can be different kinds of hearing loss or even deafness.</p>
    <br>
    <p>Deafness refers to the complete loss of hearing in one or both ears.</p> <p>Hearing loss refers to both complete and partial loss of the ability to hear. The majority of people with moderate-to-profound hearing loss live in low- and middle-income countries.</p>
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
