<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here" title="What is hearing impairment?"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
<p>Distinguish between deafness and hard of hearing</p>
<p>Description of the ear</p>
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
