<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here" title="What is hearing impairment?"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
<h4>The World Health Organisation (WHO) describtion of grades of hearing impairment:</h4>
<ul>
    <li><strong>0 - No impairment:</strong> 25 dB or better (better ear). No or very slight hearing problems. Able to hear whispers.</li>
<li><strong>1 - Slight impairment:</strong> 26-40 dB (better ear). Able to hear and repeat words spoken in normal voice at 1 metre. <br><ul><li><strong>Recommendations:</strong> Counselling. Hearing aids may be needed.</li></ul></li>
<li><strong>2 - Moderate impairment:</strong> 41-60 dB (better ear). Able to hear and repeat words spoken in raised voice at 1 metre. <br><ul><li><strong>Recommendations:</strong> Hearing aids usually recommended.</li></ul> </li>
<li><strong>3 - Severe impairment:</strong> 61-80 dB (better ear). Able to hear some words when shouted into better ear.<br><ul><li><strong>Recommendations:</strong> Hearing aids needed. If no hearing aids available, lip-reading and signing should be taught.</li></ul> </li>
<li><strong>4 - Profound impairment including deafness:</strong> Unable to hear and understand even a shouted voice.<br><ul><li><strong>Recommendations:</strong> Hearing aids may help understanding words. Additional rehabilitation needed. Lip-reading and sometimes signing essential.</li></ul></li>
</ul>
<br>
<p>Grades 2, 3 and 4 are classified as <strong>disabling hearing impairment.</strong></p>
<p>(Source: <enable-link href="http://www.who.int/pbd/deafness/hearing_impairment_grades/en/">WHO</enable-link>)</p>

<p>Description of the ear</p>
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
