<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here" title="What is hearing impairment?"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
<h3>Sound</h3>
<p>Sound is described as waves or oscillation. Long waves gives the sound a bass character and short waves gives the sound treble characteristiscs.</p>
<p>The pitch of the waves are measured in Hertz (Hz) which is the number of cycles of waves per second.</p> 
<ul>
    <li>A tone with many cycles per second we will experience as high, the tone has a high frequency.</li><li>A tone with fewer cycles per second we will experience as low, the tone has a low frequency.</li></ul> 
<p>The intensity of sound or the volume is measured in decibel (dB). Normal voice from the distance of 1 metre is around 60 dB and high music is around 100-110 dB. If the sound is around 110-130 dB most people will find it embarrassing.</p><p> Usually the sound moves around the air with the speed of 330 metres per second, but under water the sound moves much faster, around 1400 m/s.</p>
<h3>Grades of hearing impairment</h3>
<p>Hearing can vary from no impairment to deafness. The World Health Organisation (WHO) describe grades of hearing impairment as follow:</p>
<ul>
    <li><strong>0 - No impairment:</strong> 25 dB or better (better ear). No or very slight hearing problems. Able to hear whispers.</li>
<li><strong>1 - Slight impairment:</strong> 26-40 dB (better ear). Able to hear and repeat words spoken in normal voice at 1 metre. <br><ul><li>Recommendations: Counselling. Hearing aids may be needed.</li></ul></li>
<li><strong>2 - Moderate impairment:</strong> 41-60 dB (better ear). Able to hear and repeat words spoken in raised voice at 1 metre. <br><ul><li>Recommendations: Hearing aids usually recommended.</li></ul> </li>
<li><strong>3 - Severe impairment:</strong> 61-80 dB (better ear). Able to hear some words when shouted into better ear.<br><ul><li>Recommendations: Hearing aids needed. If no hearing aids available, lip-reading and signing should be taught.</li></ul> </li>
<li><strong>4 - Profound impairment including deafness:</strong> Unable to hear and understand even a shouted voice.<br><ul><li>Recommendations: Hearing aids may help understanding words. Additional rehabilitation needed. Lip-reading and sometimes signing essential.</li></ul></li>
</ul>
<br>
<p>Grades 2, 3 and 4 are classified as <strong>disabling hearing impairment.</strong></p>
<p>(Source: <enable-link href="http://www.who.int/pbd/deafness/hearing_impairment_grades/en/">WHO</enable-link>)</p>
<p>Disabling hearing loss refers to hearing loss greater than 40 decibels (dB) in the better hearing ear in adults and a hearing loss greater than 30 dB in the better hearing ear in children</p>
<h3>Causes of hearing loss and deafness</h3>
<p>The causes of hearing loss and deafness can be divided into <strong>congenital causes</strong> and <strong>acquired</strong> causes.</p>
<h4>Congenital causes</h4>
<p>Congenital causes may lead to hearing loss being present at or acquired soon after birth. Hearing loss can be caused by hereditary and non-hereditary genetic factors or by certain complicationng pregnancy and childbirth, including:</p>
<ul><li>maternal rubella, syphilis or certain other infections during pregnancy;</li>
<li>low birth weight;</li>
<li>birth asphyxia (a lack of oxygen at the time of birth);</li>
<li>inappropriate use of particular drugs during pregnancy, such as aminoglycosides, cytotoxic drugs, antimalarial drugs and diuretics;</li>
<li>severe jaundice in the neonatal period, which can damage the hearing nerve in a newborn infant.</li>
</ul>
<h4>Acquired causes</h4>
<p>Acquired causes may lead to hearing loss at any age, such as:</p>
<ul><li>infectious diseases such as meningitis, measles and mumps;
</li>
<li>chronic ear infections;<br><enable-quotebox e-type="quote">Chronic ear infections are a leading cause of hearing loss</enable-quotebox></li>

<li>collection of fluid in the ear (otitis media);<br><enable-quotebox e-type="quote">Among children, chronic otitis media is the leading cause of hearing loss</enable-quotebox></li>
<li>use of particular drugs, such as some antibiotic and antimalarial medicines;</li>
<li>injury to the head or ear;</li>
<li>excessive noise, including occupational noise such as that from machinery and explosions, and recreational noise such as that from personal audio devices, concerts, nightclubs, bars and sporting events;</li>
<li>ageing, in particular due to degeneration of sensory cells;</li>
<li>wax or foreign bodies blocking the ear canal.</li>
</ul>
<enable-grey-box >50% of hearing loss is preventable through public health actions</enable-grey-box>
<strong>These include:</strong>
<ul><li>immunization</li>
<li>healthy ear and hearing care habits</li>
<li>effective treatment for both acute and chronic ear conditions</li>
</ul>
<p>(Source: <enable-link href="http://www.who.int/mediacentre/factsheets/fs300/en/">WHO</enable-link>)</p>


    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
