<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="write1heading.jpg" picalt="Child writing in a book with a pencil" title="Early intervention"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
     <enable-quotebox e-type="quote">Up to 5 of every 1000 infants are born with or develop disabling hearing loss in early childhood</enable-quotebox>  
    <p>Early detection and intervention are crucial to minimizing the impact of hearing loss on a child’s development and educational achievements.</p><br><p>In infants and young children with hearing loss, early identification and management through infant hearing screening programmes can improve the linguistic and educational outcomes for the child.</p><br><p>Children with deafness should be given the opportunity to learn sign language along with their families.

</p>
<enable-slideshow path="slideshow3"></enable-slideshow>
<h4>Identification of hearing loss</h4>
<p>Pre-school, school and occupational screening for ear diseases and hearing loss is an effective tool for early identification and management of hearing loss.

People with hearing loss can benefit from the use of hearing devices, such as hearing aids, cochlear implants, and other assistive devices. They may also benefit from speech therapy, aural rehabilitation and other related services. However, global production of hearing aids meets less than 10% of global need and less than 3% of developing countries’ needs. The lack of availability of services for fitting and maintaining these devices, and the lack of batteries are also barriers in many low-income settings. Making properly-fitted, affordable hearing aids and cochlear implants and providing accessible follow-up services in all parts of the world will benefit many people with hearing loss.

People who develop hearing loss can learn to communicate through development of lip-reading skills, use of written or printed text, and sign language. Teaching in sign language will benefit children with hearing loss, while provision of captioning and sign language interpretation on television will facilitate access to information.

Officially recognizing national sign languages and increasing the availability of sign language interpreters are important actions to improve access to sign language services. Human rights legislation and other protections can also help ensure better inclusion for people with hearing loss.</p>
    </div>
    
    

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
