<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="write1heading.jpg" picalt="Child writing in a book with a pencil"
                           title="Intervention for Hearing Impairment"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <p>The biggest challenge for people with hearing loss is <strong>communication</strong>. Although parts of the sound falls out,
            it is still possible to perceive somebody is talking. But when some sounds are missing or weak, it may be difficult to
            understand the exact meaning of what is being said.</p><p> Other people may have difficulty understanding this, for
        example it may have consequences for the child's language development.</p>
        <div layout="row" layout-margin>
            <div style="width: 70%"><enable-grey-box e-type="quote"><h4>It is always important to create good listening and communication situations regardless of the degree and nature of the hearing loss.</h4></enable-grey-box></div>
            <div style="width: 5%"></div>
            <div style="width: 25%"><enable-image picname="boylisten.jpg" picalt="A boy try to hear"></enable-image></div>
        </div>
        <h3>Children who are deaf</h3>
        <p>Deafness in children does not only make it difficult for them to communicate with other people; it also slows down,
            or even prevents altogether, their learning. A great deal of what children learn comes from what they (over) hear. They
            hear their family members talking and they learn. They hear people in the community talking and they learn. They hear
            other children talking and they learn. They hear the radio or television and they learn. All this is in addition to what
            is said to them.<br> Children who are deaf miss out on all this learning.<br> Even children who are only a little bit deaf miss
            out; children who are very deaf miss out nearly everything. So they need very special help in order to learn.</p>
        <div layout="row" layout-margin>
            <div style="width: 50%"></div>

            <div style="width: 50%"><p>Source: <enable-link href="http://unesdoc.unesco.org/images/0012/001255/125541e.pdf">Deafness: A Guide for Parents, Teachers and Community Workers. UNESCO</enable-link></p></div></div>

        <enable-quotebox e-type="quote">Up to 5 of every 1000 infants are born with or develop disabling hearing loss in
            early childhood
        </enable-quotebox>
        <p>Early detection and intervention are crucial to minimizing the impact of hearing loss on a child’s
            development and educational achievements. In infants and young children with hearing loss, early identification and management through infant hearing
            screening programmes can improve the linguistic and educational outcomes for the child.</p>

        <p>Children with deafness should be given the opportunity to learn sign language along with their families.

        </p>
        <enable-slideshow path="slideshow3"></enable-slideshow>
        <h4>Identification of hearing loss</h4>

        <p>Pre-school, school and occupational screening for ear diseases and hearing loss is an effective tool for
            early identification and management of hearing loss.

            People with hearing loss can benefit from the use of hearing devices, such as hearing aids, cochlear
            implants, and other assistive devices. They may also benefit from speech therapy, aural rehabilitation and
            other related services. However, global production of hearing aids meets less than 10% of global need and
            less than 3% of developing countries’ needs. The lack of availability of services for fitting and
            maintaining these devices, and the lack of batteries are also barriers in many low-income settings. Making
            properly-fitted, affordable hearing aids and cochlear implants and providing accessible follow-up services
            in all parts of the world will benefit many people with hearing loss.

            People who develop hearing loss can learn to communicate through development of lip-reading skills, use of
            written or printed text, and sign language. Teaching in sign language will benefit children with hearing
            loss, while provision of captioning and sign language interpretation on television will facilitate access to
            information.

            Officially recognizing national sign languages and increasing the availability of sign language interpreters
            are important actions to improve access to sign language services. Human rights legislation and other
            protections can also help ensure better inclusion for people with hearing loss.</p>
    </div>


    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
