<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="olderboys3heading.jpg" picalt="Banner image description comes here" title="Introduction"></enable-section-header>
    <link href='https://cdn.knightlab.com/libs/soundcite/latest/css/player.css' rel='stylesheet' type='text/css'><script type='text/javascript' src='https://cdn.knightlab.com/libs/soundcite/latest/js/soundcite.min.js'></script>
    <div layout-padding layout="column" class="partialContent">
        <h3>Identification</h3>
<p>Hearing impairment is considered to be hidden disability because it is not always obvious to know that a person has this disability. Persons who have a hearing impairment
    are, therefore, identified by observing their behavior and listening to the manner in which they express themselves and or interact with other people.</p>
<p>Some of the characteristics that may indicate that a person might have a hearing loss are the following:</p>
<ul><li>Not responding to verbal instructions</li>
    <li>Not responding to sounds</li>
    <li>Not showing interest in verbal conversations</li>
    <li>Frequent complaints of ear ache</li>
    <li>Having a discharge in the ear</li>
    <li>Giving inappropriate responses to verbal instructions</li>
    <li>Inability to speak</li>
    <li>Often staring at the speaker’s face</li>
    <li>Missing out speech sounds in words</li>
</ul>
<p>Persons who experience the above difficulties should be advised to undergo further assessment to establish their hearing status.
    The assessment may be a screening test or pure tone audiometry.</p>
<h3>Screening</h3>
<p>The above characteristics are not sufficient to enable one conclude that there is a hearing impairment. It is important to carry out a screening assessment
    in order to find out whether a person has a hearing problem or not.<br>The most widely used screening procedures for hearing loss involve measuring a person’s
    reaction to sounds. The following are some of the procedures used:</p>
<ol>
    <li><strong>Distraction test (suitable for children  6-18 months)</strong><br>
    In this test, a child is assessed for low and high frequency sounds. The child is seated on the parent/ guardian’s laps facing forward. The assessor then makes
    low and high frequency sounds one after another from behind, at a distance of one meter and at an angle of 45 degrees from each ear.<br><br>
    The assessor should observe whether the child will react to the low frequency sounds and high frequency sounds. Failure to react to the sounds is an indication
    that the child may have a hearing loss.</li>
    <li><strong>Cooperative test (suitable for  children 18-30 months)</strong><br>
        This test requires the child to carry out actions with toys or other play materials following a verbal instruction from the assessor.<br><br>
        The child is presented with the toy to play with. From behind the child, the assessor will give instructions to the child such as ’give it to mammy’ or,
        put it in the box’ etc. The instructions should be made at a distance of one meter from the child, and at an angle of 45 degrees from each ear.<br><br>
        The assessor should observe whether the child will respond to the verbal instructions or reacts to his/her voice. Inability to carry out the instruction
        or react to it is an indication that the child may have a hearing loss.</li>
    <li><strong>Performance test (suitable for children 2 ½ years and above)</strong><br>
        In this test, the child is expected to perform an activity following a ‘go’ command from the assessor. The child sits facing forward and is presented
        with some play materials. He /she is instructed to perform the activity (such as put the toy in a box) on hearing the ‘go ‘command.</li>
</ol>
        <p>The assessor has to observe whether the child is able to carry out the activity each time the command is given. Failure to carry out the activity when
            the commands are given is an indication that the child may have a hearing loss.</p>
<h3>Pure tone Audiometry Test</h3>
<p>Even if the person passes the screening tests, hearing loss can develop later. An audiometric assessment may be recommended for all persons who are suspected to
    have a hearing loss. This test also helps to find out more detail about the nature of the hearing loss (whether it is mild, moderate or severe) and the level
    in which each ear may be affected.</p>
        <p>Results from audiometric assessment are recorded and presented in a an audiogram as shown below.</p>
        <h3>Conditions for developing communication skills</h3>
        <p>Deaf and hearing-impaired children often have a poor conceptual framework and difficulty to reflect on their own and others'
    feelings and experiences. The result can be can social difficulties and difficulties in making friends. Because of lack of
    basic concepts many children are struggling academically at school. For getting a good language development sign language
    environment is absolutely essential for these children. It is a precondition for social adjustment and for good mental health
    later in life to create an inner voice for thinking and understanding. It is essential that parents and children get the
    opportunity to communicate well right from the start. That's when the connection between parents and children formed and the
    interplay between them should start.<br>For hard of hearing children early communication with sign language in addition to
    speech is an advantage for the development of spoken language and concepts and have good impact on later reading and writing
    skills.</p>

   <h4>Audiogram</h4>
   <p>The <strong> audiogram</strong> is a graph which gives a detailed description of your hearing ability. It describes which sounds can be heard and which sounds are missing. The results of the measured hearing  are characterized in a curve in the audiogram. The curve gives a visual representation of the hearing loss. An audiogram can give a picture of an individuals hearing, but it says nothing about how an individual utilizes auditory impressions. Two people with similar audiograms can have two very different experiences of hearing.</p>
        <h4>Examples of audiograms and sounds without and with hearing loss.</h4>
        <p>These examples of hearing tries to simulate how different hearing loss can turn out.</p>
        <ul><li>
        <p> As a reference this audiogram shows normal hearing of <span class="soundcite" data-url="http://enableffs.github.io/partials/hearing/media/snds/summertimenormal.mp3" data-start="0" data-end="15000" data-plays="1">young people and and adults.</span> Listen to a simulation of how young people and adults hear:</p>
        <enable-audio sndid="summertimenormal"></enable-audio>
        <div layout="row" layout-margin>
            <div style="width: 60%"><enable-image picname="normal.jpg" picalt="normal audiogram"></enable-image></div>
            <div style="width: 40%"></div>
        </div>
        </li><li>
        <p>This audiogram recreates the hearing of <span class="soundcite" data-url="http://enableffs.github.io/partials/hearing/media/snds/summertime70.mp3" data-start="0" data-end="15000" data-plays="1">a 70 year old person</span> with normal hearing.
         Listen to a simulation of how such a person hears the same music:</p>
        <enable-audio sndid="summertime70"></enable-audio>
        <div layout="row" layout-margin>
            <div style="width: 60%"><enable-image picname="70year.jpg" picalt="an audiogram of a 70 years old person"></enable-image></div>
            <div style="width: 40%"></div>
        </div>
        </li><li>
        <p>This audiogram recreates the hearing of a 70 years old person <span class="soundcite" data-url="http://enableffs.github.io/partials/hearing/media/snds/summertimeserious.mp3" data-start="0" data-end="15000" data-plays="1">with severe hearing loss.</span> Listen to a simulation of how this person hears:</p>
        <enable-audio sndid="summertimeserious"></enable-audio>
        <div layout="row" layout-margin>
            <div style="width: 60%"><enable-image picname="serious.jpg" picalt="an audiogram of a person with serious hearing loss"></enable-image></div>
            <div style="width: 40%"></div>
        </div>
        </li></ul>
        <h4>The "speech banana"</h4>
        <p>The <strong>"speech banana"</strong> in the audigram shows the area where the speaking voice is at normal hearing. Within this area are all the sounds of the letters themselves.</p>
    <enable-image picname="spbanana.jpg" picalt="Audiogram showing speech banana"></enable-image>
    <h4>High frequency loss</h4>
    <p><strong>High frequency loss</strong> (ski-slope loss) is the most common type of hearing loss. The line in the audiogram starts high and then falls off as the frequency increases. The result is that people with high frequency loss will have trouble hearing the sounds that distinguish consonants, and that will make it sound like people are mumbling. In this example the consonants "f", "g", "k", "s", "t" and th" become difficult to hear. In noisy surroundings it becomes difficult to understand speech. It is easier to hear male  than female voices. Some ambient sounds, such as birds singing, are gone.</p>
    <enable-image picname="diskantloss.jpg" picalt="Audiogram showing diskat loss"></enable-image>
    <h4>Cookiebite loss</h4>
    <p>A hearing loss that looks like a bite has been taken out of the middle of your audiogram is called <strong>a cookie bite loss</strong> and it is relatively rare. It means that you hear better in the low and high frequencies but less well in the middle frequencies. In this example many consonants, "ch", "g", "h", "k", "p", "r", "sh", and  the vowel "a" are lost. Losses in this area affects:</p>
    <ul><li>speech intelligibility (mids and tweeters)</li>
<li>the perception of environmental sounds</li>
<li>make it difficult to understand speech in noisy surroundings.</li>
</ul>
<enable-image picname="cookiebiteloss.jpg" picalt="Audiogram showing cookiebite loss"></enable-image>
    <h4>Flat loss</h4>
    <p>A hearing loss which is decreased in all frequency ranges is called <strong>flat loss</strong>. Even if such a loss is relatively uncommon it can affect (depending on the size of the loss):</p>
    <ul>
    <li>the speech intelligibility</li>
    <li>the perception of environmental sounds</li>
    <li>understanding speech in noisy surroundings</li>
    </ul>
    <enable-image picname="flatloss.jpg" picalt="Audiogram showing flat loss"></enable-image>
<p>(Source: The illustrastions are modifications of a image found at <enable-link href="http://www.hearinglikeme.com/facts/what-hearing-loss/now-hear">hearinglikeme.com</enable-link>)</p>
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
