<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here" title="Introduction"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
    <p>The biggest challenge for people with hearing loss is <strong>communication</strong>. Although parts of the sound falls out, it is still possible to perceive somebody is talking. But when some sounds are missing or weak, it may be difficult to understand the exact meaning of what is being said.</p><p> Other people may have difficulty understanding this, for example it may have consequences for the child's language development.</p>
<enable-grey-box e-type="quote">It is always important to create good listening and communication situations regardless of the degree and nature of the hearing loss.</enable-grey-box>
    <p>An audiogram is a form where you enter the result of a hearing test. The results we get when hearing is measured, characterized in that a curve in the audiogram. The curve gives us a visual representation of your hearing loss. An audiogram can give us a picture of your hearing, but it says nothing about how an individual utilizes auditory impressions. Two people with similar audiograms can have two very different experiences of hearing.</p>
     <!--   bilde av talebananen inn her -->
    
    <p>"The speech banana" in the audigram shows the area where the speaking voice is at normal hearing. Within this area are all the sounds of the letters themselves.</p>
    <p>If</p>
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
