<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here" title="Introduction"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
    <p>The biggest challenge for people with hearing loss is <strong>communication</strong>. Although parts of the sound falls out, it is still possible to perceive somebody is talking. But when some sounds are missing or weak, it may be difficult to understand the exact meaning of what is being said.</p><p> Other people may have difficulty understanding this, for example it may have consequences for the child's language development.</p>
<enable-grey-box e-type="quote">It is always important to create good listening and communication situations regardless of the degree and nature of the hearing loss.</enable-grey-box>
    <!--   bilde av talebananen inn her -->
    <p>An audiogram is a form where you enter the result of a hearing test. The results we get when hearing is measured, characterized in that a curve in the audiogram. The curve gives us a visual representation of your hearing loss. An audiogram can give us a picture of your hearing, but it says nothing about how an individual utilizes auditory impressions. Two people with similar audiograms can have two very different experiences of hearing.</p>
    <p>"The speech banana" in the audigram shows the area where the speaking voice is at normal hearing. Within this area are all the sounds of the letters themselves.</p>
    <!--   bilde av flatt tap -->
    <p>A hearing loss which is decreased in all frequency ranges is called flat loss. Even if such a loss is relatively uncommon it can affect (depending on the size of the loss):</p>
    <ul>
    <li>the speech intelligibility</li>
    <li>the perception of environmental sounds</li>
    <li>understanding speech in noisy surroundings</li>
    <!--   bilde av diskant tap -->
    <p>High frequency loss is the most common type of hearing loss. The line in the audiogram st become difficult to hear. The resultarts high and then falls off as the frequency increases.The consonants "s", "f", "t", th" is that people with high frequency loss will have trouble hearing the sounds that distinguish consonants, and that will make it sound like people are mumbling. In noisy surroundings it becomes difficult to understand speech. It is easier to hear male  than female voices. Some ambient sounds,such as birds singing, are gone.</p>
    <!--   bilde av diskant tap -->
    </ul>


    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
