<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="olderboyshearing3.jpg" picalt="Banner image description comes here" title="Prevention"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        
<enable-quotebox e-type="quote">Half of all cases of hearing loss can be prevented through primary prevention.</enable-quotebox>
 <h3>Some simple strategies for prevention include:</h3>
<ul><li>immunizing children against childhood diseases, including measles, meningitis, rubella and mumps;</li>
<li>immunizing adolescent girls and women of reproductive age against rubella before pregnancy;</li>
<li>screening for and treating syphilis and other infections in pregnant women;</li>
<li>improving antenatal and perinatal care, including promotion of safe childbirth;</li>
<li>following healthy ear care practices;</li>
<li>screening of children for otitis media, followed by appropriate medical or surgical interventions;</li>
<li>avoiding the use of particular drugs which may be harmful to hearing, unless prescribed and monitored by a qualified physician;</li>
<li>referring infants at high risk, such as those with a family history of deafness or those born with low birth weight, birth asphyxia, jaundice or meningitis, for early assessment of hearing, prompt diagnosis and appropriate management, as required;</li>
<li>reducing exposure (both occupational and recreational) to loud sounds by raising awareness about the risks; developing and enforcing relevant legislation; and encouraging individuals to use personal protective devices such as earplugs and noise-cancelling earphones and headphones.</li>
</ul>
<p>(Source: <enable-link href="http://www.who.int/mediacentre/factsheets/fs300/en/">WHO</enable-link>)</p>
</div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
