<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="deafheading.jpg" picalt="Banner image description comes here" title="Inclusion or segregation"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
  <h3>Right to education</h3>
        <p>Deaf children need and have a right to education. At present many deaf children do not have that opportunity.</p>
 <enable-quick-question e-question="Did you know...?" e-answer="Did you know that although education of the deaf is now a right in Uganda, only 10% of the hearing impaired children are enrolled for the primary education."></enable-quick-question>
<p>In Uganda 90 % of deaf children are not offered eduaction.<strong>How will their future be?</strong></p>
<h4>Different forms of schooling</h4>
<p>There are different forms of schooling that have been established for deaf children. UNESCO divides schooling in “special
    schooling”, "day schools" or "boarding schools", “mainstreaming” and “inclusive education”. All of them have some advantages
    and some disadvantages.

    <p><strong>"Special schooling"</strong> are segregated schools are only for deaf children.</p>
        <enable-read-more label="Advantages and disadvantages in segregated schools">
        <div layout="row" layout-margin>
            <div style="width: 47%"><p>Advantages:</p>
                <ul>
                <li>The children have other deaf children to play with and to learn with.</li>
                <li>There are more teachers and a bigger range of subjects and skills can be taught.</li>
                <li>There may be more specialist equipment and books available.</li>
                <li>Often there are deaf adults doing many of the other jobs in the school – cleaning, cooking, house-parenting, etc.</li>
                </ul></div>
            <div style="width: 6%"></div>
            <div style="width: 47%"><p>Disadvantages:</p>
                <ul>
                <li>The children may not learn how to live in society with many different people. They may find it hard to settle after they leave school and their friends.</li>
                <li>A residential schools are very costly. In many countries it is too expensive to build enough schools for all the deaf children.</li>
                <li>A parents may find it expensive to fetch the children home for the holidays and take them back when term starts. They may be tempted to leave the children at school without visiting them.</li>
            </ul></div>
        </div>
            </enable-read-more>

    </p>
        <p>The society becomes more and more independent of citizens who are well educated and hearing impaired citizens are a resource for the community which can be taken into use. The education of hearing impaired children can be done in two ways, either in a special school or the students can be included in an ordinary class together with hearing students. There are advantages and disadvantages to both education systems.</p>
<enable-grey-box ><h4>Which education system is the best for the child, the inclusive class or the special school?</h4></enable-grey-box>
<h3>Inclusion of deaf students in an ordinary class</h3>
   
 <p>At "Nancy Comprenhensive Secondary School for the Deaf" the students learn crafts. The persons who are hearing interprete what is said to those who are deaf.</p>
   <enable-video vididlc="Vocational training for deaf in secondary school" vididyt="sT2OagpoOhg" cclang="en" localmode="localmode"></enable-video>
 <div layout="row" layout-margin>
            <div style="width: 70%"><enable-quotebox e-type="quote">The students that interpret here are making learning almost becoming perfect.</enable-quotebox></div>
            <div style="width: 30%"><br><br><br><enable-image picname="opiomoses.jpg" picalt="Opio Moses"></enable-image><h6>Moses Opio,<br>Director, Nancy Comprehensive Secondary School for the Deaf</h6></div>
          </div>
       <h4>Listen to the interview with Moses Opio</h4>
        <enable-audio sndid="opio"></enable-audio>
        <enable-read-more label="Read the transcribed interview">
            <p>"We started this with some few parents, a group of parents who come together. (Col de padeka). The parents of Deaf
                Childrens Association. They came together to form a group to see a way of training their children. After seeing
                their children learning here from primary level up to seven, there were
                no way they could go. They decided to alist, get away of catering them in vocational skills, training skills. That is why in
                2004 we open this  vocational section, with carpentry,brogling (bricklaying?) and tailoring.<br><br>
                The best thing we need here is communication which is sign language.
                We intend/append? to bring all the parents with their
 children to train them in sign language so that communication can be easier. Here we teach the teacher and the child and the 
 child and the parent.<br><br>These teachers we have here, not all of them are trained in special needs education. But we 
 endeavor, let me put it right, every Wednesday we convert(?) here for sign language training for everybody when wishes, 
 newcomers and their parents to acquire sign language training. For that, when this children, they are very well graduated 
 from here –from that level of craft. But I have to tell you that when I move out even in town, when I come across them in the
 workshops, they are living some better life as compared when they were living earlier back home. They are living their own life, 
 at least something can give some for daily living.<br><br>
The comparison between the hearing and the deaf, in the beginning it was difficult, but now that he way of communication is 
easier, the comparison is now becoming perfect in the sense that even the hearing themselves would judge their ear? They are
now helping us as interpreters because they can hear and they can sign. So it is making learning here almost becoming perfect. "</p></enable-read-more>

        <h3>Inclusion of only one deaf student in the school</h3>
        <p>Rose is the only deaf student at Karanda Primary School in Kenya. Selene is both her classmate and her interpreter.</p>
        <div layout="row" layout-margin>
            <div style="width: 30%"><enable-image picname="deafgirlpresentation.jpg" picalt="Deaf student"></enable-image><br><p>Rose Sofie has been included in ordinary classes from Grade 1.</p></div>
            <div style="width: 5%"></div>
            <div style="width: 30%"><enable-image picname="interpreterpresentation.jpg" picalt="Interpreter"></enable-image><p>Selene has been her interpreter for many years.</p></div>
            <div style="width: 5%"></div>
            <div style="width: 30%"><enable-image picname="teacherpresentation.jpg" picalt="Teacher"></enable-image><p>The teacher is worried about Rose Sofie's future schooling.</p></div>
        </div>
        <enable-slideshow path="slideshow8"></enable-slideshow>
        <br>
        <h4>Listen to the interview with Edith Aceno Wambore, teacher at Karanda Primary School.</h4>
        <enable-audio sndid="karandaschoolteacher"></enable-audio>
        <enable-read-more label="Read the transcribed interview">
            <h4>About Rose</h4>

            <p>Rose is one of our girls here. She came  here in class one and we realized that she was hearing impaired when she
                was brought (born?). We had to take her historical background then after that she was given the right placement in
                class one were she interacted with the other learners. Through difficulty madame Rose manage to have obtain (?) an
                interpreter. Madame Rose interpret a little bit and when she was depended to give her a peer (?). At least a child
                at her age that could help her with interpretation because we discovered that children learn faster than the elders.
                And we went together class two until now (?). She never repeated a class. Every year she promoted the next level and
                now she is in grade eight.</p>
            <h4>How is it to have a hearing impaired child in the class?</h4>
            <p>No it is okey because at least it is a way of enabling the community members to communicate with. You know
                    children are acters or agents of change and by having a such a child in class here. When they meet other children
                    how also are hearing impaired, at least they can communicate to them because I always discovered that most of
                    these special need children, they kind of feel withdrawn because they dont have friends around. But the fact
                    that we have them here at school have enabled other community members to accept them. Even the parents feel
                    to hide their children at home and now coming to us and requesting to put the children in school. We even have
                    worse cases and other cases. From at least we are going to meet these children, we are getting to breed them.
                    They are being accepted by the community members, they are being accepted by their parents and the entire
                    community, even the teachers who are not trained.</p>
            <h4>What about the other children?</h4>
                <p>They do communicate, but not as  much as telling them. You know everything is developing interest. And Selene
                    because she have been trained at that earlier level. The others equally can only communicate with her, not as
                    fluent as Selene does, but at least the normal way of communication with deaf.  When Selene is not around at
                    least she finds a few she can interact with. When they sign to fast, Selene says down, down, down. And Selene
                    says the size.<br>
                    When she going home she moves with the others who are not Selene, and Selene also moves to the other child.</p>
            <p>Disadvantages for the interpreter
                The only disadvantages we really talked to her about is when she interprete she dont want to move her lips. And because her signing is a little bit difficulty, in moving her lips. I think when she started doing it, maybe that was the way there were some faults.
                Maybe  the teacher didnt realize she had to move her lips and maybe by training and coming up she will be used to just doing it in that way the other girl will also do it. But otherwise  we follow her signing and talk to her every day about moving her lips. But it is a bit difficult interpreting the teacher is teaching, you also want to get into whatever you been taugt. But she does it perfectly and she persforms very well in class.
                Is it good for the girl to be an interpreter?
                She don´t loose her friends, she still have a friend. The one she moves with to her  home. The one she plays around with here in school. But they really dont walk together the two of them. If you go outside there you will find her mingling with her classmembers will be together. And she does (?) what she does. She does her homework, she does everything like any  other child, no special treatment.</p>
            <h4>Is the interpreter volunteer or pushed into it?</h4>
                <p>When Sofie came to school her they used to sit together and they were friends. And you know for at last one child, those young children making friendship something that is quite easy. So because of that, the Madame introduce her into it, because she also thumbled a lot. A person (name mentioned) signed a lot for her. Like now we have a deaf boy who came last year  and you know that  class we still dont have so many who can interprete. But you find that nobody has pushed anybody. They just want to come out individually, to help him, to help this particullar boy. They want him to be associated with that particullar hearing impaired boy.</p>

                <h4>Is this a way of handling the situation you will recommend?</h4>
                <p>I wish we had interpreters who are paid. I wish we should have, but us having such an interpreter, it mean that this child, we dont need to communicate with the interpreter. What about the peers? These children have to learn with their peers, they have to grow up together, they have to fight, they have to play, they have to do everything together. Supposing you employ me  an interpreter at my age and such a young child. You know, it wouldn´t really be. If he does it with a peer it is so much better than doing it with somebody who is not at their age.</p>

                <h4>How do you come out and help these learners f.ex the deaf. Because when they craft she is losing a bit. How do you assist her?</h4>
<p>Normally, like you can see what we already have even at church there. I told you we have a number of teachers who are trained in special needs. All of us did inclusive and in inclusive we have almost all the areas that we covered. So we have those who are developed into us, like in this situation madame who has developed into us in sign language. And at freetime during games she call Sofie and eve nus, we call her and talk to her and gave her extra work she maybe can do during classtime. It has to be done. But for class it was nice, she has to do.</p>

                <h4>What will happen when they complete class eight?</h4>
<p>We are worried about that. We are worried about that and we are even thinking of them  going to the same school. But the problem is: Yes they will go to the same school – what about the after from there? That is the main worry. We handle this till like we handled before. They completed class eight, after that, there is nobody to pich up from there. And some of us we should be secondary teachers too. We bring those children, bring them back to school and may be we should start up vocational training. We long for that. So the seized  children they complete, we bring them here. We even had a visually impaired girl which we proponed very well. She went to head of girl (?) and put her some in between somebody impregnanted her and she disappeared. She dropped out of school. There are also other good projects that we have brought up.

                <br>They are normally separated. When during holidays they are never together. And we can find other days where they are never together. So during this time when they are not together, they are both living their own lifes. That is the xxxx. May be a boarding school were we don´t go home. So they are already that. There are times where they are not together. So our worry is after class eight. That is our worry.
                <br>But to me I wouldn´t mind if maybe Sofie goes to a special school at that level. Because already I attempt her age she comes up in an inclusive set up.
                So at that age maybe for one up to form four. If she goes to maybe a special school she still will be accepted by the community because she is grown up with them. My only worry is is she doesn´t, if she drop out of tht level. For what´s next after dropping out (?). Is she going to be a mother and be living in a terrible community where some people are xxx such a young girl.</p>
            </enable-read-more>

        <h3>Special schools for the deaf students</h3>
        <h4>Students learn sign language as their mother tongue</h4>
        <p>At Uganda school for the Deaf the pupils learn sign language as their mother tongue and english or other as their foreign language. It is impossible to use sign language with spoken language simultaneously; that is why sign language is still a challenge to the learners', education and parents'.</p>
        <h4>Evaluation of deaf students</h4>
        <p>The current National Primary Leaving Examination in Uganda demands the Deaf to be fluent in English before they are graded in a
            given subject, which situation ignores the fact that, learning any second language is influenced by ones mother tongue.</p>
        <p>In their examination regulations "The Uganda National Examinations Board" allows deaf candidates to be guided by sign language
            interpreters and readers who are expected to tape record candidates responses.</p><p>Nevertheless, as a result, majority of the
        deaf adolescents end up failing exams and eventually dropping out of school.</p>

        <p>Video of deaf girl in primary school whose friend interprete. From Kenya. </p>
 <p>Read more about including of deaf children in primary schools in the article:<enable-link href="http://www.tandfonline.com/doi/abs/10.1080/01436597.2011.604523">Including Deaf Children in Primary Schools in Bushenyi, Uganda: a community-based initiative.</enable-link></p>
<h3>Inclusion of students who are hard of hearing in an ordinary class</h3>
<p>If there is a student who is hard of hearing in your class, you should be aware of these adaptions of  the classroom environment:</p>
<ul>
<li>The sitting arrangement</li>
<li>Put light on the face of the  person who talks, backlight should be avoided</li>
<li>Be shure you get the child´s attention</li>
<li>Adjust your vocabulary</li>
<li>Show your face</li>
<li>Use various communication modes</li>
<li>The students should speak one at a time</li>
</ul>

    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
