<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here" title="Inclusion or segregation"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <enable-quick-question e-question="Did you know...?" e-answer="Did you know that although education of the deaf is now a right in Uganda, but only 10% of the hearing impaired children are enrolled for the primary education."></enable-quick-question>
<p>90 % of deaf children and youngsters in Uganda are not offered eduaction. How will their future be? The society becomes more and more independent of citizens who are well educated and hearing impaired citizens are a resource for the community which should be used. The education of hearing impaired children can be done in two ways, either in a special school or hey can be included in an ordinary class together with hearing students. There are advantages and disadvantages to both education systems. Which education system is the best for the child?</p>
<p>Read more about <enable-link href="http://www.tandfonline.com/doi/abs/10.1080/01436597.2011.604523">including deaf children in primary schools</enable-link> in this article.</p>
<h3>Inclusion of deaf students in an ordinary class</h3>
<p>Video of deaf girl whose friend interprete. From Kenya. What are the advantages and disadvantages for the deaf girl? What are the advantages and disadvantages for the girl who interpret?</p>   
   
<h3>Inclusion of students who are hard of hearing in an ordinary class</h3>
<p>If there is a student who is hard of hearing in your class, these precautions should be taken:</p>

<h3>Special schools for the deaf students</h3>
 <h4>Students learn sign language as their mother tongue</h4>
        <p>Sign language is a visual and gestural language based on the use of hands, eyes, face, mouth and body. It is visual language expressed with eye movement as well as facial expression. At Uganda school for the Deaf the pupils learn sign language as their mother tongue and english or other as their foreign language. It is impossible to use sign language with spoken language simultaneously; that is why sign language is still a challenge to the learners', education and parents'.</p>
<h4>Evaluation of deaf students</h4>
<p>The current National Primary Leaving Examination in Uganda demands the Deaf to be fluent in English before they are graded in a given subject, which situation ignores the fact that, learning any second language is influenced by ones mother tongue.</p><p>As a result, majority of the Deaf adolescents end up failing exams and eventually dropping out of school.</p>   
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
