<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here" title="Preparation for adulthood"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
         <h3>Vocational training for deaf students</h3>
        <enable-video vididlc="Vocational training deaf students" vididyt="XcyaN7ayLkE" cclang="en" localmode="localmode"></enable-video>
    <p>The Uganda School for the Deaf offers primary education with pre-vocation skills in Carpentry, Tailoring, Home Sciences, and Agricultural Practice.</p>
    <enable-video vididlc="Deaf students make sandwiches" vididyt="2OI3-qMk_1I" cclang="en" localmode="localmode"></enable-video>
     
         
       </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
