<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here" title="Inclusion or segregation"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
       
<h3>Education for All</h3>
 <div layout="row" layout-margin>
            <div style="width: 30%" padding="5"><enable-image picname="EFA.jpg" picalt="Education for All" ></div>
            <div style="width: 70%"><p>Uganda, Kenya and Tanzania have all signed the declaration "The Dakar Framework for Action, Education for All".<br>Goal number 2 (of 6) in this framework mentions that children with special needs and other marginalized groups, should be given the opportunity to complete a good quality primary education.<br>The comment according to the second goal says:<br> "Education systems must be inclusive, actively seeking out children who are not enrolled,
and responding flexibly to the circumstances and needs of all learners."
<br>Download<enable-link href="http://unesdoc.unesco.org/images/0012/001211/121147e.pdf">The Dakar Framework for Action</enable-link></p></div>
</div>

 <enable-quick-question e-question="Did you know...?" e-answer="Did you know that although education of the deaf is now a right in Uganda, only 10% of the hearing impaired children are enrolled for the primary education."></enable-quick-question>
<p>In Uganda 90 % of deaf children are not offered eduaction.<br>How will their future be?<br>The society becomes more and more independent of citizens who are well educated and hearing impaired citizens are a resource for the community which should be used. The education of hearing impaired children can be done in two ways, either in a special school or the students can be included in an ordinary class together with hearing students. There are advantages and disadvantages to both education systems.</p>
<enable-grey-box >Which education system is the best for the child, the inclusive class or the special school?</enable-grey-box>
<h3>Inclusion of deaf students in an ordinary class</h3>
   
 <p>Video of students in secondary school who learn crafts. One hearing student interpret what is said.</p>
   <enable-video vididlc="Vocational training for deaf in secondary school" vididyt="sT2OagpoOhg" cclang="en" localmode="localmode"></enable-video>
 <p>Video of deaf girl in primary school whose friend interprete. From Kenya. What are the advantages and disadvantages for the deaf girl? What are the advantages and disadvantages for the girl who interpret?</p>
 <p>Read more about including of deaf children in primary schools<enable-link href="http://www.tandfonline.com/doi/abs/10.1080/01436597.2011.604523">in this article</enable-link>.</p>  
<h3>Inclusion of students who are hard of hearing in an ordinary class</h3>
<p>If there is a student who is hard of hearing in your class, you should be aware of these adaptions of  the classroom environment:</p>
<ul>
<li>The sitting arrangement</li>
<li>Backlight of the person who talks should be avoided</li>
<li>Be shure you get the child´s attention</li>
<li>Adjust your vocabulary</li>
<li>Show your face</li>
<li>Use various communication modes</li>
<li>The students should speak one at a time</li>
</ul>
<h3>Special schools for the deaf students</h3>
 <h4>Students learn sign language as their mother tongue</h4>
        <p>Sign language is a visual and gestural language based on the use of hands, eyes, face, mouth and body. It is visual language expressed with eye movement as well as facial expression. At Uganda school for the Deaf the pupils learn sign language as their mother tongue and english or other as their foreign language. It is impossible to use sign language with spoken language simultaneously; that is why sign language is still a challenge to the learners', education and parents'.</p>
<h4>Evaluation of deaf students</h4>
<p>The current National Primary Leaving Examination in Uganda demands the Deaf to be fluent in English before they are graded in a given subject, which situation ignores the fact that, learning any second language is influenced by ones mother tongue.</p>
<p>In their examination regulations "The Uganda National Examinations Board" allows deaf candidates to be guided by sign language interpreters and readers who are expected to tape record candidates responses.</p><p>Nevertheless, as a result, majority of the deaf adolescents end up failing exams and eventually dropping out of school.</p>
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
