<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here" title="Preparation for adulthood"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
         <h3>Vocational training for deaf students</h3>
        <p>The Uganda School for the Deaf offers primary education with pre-vocation skills in carpentry, tailoring, home sciences, and agricultural practice for students who don't fit well in the academic classes.<br> One intention of the pre-vocation training is to give them skills for further vocational training so the students can get employment in the future.</p>
    <enable-video vididlc="Vocational training deaf students" vididyt="XcyaN7ayLkE" cclang="en" localmode="localmode"></enable-video>
    <h4>Production of sandwiches</h4>
    <p>Many parents don't know how to communicate with their deaf child. They ask their their hearing children do domestic chores, but not the deaf child. The result is that deaf children lack skills i domestic chores.The students in this video learn to make sandwiches.<br>They can maybe make an income by selling sandwiches?</p>
    <enable-video vididlc="Deaf students make sandwiches" vididyt="2OI3-qMk_1I" cclang="en" localmode="localmode"></enable-video>
     
         
       </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
