<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here" title="Preparation for adulthood"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
         <h3>Vocational training for deaf students</h3>
        <enable-video vididlc="Vocational training deaf students" vididyt="XcyaN7ayLkE" cclang="en" localmode="localmode"></enable-video>
    <p>The objective is to improve services for Deafblind children and young adults through development of a training program at Kyambogo University in cooperation with Sense International East Africa. In 2011 a baseline study was conducted by an expert of the Royal Dutch Kentalis to start developing the curriculum and a training program for the student trainers of the University. A competence profile was created and based on this profile two senior lecturers of the Kyambogo University followed a three month practical training at Kentalis in the Netherlands. Part of their training was a four week theoretical course ‘Introduction in Communication with people with Congenital Deafblindness’ at the Groningen University under supervision of Kentalis.</p>
    <enable-video vididlc="Deaf students make sandwiches" vididyt="2OI3-qMk_1I" cclang="en" localmode="localmode"></enable-video>
     
         
       </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
