<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="teachingsign.jpg" picalt="Banner image description comes here"
                           title="Other modalities of communication"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <h2>Total communication</h2>

        <p>Total communication (TC) is an approach to deaf education that aims to make use of a number of modes of communication depending on the particular needs and abilities of the child.<br>Source: Wikipedia.<br><br>
            TC is rather a philosophy than a methodology. Therefore the implementation of the philosophy with one
            child may look entirely different than its implementation with another child.<br><br>The modalities of communication can be:</p>

        <ul><li>Formal signs</li>
            <li>Natural gestures</li>
            <li>Fingerspelling</li>
            <li>Gestures </li>
            <li>Body language</li>
            <li>Written text</li>
            <li>Visual aids</li>
            <li>Listening</li>
            <li>Lipreading</li>
            <li>Speech</li>
        </ul>
        <p>Since TC is depending on the particular needs of the child, the challenge is to find the communication method(s) most appropriate for a particular child at a particular stage of development.
            There would be situations when spoken communication might be appropriate, other situations where signing might be appropriate, others that would call for written communication, and
            still others where simultaneous communication might work best.<br>Source: Access for all. Solit, Taylor & Bednarczyk, 1992.</p>
        <h4>The benefits of a total communication approach</h4>
        <p>TC allows a variety of combinations it can open all avenues and modes of communication for the deaf child. If the effectiveness of communication is more important than the form it takes,
            then TC is beneficial because it allows the child to use the form that is best for him in any given situation (Pathways for exceptional children. Kaplan, 1996). By using a total approach of speaking and signing, all
            members of the family, those who are deaf as well as those who are hearing, have continuous access to the communication occurring in their environment (A resource manual of deafness. Baker, 1992). </p>
        <h4>The limitations of a total communication approach</h4>
        <p>TC often becomes a simultaneous practice of combining signs and fingerspelling with spoken components. Since simultaneous communication by spoken language and sign language uses a
            different grammar and syntax, it becomes a form of pidgin sign language.</p>
        <p>Based on this background, the following questions can be asked:</p>
        <ul><li> Will the child see a good representation of the spoken word or sign language or will the child see only poor examples of broken languages if the teacher or a parent compromise
            between the two methods?</li>
            <li> Will manually coded speech leads to better reading and writing scores in the classroom?</li>
        </ul>
        <br>
        <h2>Bilingualism</h2>
        <enable-grey-box><p>Bilingual education is the only way for deaf children to gain equal opportunities and allowing them to become full citizens in their own right.</p></enable-grey-box>
        <p>According to
            <enable-link href="http://www.eud.eu/files/8514/5803/7674/brussels_declaration_FINAL.pdf">The Brussels Declaration on Sign Languages</enable-link> becoming bilingual in the national
            sign language and the written language of one’s country of residence is a fundamental right for deaf children. National sign languages are the mother tongues of deaf people and the
            only language they can acquire fully and effortlessly. To function in society it is essential for deaf children to become proficient in the respective (written) language of the country.
            Becoming bilingual in the national sign language and the written language of one’s country of residence is a basic human right for deaf children in education.</p>
        <enable-quotebox e-type="quote">There is no research supporting claims that learning sign language would interfere with speech development. On the contrary it enhances language acquisition.</enable-quotebox>

        <div layout="row" layout-margin>
            <div style="width: 55%"></div>

            <div style="width: 45%"><p>Dr. Peter C. Hauser from the Rochester Institute of Technology, USA</p></div>
        </div><p>Hear Dr. Joseph Valente talking about the importance of bilingualism for deaf children, "Hearing the unheard" at TEDx.</p>
        <enable-video vididlc="bilingualism" vididyt="aqV_MjKliW0" cclang="en" localmode="localmode"></enable-video>

    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
