<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here" title="Sign language"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <h4>Introducing sign language to preschool-children</h4>
        <enable-video vididlc="Deaf children learning signs" vididyt="UwRZgrTeT74" cclang="en" localmode="localmode"></enable-video>
        <p>First the children imitate the teachers movement and copy them. Then they learn new concepts and signs through fysical acticities. New signs are presented in different representations; as physical objects, as drawings and as written words.</p>
       
        <p>Sam about the development of sign language in Uganda</p>
        
        <h3>Signing and voicing</h3>
         <enable-video vididlc="Interpreters learning sign language" vididyt="-VoZZJZrhDY" cclang="en" localmode="localmode"></enable-video>
        
      
        <enable-quotebox e-type="quote">To be a good interpreter, first of all is to know yourself.</enable-quotebox>
          <h6 align="right">Proscovia Suubi Nantongo,<br>Lecturer, Kyambogo University</h6>
          <div layout="row" layout-margin>
            <div style="width: 80%"></div>
            <div style="width: 20%"><enable-image picname="prossy.jpg" picalt="Proscovia Suubi Nantongo"></enable-image><h6>Proscovia Suubi Nantongo/h6>,<br><h6>Lecturer, Kyambogo University</h6></div>
          <h4>Criteria for being a good interpreter</h4>
          <p>"What your limitations are and what your strengths are. When you are sure of the voice you have, then the knowledge of the signs will be another advantage. So we normally want the interpreters to know themselves: what are they as a strength.</p> <p>Then you should be able to be fruitful to yourself, that I am doing what this person cannot do. Because if you misinterpret a client, sometimes it is not a good practice at all. So you should be fruitful and be able to tell the client that - I did not understood you, can you repeat what you are saying-.</p> <p>A good interpreter be able to listen attentively, should be able to voice out, should be able to cooperate with the co-interpreters and also cooperate with the clients."</p>
        <br>
        <h4>Important issues when interpreting to sign language</h4>
        <p>"In this class what is important is that the interpreter has the confidence to voice out loudly, loud enough for 
        the audience to hear. And that the interpreter is able to put himself or herself into the shoes of the signer, because 
        they act like the voices as those who do not have the voice.</p><p>But they also be mindful of the culture, because sign 
        language and spoken language are very different. So they should be able to put in, spice the signs with the culture of 
        the spoken language.</p><p>They using paralinguistic features, they should be mindful of the intonation, they should be 
        mindful over the quality of the voice. The quality will also include the intonation, the pauses and of cause they 
        have to be knowledgeable of what signs… what particular words is suitable for particular signs."</p>
        <h4>Confusion produced when speech and sign language are combined</h4>
        <p>When we are teaching interpreters we bring(?) different deaf persons, those who are deafen at later age and those who are born deaf. You find that most interpreters find it easy to interpret for the deaf persons who have speech because they combine their signs with the speech. But they find it hard when somebody has completely no speech. But it is sometimes very confusing if somebody is speeching and signing, because then your voice, his or her voice they run together. So it really depends. But in this program we encourage even those who have no sign language background to join the course and we see that both of them are competing very well. So we have the chance to take the students to the deaf community where they experience both groups of deaf persons.</p>
        
        <div layout="row" layout-margin>
            <div style="width: 35%"><enable-image picname="prossy.jpg" picalt="Proscovia Suubi Nantongo"></enable-image></div>
            <div style="width: 65%"><p>Proscovia Suubi Nantongo,<br>Lecturer, Kyambogo University</p></div>
        </div>
        
       
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
