<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="olderboys2heading.jpg" picalt="Banner image description comes here" title="Introduction"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <h4>The main ways of communication</h4>
        <p>Deaf people and people who are hard of hearing communicate differently. While the main way of communication for deaf people is sign language, is voice amplified with hearing aids and lip reading most important for people which is heard of hearing.</p>
        <enable-slideshow path="slideshow4"></enable-slideshow>
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
