<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here" title="Sign language"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <h4>Introducing sign language to preschool-children</h4>
        <enable-video vididlc="Deaf children learning signs" vididyt="UwRZgrTeT74" cclang="en" localmode="localmode"></enable-video>
        <p>The childrem imitate the teachers movement and copy teh teachers movement. </p>
        <ul><li>Learning concepts and signs through fysical acticity</li>
        <li>Students learning sign language</li>
        <ul><li>Important issues when interpreting </li>
        <li>Criteria for a good interpreter</li></ul>
        <li>The development of sign language in Uganda</li>
        </ul>
        <h3>Interpretation</h3>
       
        <h4>Important issues when interpreting to sign language</h4>
        <p>In this class what is important is that the interpreter has the confidence to voice out loudly, loud enough for 
        the audience to hear.  And that the interpreter is able to put himself or herself into the shoes of the signer, because 
        they act like the voices as those who do not have the voice. But they also be mindful of the culture, because sign 
        language and spoken language are very different.  So they should be able to put in, spice the signs with the culture of 
        the spoken language. They using paralinguistic features, they should be mindful of the intonation, they should be 
        mindful over the quality of the voice. The quality will also include the intonation, the pauses and of cause they 
        have to be knowledgeable of what signs… what particular words is suitable for particular signs.</p>
        <h5>Proscovia Suubi Nantongo, Lecturer Kyambogo University</h5>
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
