<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here" title="Sign language"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <h4>Introducing sign language to preschool-children</h4>
        <enable-video vididlc="Deaf children learning signs" vididyt="UwRZgrTeT74" cclang="en" localmode="localmode"></enable-video>
        <p>First the children imitate the teachers movement and copy them. Then they learn new concepts and signs through fysical acticities. New signs are presented in different representations; as physical objects, as drawings and as written words.</p>
        <ul><li> </li>
        <li>Students learning sign language</li>
        <ul><li>Important issues when interpreting </li>
        <li>Criteria for being a good interpreter</li></ul>
        <li>The development of sign language in Uganda</li>
        </ul>
        <h3>Signing and voicing</h3>
         <enable-video vididlc="Interpreters learning sign language" vididyt="-VoZZJZrhDY" cclang="en" localmode="localmode"></enable-video>
       
        <h4>Important issues when interpreting to sign language</h4>
        <p>"In this class what is important is that the interpreter has the confidence to voice out loudly, loud enough for 
        the audience to hear. And that the interpreter is able to put himself or herself into the shoes of the signer, because 
        they act like the voices as those who do not have the voice.</p><p>But they also be mindful of the culture, because sign 
        language and spoken language are very different. So they should be able to put in, spice the signs with the culture of 
        the spoken language.</p><p>They using paralinguistic features, they should be mindful of the intonation, they should be 
        mindful over the quality of the voice. The quality will also include the intonation, the pauses and of cause they 
        have to be knowledgeable of what signs… what particular words is suitable for particular signs."</p>
        <h4>Criteria for being a good interpreter</h4>
        <p>"To be a good interpreter, first of all is to know yourself. What your limitations are and what your strengths are. When you are sure of the voice you have, then the knowledge of the signs will be another advantage. So we normally want the interpreters to know themselves: what are they as a strength.</p> <p>Then you should be able to be fruitful to yourself, that I am doing what this person cannot do. Because if you misinterpret a client, sometimes it is not a good practice at all. So you should be fruitful and be able to tell the client that - I did not understood you, can you repeat what you are saying-.</p> <p>A good interpreter be able to listen attentively, should be able to voice out, should be able to cooperate with the co-interpreters and also cooperate with the clients."</p>
        <h5 align="right">Proscovia Suubi Nantongo,<br>Lecturer Kyambogo University</h5>
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
