<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="writeaheading.jpg" picalt="Banner image description comes here" title="Impact of hearing loss"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
     <h3>Functional impact</h3>

          <div layout="row" layout-margin>
            <div style="width: 30%"><enable-image picname="me.jpg" picalt="Deaf boy pointing"></div>
            <div style="width: 5%"></div>
            <div style="width: 65%"><p>One of the main impacts of hearing loss is on the individual’s ability to communicate with others. Spoken language development is often delayed in children with deafness.
Hearing loss and ear diseases such as otitis media can have a significantly adverse effect on the academic performance of children.<br>However, when opportunities are provided for people with hearing loss to communicate, they can participate on an equal basis with others. The communication may be through spoken/-written language or through sign language.</p></div>
          </div>

<h3>Social and emotional impact</h3>
<p>Limited access to services and exclusion from communication can have a significant impact on everyday life, causing feelings of loneliness, isolation and frustration, particularly among older people with hearing loss.

If a person with congenital deafness has not been given the opportunity to learn sign language as a child, he or she may feel excluded from social interaction.</p>
<h3>Economic impact</h3>
<p>In developing countries, children with hearing loss and deafness rarely receive any schooling. Adults with hearing loss also have a much higher unemployment rate. Among those who are employed, a higher percentage of people with hearing loss are in the lower grades of employment compared with the general workforce. Improving access to education and vocational rehabilitation services, and raising awareness especially among employers about the needs of people with hearing loss, would decrease unemployment rates among this group.</p>
<p>In addition to the economic impact of hearing loss at an individual level, hearing loss substantially affects social and economic development in communities and countries.</p>
<p>(Source: <enable-link href="http://www.who.int/mediacentre/factsheets/fs300/en/">WHO</enable-link>)</p>    
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
