<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="writeaheading.jpg" picalt="Banner image description comes here"
                           title="Impact of hearing loss"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">

        <h3>Functional impact</h3>
        <div layout="row" layout-margin>
            <div style="width: 30%">
                <enable-image picname="me.jpg" picalt="Deaf boy pointing">
            </div>
            <div style="width: 5%"></div>
            <div style="width: 65%"><p>One of the main impacts of hearing loss is on the individual’s ability to
                communicate with others. Spoken language development is often delayed in children with deafness.
                Hearing loss and ear diseases such as otitis media can have a significantly adverse effect on the
                academic performance of children.<br>However, when opportunities are provided for people with hearing
                loss to communicate, they can participate on an equal basis with others. The communication may be
                through spoken/-written language or through sign language.</p></div>
        </div>
        <h3>CODA - Children Of Deaf Parents</h3>
        <p>Approximately 90% of the children born to deaf parents are hearing. Since sign language is the preferred way of
            communication in families where the parents are deaf and the children are hearing, the network around them may be
            concerned that the children get too little spoken language stimulation.<br>In today's society, it is usually an
            unfounded concern. The fact that the child learns both sign language and the oral language should be viewed
            as a benefit. Multilingualism is positive for cognitive development, including in terms of developing concepts
            and creativity.</p>
        <p>Read more about
            <enable-link href="https://elt502ciu.wikispaces.com/file/view/Introducing+Second+Language+Acquisition.pdf">Second
                Language Acquisition.</enable-link></p>
<p>Children who develop multiple languages simultaneously will at times mix languages. At any given time it can vary which of
    the languages that are dominant. But the fact that the child learns the linguistic term for a term in one language
    before the other is quite natural. If the child alternates between the languages is called code-switching and there is
    no cause for concern. On the contrary, it testifies to a high degree of mastery of the language when they are able to
    utilize their entire language skills.</p>
        <h4>Social conventions</h4>
        <p>Hearing children of deaf parents grow up in homes with visual communication. They are accustomed to other forms
            of contact than hearing children. Children who are accustomed to visual communication from an early age,
            often need eye contact when they talk with others. Lack of eye contact may cause that the child ignore or do
            not perceive messages.<br>At home children are used to having you contact by touching each other lightly on the
            arm, stomp the floor, blinking the lights or tapping the table. This may be unusual, but it is not unusual -
            it's just a little different. Parents can not always explain what sounds mean, here you can school contribute
            both correction and explanation.<br>Parents, school staff and other residents in the child's network can reflect
            on and discuss on the different social conventions together with the kid. This will be an important contribution
            so the kid can practice listening without seeing, and be conscious of the social conventions and sounds that are
            culturally accepted in the two cultures in which they live.</p>
        <h4>Homework</h4>
        <p>Deaf parents may well help their children with homework, but like parents in general there may be some parents
            who experience certain subjects as difficult. Many deaf people have the local oral and written language as their
            second language and may have a strained relationship with it. If the parents have little or no residual hearing,
            it can be hard to hear children in homework. Here, older siblings or others in the family networks help, or that
            agreements are reached an arrangement with homework.</p>
        <p>Source:
            <enable-link href="http://www.coda-norge.no/?page_id=164">CODA Norge.</enable-link></p>

        <p>More resources about
            <enable-link href="http://www.codaukireland.co.uk/resources.html">CODA.</enable-link></p>
        <h3>Social and emotional impact</h3>

        <p>Limited access to services and exclusion from communication can have a significant impact on everyday life,
            causing feelings of loneliness, isolation and frustration, particularly among older people with hearing
            loss.

            If a person with congenital deafness has not been given the opportunity to learn sign language as a child,
            he or she may feel excluded from social interaction.</p>

        <h3>Economic impact</h3>

        <p>In developing countries, children with hearing loss and deafness rarely receive any schooling. Adults with
            hearing loss also have a much higher unemployment rate. Among those who are employed, a higher percentage of
            people with hearing loss are in the lower grades of employment compared with the general workforce.
            Improving access to education and vocational rehabilitation services, and raising awareness especially among
            employers about the needs of people with hearing loss, would decrease unemployment rates among this
            group.</p>

        <p>In addition to the economic impact of hearing loss at an individual level, hearing loss substantially affects
            social and economic development in communities and countries.</p>

        <p>(Source:
            <enable-link href="http://www.who.int/mediacentre/factsheets/fs300/en/">WHO</enable-link>
            )
        </p>
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
