<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here" title="Sexuality"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <enable-video vididlc="Information about sexual issues for deaf students" vididyt="viFMjSzrI6o" cclang="en" localmode="localmode"></enable-video>
      <p>Nancy Katumba Muwangala volunteers to teach deaf children about their sexual health. Most of the deaf children don’t get this information from their parents. Many parents are embarrassed to talk about these issues. And even if they want to talk about it, they might not know how to communicate with their deaf child. This makes it really difficult for the deaf children to learn how to behave when it comes to sexual issues. </p>

<p>Without knowledge about their own sexuality and limits they could be an easy prey for rapists. Deaf children who are raped also have a hard time explaining to their parents and even the police about what they have been exposed to. And even if they are able to explain it, the police often do not take these issues serious. This is a big problem, but getting a proper education could make the deaf children better prepared and able to explain if something should happen. </p>
	
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
