<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="sexuality.jpg" picalt="Banner image description comes here" title="Sexuality"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <div layout="row" layout-margin>

            <div style="width: 80%"><enable-quotebox e-type="quote">If the mother or father don't talk to their children, who will?</enable-quotebox></div>

            <div style="width: 20%"><br><br><br><enable-image picname="nancy.jpg" picalt="Nancy K. Muwangala"></enable-image><h6>Nancy K. Muwangala,<br>Lecturer and voluntary, Kyambogo University</h6></div>

        </div>
        <enable-video local-filename="" local-poster="" local-subtitles="" youtube-id="viFMjSzrI6o"></enable-video>
      <br>

      <h2>Information about sexual issues for deaf students</h2>
      <p>Nancy Katumba Muwangala volunteers to teach deaf children about their sexual health. Most of the deaf children don’t get this information from their parents. Many parents are embarrassed to talk about these issues. And even if they want to talk about it, they might not know how to communicate with their deaf child. This makes it really difficult for the deaf children to learn how to behave when it comes to sexual issues. </p>

<p>Without knowledge about their own sexuality and limits they could be an easy prey for rapists. Deaf children who are raped also have a hard time explaining to their parents and even the police about what they have been exposed to. And even if they are able to explain it, the police often do not take these issues serious. This is a big problem, but getting a proper education could make the deaf children better prepared and able to explain if something should happen. </p>

        <div layout="row" layout-margin>

            <div style="width: 70%"><enable-slideshow path="slideshow9"></enable-slideshow></div>
            <div style="width: 30%"></div>

        </div>

        <br><br>
        <h4>In many schools you will find posters and signs telling what to do and what to avoid.</h4>
        <br>
        <ul>
            <li><p>What do you think about such communication in school yards?</p></li>
        <li><p>What age do you think it´s intended for?</p></li>
        </ul>
    </div>


    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
