<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here" title="Recreation and leisure"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
     <p>Picture in the heading: Children playing football.</p>
      <enable-quotebox e-type="quote">Here! Kick the ball over to my side!</enable-quotebox>
     
     <p>From where did the sound came?</p>
     <p>For people with one-sided (unilateral) hearing loss it is not easy to decide. Sound localization is one of the challenges related to unilateral hearing loss. Other challenges can be:</p>
     <ul><li>Evaluation of the distance to the audio input.</li>
     <li>Speech intelligibility from the side with hearing loss</li>
     <li>Speech perception and communication in noisy environments</li>
     </ul>
     <enable-grey-box >Having unilateral hearing loss will mean to have a hearing loss in one ear and normal hearing in the other.</enable-grey-box>
     <p>When there is a big difference between hearing the left and right ears , the processing of audio signals from the side with hearing loss can often be reduced . One may find that the audio signals coming into the side with hearing loss , are not used . This is a dynamic that person does not govern themselves.</p>
      <div layout="row" layout-margin>
            <div style="width: 52%"><enable-slideshow path="slideshow5"></enable-slideshow></div>
            <div style="width: 3%"></div>
            <div style="width: 45%"><p>New text. New text. New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.</p></div>
          </div>

    <br>
    <div layout="row" layout-margin>
            <div style="width: 52%"><enable-slideshow path="slideshow6"></enable-slideshow></div>
            <div style="width: 3%"></div>
            <div style="width: 45%"><p>The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.v</p></div>
          </div>
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
