<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="fotball2.jpg" picalt="Boys plying footbal" title="Recreation and leisure"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
     <p>Picture in the heading: Children playing football.</p>
      <enable-quotebox e-type="quote">Here! Kick the ball over to my side!</enable-quotebox>
     <h4>Where did the sound came from?</h4>
     <p>For people with unilateral hearing loss it is not easy to locate the sound. Sound localization is one of the challenges related to unilateral hearing loss.</p><ul><li>Localization is important when listening in groups of people. It helps direct us to who is talking at any moment. If a child takes longer to identify who is talking, he or she may miss some of the message.</li><li>Localization is also important for safety. If a child is near the street, he or she may have trouble localizing a horn.</li></ul>
     <p>Other challenges can be:</p>
     <ul><li>Evaluation of the distance to the audio input.</li>
     <li>Speech intelligibility from the side with hearing loss</li>
     <li>Speech perception and communication in noisy environments. Two normal hearing ears help us to filter out noise to better hear speech.</li>
     </ul>
     <enable-grey-box >Having unilateral hearing loss will mean to have a hearing loss in one ear and normal hearing in the other.</enable-grey-box>
     <p>When there is a big difference between hearing the left and right ears , the processing of audio signals from the side with hearing loss can often be reduced . One may find that the audio signals coming into the side with hearing loss , are not used . This is a dynamic that person does not govern themselves.</p>
     <h4>Unilateral hearing loss and the development of the child</h4>
     <p>A child is in the process of developing language and cannot make a guess or "fill in the gaps" about what he or she didn't understand.</p>
      <p>Your child's unilateral hearing loss will not keep him or her from learning to talk. However, some children with UHL have been found to have delays in their speech and language development. We do not yet know why some children have difficulties and others do not. There are many ways you can help your child now. Being aware of typical language development, being a good speech and language model for your child, and being aware of your child's listening environment will help. Below are some specific ideas:

<p>Be aware of where your child's "normal" hearing ear is facing. Think about this when you are feeding your child or if he or she is at the dinner table, in the car, etc. It is best if your child is facing the person speaking or if his or her normal hearing ear is facing the person.
Make eye contact when speaking to your child.
Talk about your daily routine (e.g., "I'm making a sandwich right now").
Use repetition and expand your child's vocabulary by introducing new words (e.g., "terrific" instead of "good").
Play listening games with your young child (e.g., "I hear the telephone ring").
Get your child's attention before talking to him or her. This way, he or she will not miss any of the intended message.
Help your child localize sound if he or she appears to be having difficulty.
Look for cues that your child understands what you are saying.
Make sure your child puts the phone to his or her good ear.
Raise your voice slightly and face him or her when you are at a greater distance (in the car, walking child in stroller) and try not to give directions from another room.</p>http://www.asha.org/public/hearing/Unilateral-Hearing-Loss-in-Children/#4</p>
      <div layout="row" layout-margin>
            <div style="width: 52%"><enable-slideshow path="slideshow5"></enable-slideshow></div>
            <div style="width: 3%"></div>
            <div style="width: 45%"><p>New text. New text. New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.</p></div>
          </div>

   
          </div>
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
