<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here" title="Recreation and leisure"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
     <p>Picture in the heading: Children playing football.</p>
      <enable-quotebox e-type="quote">Here! Kick the ball over to my side!</enable-quotebox>
     <p>Where did the sound came from?</p>
     <p>For people with unilateral hearing loss it is not easy to locate the sound. Sound localization is one of the challenges related to unilateral hearing loss.</p><ul><li>Localization is important when listening in groups of people. It helps direct us to who is talking at any moment. If a child takes longer to identify who is talking, he or she may miss some of the message.</li><li>Localization is also important for safety, if the child is near the street, he or she may have trouble localizing a horn.</li></ul>
     <p>Other challenges can be:</p>
     <ul><li>Evaluation of the distance to the audio input.</li>
     <li>Speech intelligibility from the side with hearing loss</li>
     <li>Speech perception and communication in noisy environments. Two normal hearing ears help us to filter out noise to better hear speech.</li>
     </ul>
     <enable-grey-box >Having unilateral hearing loss will mean to have a hearing loss in one ear and normal hearing in the other.</enable-grey-box>
     <p>When there is a big difference between hearing the left and right ears , the processing of audio signals from the side with hearing loss can often be reduced . One may find that the audio signals coming into the side with hearing loss , are not used . This is a dynamic that person does not govern themselves.</p>
     <h4>Unilateral hearing loss and child development</h4>
     <p>A child is in the process of developing language and cannot make a guess or "fill in the gaps" about what he or she didn't understand.</p>
      <div layout="row" layout-margin>
            <div style="width: 52%"><enable-slideshow path="slideshow5"></enable-slideshow></div>
            <div style="width: 3%"></div>
            <div style="width: 45%"><p>New text. New text. New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.New text.</p></div>
          </div>

    <br>
    <div layout="row" layout-margin>
            <div style="width: 52%"><enable-slideshow path="slideshow6"></enable-slideshow></div>
            <div style="width: 3%"></div>
            <div style="width: 45%"><p>The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.The alphabeth. Letter A,K, Y and Z.v</p></div>
          </div>
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
