<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here" title="Hearing aids"></enable-section-header>
    <div layout-padding layout="column" class="partialContent">
    <enable-quotebox e-type="quote">About 20% of people with hearing loss would benefit from devices such as hearing aids and cochlear implants</enable-quotebox>
    <enable-slideshow path="slideshow2"></enable-slideshow>
    <h3>Limitations of hearing aids</h3>
    <p>The hearing aid is a sophisticated audio amplifier which to some extent can compensate for hearing loss. Since hearing 
    loss is individual, hearing aid must be adapted to each user.</p><p>The hearings aid amplifiers not all sounds like a lot, 
    but emphasizes the sounds that the user has difficulty perceiving. But the soundscape emanating from the hearing aid is not 
    as clearly as the soundscape as a person with normal hearing experience. Hearing aid users should therefore get used to the 
    sound image from the instrument and learn how to interpret this.</p> 
    <enable-quotebox e-type="quote">Since hearing loss is different and is compensated 
    differently, the sound experienced will be different for each indidual.</enable-quotebox>
    .
    <p>A hearing aid will not provide you the normal hearing function back, still many "Hard of hearing"- people will have great help of a hearing aid can provide. It takes time to adjust to wearing hearing aids because one must learn to listen in a new way. Hearing aids amplify sounds will not have heard in a long time, or maybe never heard. In the beginning it is recommended that you become familiar with the daily sounds and where they come from. Initially, the sounds could be heard unfamiliar, but you will gradually get used to them. By talking or reading aloud to himself one becomes accustomed to his own voice. Eventually you can go to quiet places, outside the home - a park or forest and listen to the sounds there. Places with traffic noise should be avoided, for it can be experienced very noisy at first.

Conversation with others.
Initially used hearing aid when you talk to a famous person. Let the conversation take place in a quiet place, tell you the hearing and ask the others to talk in normal tone of voice. It is important that you sit or stand so that one sees the face of the speaker. See Tips for queries

Eventually one can try to participate in talks under more noisy conditions. Then you will be able to find out in which situations hearing aid works best.</p>
    <h4>People with hearing loss can benefit from:</h4>
    <ul>
        <li>hearing aids</li>
    <li>cochlear implants</li>
    <li>other assistive devices</li>
    <li>captioning</li>
    <li>sign language</li>
    <li>other forms of educational and social support</li>
       <p>CONTENT</p>  
      <ul><li>Testing and production of hearing aids.</li>
       <ul><li>Description of audiogram.</li>
       <li>Simulation of loss of hearing</li>
       <li>Tips and advices of how to manage hard of hearing.</li>
       <li>Losing sense of direction.</li>
       
       </ul>
       <li>Cochlear implant.</li>
       </ul>
       
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
