<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here" title="Organisations for persons with hearing impairments"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
     <h3>Uganda</h3>
      <ul><li><p>United Deaf Women Organisation (UDEWO)</p>
      <p>UDEWO is a non government, non political and non profit organization that works to promote the rights of deaf women and girls in Uganda.</p>
<enable-read-more label="Read more about UDEWO"><p>The objective for UDEWO is to improve the standard of living of Deaf women and girls in socio economic aspects of life through:</p>
<ul>
<li>Building their capacity to advocate for their rights</li>
<li>Advocating for their education</li>
<li>Improving their communication skills with those of key stakeholders like parents, policy makers/implementers and service providers.</li>
<li>Initiating income generating projects and saving credit schemes for their self-reliance</li>
<li>Advocate for their purposeful mainstreaming and full participation in moral, cultural, spiritual, political and other good affairs in the country.</li>
<li>Conducting trainings in reproductive health and HIV/AID and other sexually transmitted sickness.</li>
</ul>
<p>Read more about <enable-link href="http://udewoug.org/">UDEWO</enable-link>.</p></enable-read-more>
</li>
<li><h4>Deaf Link Uganda</h4>
<p>Read more about <enable-link href="http://www.deaflinkuganda.org/">Deaf Link Uganda</enable-link>.</p></enable-read-more></li>
</ul>

	
    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
