<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here" title="Laws and policies"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">
        <h4>UN Standard Rules on the Equalization of Opportunities for Persons with Disabilities </h4>
        <enable-quotebox e-type="quote">The Standard Rules represent a strong moral and political commitment of Governments to take action to attain equalization of opportunities for persons with disabilities.</enable-quotebox>
        <p>The 22 rules from 1993 focus on <strong>"Preconditions for Equal Participation"</strong>, <strong>"Target Areas for Equal Participation"</strong> and <strong>"Implementation Measures"</strong>.</p>
        <p> They serve as an instrument for policy-making and as a basis for technical and economic cooperation.<br>In this context the target areas for equal participation which should be of special interest:</p>
        <ul>
            <li><strong>Rule 5. Accessibility</strong><br>
                States should recognize the overall importance of accessibility in the process of the equalization of opportunities in all spheres of society. For persons with disabilities of any kind, States should (a) introduce programmes of action to make the physical environment accessible; and (b) undertake measures to provide access to information and communication.</li>
            <li><strong>Rule 6. Education</strong><br>States should recognize the principle of equal primary, secondary and tertiary educational opportunities for children, youth and adults with disabilities, in integrated settings. They should ensure that the education of persons with disabilities is an integral part of the educational system.</li>
            <li><strong>Rule 7. Employment</strong><br>States should recognize the principle that persons with disabilities must be empowered to exercise their human rights, particularly in the field of employment. In both rural and urban areas they must have equal opportunities for productive and gainful employment in the labour market.</li>
            <li><strong>Rule 8. Income maintenance and social security</strong><br>States are responsible for the provision of social security and income maintenance for persons with disabilities.</li>
            <li><strong>Rule 9. Family life and personal integrity</strong><br>States should promote the full participation of persons with disabilities in family life. They should promote their right to personal integrity and ensure that laws do not discriminate against persons with disabilities with respect to sexual relationships, marriage and parenthood.</li>
            <li><strong>Rule 10. Culture</strong><br>States will ensure that persons with disabilities are integrated into and can participate in cultural activities on an equal basis.</li>
            <li><strong>Rule 11. Recreation and sports</strong><br>States will take measures to ensure that persons with disabilities have equal opportunities for recreation and sports.</li>
            <li><strong>Rule 12. Religion</strong><br>States will encourage measures for equal participation by persons with disabilities in the religious life of their communities.</li>
        </ul>
        <p>Read more about <enable-link href="http://www.un.org/esa/socdev/enable/dissre00.htm">UN Standard rules</enable-link>.</p>
        <h4>Education for All</h4>
 <div layout="row" layout-margin>
            <div style="width: 30%"><enable-image picname="EFA.jpg" picalt="Education for All"></div>
            <div style="width: 5%"></div>
            <div style="width: 65%"><p>Uganda, Kenya and Tanzania have all signed the declaration "The Dakar Framework for Action, Education for All".<br>Goal number 2 (of 6) in this framework mentions that children with special needs and other marginalized groups, should be given the opportunity to complete a good quality primary education.<br>The comment according to the second goal says:<br> "Education systems must be inclusive, actively seeking out children who are not enrolled,
and responding flexibly to the circumstances and needs of all learners."
<br>Download<enable-link href="http://unesdoc.unesco.org/images/0012/001211/121147e.pdf">The Dakar Framework for Action</enable-link></p></div>
</div>
<p>As the 2015 target year for the six internationally agreed education goals in Education for All (EFA) and the Millennium Development Goals (MDGs) draws near, there is a need to articulate the vision, shape and scope of post 2015 education goals. According to UNESCO there are ongoing reflections and debates about the future education.</p>

    <<p>Read more about <enable-link href="http://en.unesco.org/post2015/">UNESCOs contribution</enable-link></p>


    </div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
