<meta name="categories" content="">
<div ng-controller="HearingCtrl" layout="column" class="partial">
    <enable-section-header picpath="africa00.jpg" picalt="Banner image description comes here" title="Dual Sensory Impairments"></enable-section-header>

    <div ayout-padding layout="column" class="partialContent">
        <h3>Introduction</h3>
        <h3>One plus one equals three</h3>
        <enable-quotebox e-type="quote">A common belief is that people with deafblindness live in a completely silent and dark world and that they are often born with deafblindness.</enable-quotebox>
        <p>Most people with dual sensory impairments have a residual vision or hearing residue or both that they can utilize if provision is made for it.</p>
        <><li>People who have impaired vision will become dependent on hearing to receive and interpret sounds that can support visual impressions. </li>
            <li>Likewise people who are hard of hearing will depend on the information and support they receive through sight. </li>
        <li>When both the vision and hearing senses are impaired it means that the person cannot compensate by adopting another the other sense.</li></ul> <p>When the difficulties are so severe that hearing cannot compensate for vision loss and hearing loss cannot be compensated for with vision, the term deafblindness is used.<br> This is a concentration demanding and exhausting situation.</p>
        <h3>What is deafblindness</h3>
        <p>There is estimated 14.000 deafblind people in Uganda (of a population of 35 million people), 17.000 people in Kenya ( of 42 million people) and 18.600 people in Tanzania out of a population of 46 million people.(Source: senseinternational.org.uk)</p>
        <p>The National Association of the Deafblind in Uganda defines the term deafblindness as follows:</p>
        <enable-grey-box e-type="quote">
            ”Deafblindness is a unique category whereby a person has a combination of severe degrees of hearing and sight loss. </enable-grey-box>
        <p>The nordic definition of deafblindness expand this definition with taking limitations and restrictions into account:</p>
        <enable-grey-box e-type="quote">Deafblindness is a distinct disability.
            Deafblindness is a combined vision and hearing disability. It limits activities of a person and restricts
            full participation in society to such a degree that society is required to facilitate specific services, environmental
            alterations and/or technology.</enable-grey-box>


        <p>For clarifing the definition some comments are added.</p>
        <enable-read-more label=" Read more about these comments">
<ol><li>Vision and hearing are central in getting information. Therefore a decrease in the function of these two senses that carry information from distance increases the need to use senses that are confined to information within reach (tactile, kinaesthetic, haptic, smell and taste), as well as leaning on memory and deduction.</li>
<li>The need for specific alterations regarding environment and services depends on
<ul>
<li>the time of on-set in relation to communicative development and language acquisition; </li>
<li>the degree of the hearing and vision disability, whether it is combined with other disabilities </li>
</ul>and whether it is stable or progressive. </li>
<li>A person with deafblindness may be more disabled in one activity and less disabled in another activity. Therefore each activity and participation in it needs to be assessed separately. Variation in functioning within each activity and participation in it may also be caused by environmental conditions and by internal personal factors. </li>
<li>Deafblindness causes varying needs for co-creating alterations in all activities and especially in
<ul><li>all kinds of information;</li>
<li>social interaction and communication;</li>
<li>spatial orientation and moving around freely; </li>
<li>activities of daily life and effort demanding </li>
<li>near-activities including reading and writing. </li></ul>

Co-creating means that the person with deafblindness and the environment are equally involved. The responsibility for this to occur lies on society. </li>
<li>An interdisciplinary approach including specific know-how related to deafblindness is needed in service delivery and environmental alterations.</li>
</ol>
</enable-read-more>
<h4>Acquirement of deafblindness</h4>
<p>The definitions say nothing about how deafblindness is acquired. It is common to distinguish between <strong>congenital</strong> and <strong>acquired</strong> visual and hearing impairments. Many have had normal vision and / or good hearing earlier in life, but illness, injury or age has weakened senses so much that one uses the term deafblindness.</p>







<h4>One plus one is three</h4>

<p>Deafblindness entails major limitations and may affect all or some of the following:</p>
        <ul><li>Communication</li>
    <li>Access to information, education and employment</li>
    <li>Orientation and mobility</li>
            <l>Learning</l>
            <li>Social relationships</li>
            <li>Isolation</li>
            <li>Confidence and self-esteem</li>
            <li>Independence in daily living skills</li>
            <li>Access interpreters and to aids and equipment because of cost</li>
        </ul>
        <p>The limitations can all cause fatigue and frustration in dealing with everyday situations.</p>
 <h4>Causes of deafblindness</h4>
        <ul><li>Rare diseases and infectious diseases that involves both sight and hearing impairments.</li>
        <li>Random combinations of various injuries / diseases that affect both visual and auditory function.</li>
        <li>Usher syndrome. People with this syndrome experience a gradual loss of their hearing or they are born hard of hearing or deaf, and sight is gradually reduced as a result of eye disease retinitis pigmentosa.
            <enable-read-more label=" Read more about Usher syndrome">
                <h5>Usher syndrome has three clinical subtypes:</h5>
                <ul><li>Usher syndrome I. People are born profoundly deaf, and begin to lose their vision in the first decade of life. They also exhibit balance difficulties, and learn to walk slowly as children, due to problems in their vestibular system.</li>
                <li>Usher syndrome II. People are not born deaf, but do have hearing loss. They do not seem to have noticeable problems with balance; they also begin to lose their vision later and may preserve some vision even into middle age.</li>
                <li>Usher syndrome III. People with are not born deaf, but experience a gradual loss of their hearing and vision; they may or may not have balance difficulties.</li>
                </ul>
        </li>
            <li>CHARGE syndrome is a rare condition with multiple severe congenital malformations.</li><li>Age-related diseases affecting vision and hearing.</li></ul>
        <p>Sources: sansetap.no, eikholt.no, dbansw.org.au</p>
</div>

    <div ng-include src="'partials/templates/footer-template.html'"></div>
</div>
